﻿
@{
    Layout = null;
}

<hr />
<div class="row">
    <div class="col-md-7"><a class="btn btn-default btn-cancel" href="@Url.Action("Index")"><i class="fa fa-times"></i> Abbrechen</a></div>
    @if (ViewData["Customer"] != null)
    {
        <div class="col-md-1"><button id="getReportBtn" type="button" url="@ViewData["Report"]" class="getReportBtn btn btn-default">Report</button></div>
    }
    <div class="col-md-1">  <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    @if (ViewData["Report"] != null)
    {
        <div class="col-md-1"><button id="getReportBtn" type="button" url="@ViewData["Report"]" class="getReportBtn btn btn-default" >Report</button></div>
    }
</div>