﻿
@{
    Layout = null;
}

@*//--------------------------------------------------------------Start Pagging
*@<div class="TableNaviFrame">
    <div class="TableNaviStats">
        Seite @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) von @Model.PageCount<br>
        Eintrag @Model.FirstItemOnPage bis @Model.LastItemOnPage von @Model.TotalItemCount
    </div>
    <div class="pagination-container TableNaviSite">
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li><a pn="1" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            }
            @if (Model.PageCount > 3)
            {
                if (Model.PageNumber < 4)
                {
                    for (int i = 1; i <= Model.PageNumber + 2; i++)
                    {
                        <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                    }
                }
                else if (Model.PageNumber > Model.PageCount - 2)
                {
                    for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                    {
                        <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                    }
                }
                else
                {
                    for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                    {
                        <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                    }
                }
            }
            else
            {
                for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                }
            }
            @if (Model.PageNumber != Model.PageCount)
            {
                <li><a pn="@Model.PageCount" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            }
        </ul>
    </div>
    <div class="TableNaviCount">
        <select onchange="pageCountFilterChange(this)" class="pagesize form-control" style="">
            @{
                List<int> pageSize = new List<int>() { 5, 10, 50, 100, 200 };
            }
            @foreach (int u in pageSize)
            {
                if (u.Equals(Model.PageSize))
                {
                    <option selected>@u</option>
                }
                else
                {
                    <option>@u</option>
                }
            }
        </select>
    </div>
</div>
@*--------------------------------------------------------------End Pagging
*@