﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Standard>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Standard">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Norm Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <table url="@Url.Action("ChooseStandard","md_masterData_Aggregates", new { area = "MasterData" } )" class="table table-hover table-condensed" tablename="md_masterData_Standard" editUrl="@Url.Action("Edit", "md_masterData_Standard", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Standard", new { area = "masterData" })">
        <thead>
            <tr class="caption">
                <th editable="false" colname="Id" style="display:none">@Html.DisplayNameFor(model => model[0].Id)</th>
                <th editable="false" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                <th editable="true" colname="ShortName" style="">@Html.DisplayNameFor(model => model[0].ShortName)</th>
                <th editable="true" colname="Description" style="">@Html.DisplayNameFor(model => model[0].Description)</th>
            </tr>
            <tr>
                <th style="display:none" class="head-filter" columnname="Name" tablename="md_masterData_Standard"></th>
                <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Standard"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Standard"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                <th style="" class="head-filter" columnname="Description" tablename="md_masterData_Standard"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id" onclick="standard(this)">
                    <td columnname="Id" style="display:none" tablename="md_masterData_Standard">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td columnname="Name" style="" tablename="md_masterData_Standard">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td columnname="ShortName" style="" tablename="md_masterData_Standard">@Html.DisplayFor(modelItem => item.ShortName)</td>
                    <td columnname="Description" style="" tablename="md_masterData_Standard">@Html.DisplayFor(modelItem => item.Description)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>

<script>
    function standard(e) {
        $("#standard_Name").val($(e).closest("tr").find("td[columnname='Name']").text().trim());
        $("#SId input").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#standard_ShortName").val($(e).closest("tr").find("td[columnname='ShortName']").text().trim());
        $("#Modal").modal("hide");
    }
</script>