﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Deliverer>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Deliverer">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Lieferanten Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    @*<p>
        <button class="btn btn-default" onclick="location.href='@Url.Action("Create", "md_masterData_Deliverer", new { area = "MasterData" })'">Lieferant erstellen</button>
        <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
    </p>*@
    <a class="btn btn-default" href="@Url.Action("Create","md_masterData_Deliverer", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neue Lieferant</a>
    <a class="btn btn-default" onclick="refresh()"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <!--<table class="table table-hover table-condensed" tablename="md_masterData_Deliverer" editUrl="@Url.Action("Edit", "md_masterData_Deliverer", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Deliverer", new { area = "masterData" })" detailsUrl="@Url.Action("Details", "md_masterData_Contact", new { area = "MasterData" })">-->
        <table class="table table-hover table-condensed" tablename="md_masterData_Deliverer" editUrl="@Url.Action("Edit", "md_masterData_Deliverer", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Deliverer", new { area = "masterData" })">
            <thead>
                <tr class="caption">
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="DelivererId" style="">
                        @Html.DisplayNameFor(model => model[0].DelivererId)
                    </th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="Street" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.Street)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="ZipCode" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.ZipCode)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="City" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.City)
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="DelivererId" tablename="md_masterData_Deliverer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Deliverer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="Street" tablename="md_masterData_Deliverer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="ZipCode" tablename="md_masterData_Deliverer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="City" tablename="md_masterData_Deliverer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value" columnname="DelivererId" style="" tablename="md_masterData_Deliverer">
                            @Html.DisplayFor(modelItem => item.DelivererId)
                        </td>
                        <td class="column-value" columnname="Name" style="" tablename="md_masterData_Deliverer">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="column-value" columnname="Street" style="" tablename="md_masterData_Deliverer">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.Street)
                        </td>
                        <td class="column-value" columnname="ZipCode" style="" tablename="md_masterData_Deliverer">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.ZipCode)
                        </td>
                        <td class="column-value" columnname="City" style="" tablename="md_masterData_Deliverer">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.City)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)

        <br />
    </div>
</div>
