﻿@model PCMS.Areas.LIMS.Models.lims_morat_Test

@{
    ViewBag.Title = "Ausgangs Prüfung erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/Scripts/Chart.js"></script>
<script src="~/Scripts/GradingRuelChart.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_t.cshtml")
    <div class="panel panel-default">
        <div class="panel-heading" onclick="togglePanalBody(this)">
            <h3 class="panel-title">Prüfung <i style="float:right" class="fa fa-chevron-up"></i></h3>
        </div>
        <div style="" class="panel-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaterilaNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MaterilaNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaterilaNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StrengthClass, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.StrengthClass, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StrengthClass, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProbPlace, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.ProbPlace, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("ProbPlace", null, new { @class = "form-control select2", @menuid = "1" })
                                @Html.ValidationMessageFor(model => model.ProbPlace, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConstruktionSite, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ConstruktionSite, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConstruktionSite, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Lieferdatum&quot; muss eine Datumsangabe sein." data-val-required="Das Feld &quot;Lieferdatum&quot; ist erforderlich." id="DeliveryDate" name="DeliveryDate" type="date" value="">
                                @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control", @onkeyup = "LotCheck()" } })
                                @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <input type="button" onclick="getLoadingOrder('/LIMS/lims_morat_test/choosLoadingOrder')" value="suchen" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        
                    </div>
                    <div class="col-lg-3">
                        <input disabled id="getReportBtn" url="/Material/md_material_MaterialMoving/ReportLot" class="getReportBtn form-control head-filter-value text-box single-line" name="Number" eType="pdf" type="button" value="Bericht">
                    </div>
                    </div>



            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" onclick="togglePanalBody(this)">
            <h3 class="panel-title">MaterialSiebung <i style="float:right" class="fa fa-chevron-up"></i></h3>
        </div>
        <div style="" class="panel-body">

            <table>
                <thead>
                    <tr>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve0_125, htmlAttributes: new { @class = "control-label" })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve0_25, htmlAttributes: new { @class = "control-label" })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve0_5, htmlAttributes: new { @class = "control-label " })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve0_71, htmlAttributes: new { @class = "control-label" })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve1_0, htmlAttributes: new { @class = "control-label " })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve1_25, htmlAttributes: new { @class = "control-label" })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve1_6, htmlAttributes: new { @class = "control-label" })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve2_0, htmlAttributes: new { @class = "control-label" })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve4_0, htmlAttributes: new { @class = "control-label" })</th>
                        <th style="text-align: center;">@Html.LabelFor(model => model.Sieve8_0, htmlAttributes: new { @class = "control-label" })</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td>@Html.EditorFor(model => model.Sieve0_125, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve0_125, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve0_25, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve0_25, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve0_5, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve0_5, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve0_71, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve0_71, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve1_0, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve1_0, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve1_25, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve1_25, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve1_6, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve1_6, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve2_0, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve2_0, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve4_0, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve4_0, "", new { @class = "text-danger" })</td>
                        <td>@Html.EditorFor(model => model.Sieve8_0, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Sieve8_0, "", new { @class = "text-danger" })</td>
                    </tr>
                </thead>
            </table>
            <canvas id="moratChart" width="450" height="350"></canvas>
            <br />
            <div class="row" style="padding-top:15px">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.TesterName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.ProbPlace, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("TesterName", null, "--Bitte wählen--", new { @class = "form-control select2", @menuid = "2" })
                        @Html.ValidationMessageFor(model => model.TesterName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading" onclick="togglePanalBody(this)">
                    <h3 class="panel-title">Frischmörtelkennwerte <i style="float:right" class="fa fa-chevron-up"></i></h3>
                </div>
                <div style="" class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshProbDate, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @*@Html.EditorFor(model => model.FreshProbDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Prüfungsdatum&quot; muss eine Datumsangabe sein." data-val-required="Das Feld &quot;Prüfungsdatum&quot; ist erforderlich." id="FreshProbDate" name="FreshProbDate" type="date" value="">
                                @Html.ValidationMessageFor(model => model.FreshProbDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshWatherContent, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FreshWatherContent, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FreshWatherContent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshSlump, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FreshSlump, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FreshSlump, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshSlumpFlow, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FreshSlumpFlow, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FreshSlumpFlow, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshMoratDensity, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FreshMoratDensity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FreshMoratDensity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshAirContent, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FreshAirContent, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FreshAirContent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshCup250, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FreshCup250, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FreshCup250, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FreshComment, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FreshComment, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FreshComment, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TesterName2, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @*@Html.EditorFor(model => model.ProbPlace, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("TesterName2", null, "--Bitte wählen--", new { @class = "form-control select2", @menuid = "2" })
                                @Html.ValidationMessageFor(model => model.TesterName2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading" onclick="togglePanalBody(this)">
                    <h3 class="panel-title">Festmörtelkennwerte <i style="float:right" class="fa fa-chevron-up"></i></h3>
                </div>
                <div style="" class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FixedPropDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @*@Html.EditorFor(model => model.FixedPropDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Prüfungsdatum&quot; muss eine Datumsangabe sein." data-val-required="Das Feld &quot;Prüfungsdatum&quot; ist erforderlich." id="FixedPropDate" name="FixedPropDate" type="date" value="">
                                @Html.ValidationMessageFor(model => model.FixedPropDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                Tage: <span id="dayDiff" ></span>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <div class="col-lg-2"></div><div class="col-lg-2">1</div><div class="col-lg-2">2</div><div class="col-lg-2">3</div><div class="col-lg-2">M</div><div class="col-lg-2">&ensp;</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FixedMoratDensity0, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedMoratDensity0, new { htmlAttributes = new { @class = "form-control density" } })
                                @Html.ValidationMessageFor(model => model.FixedMoratDensity0, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedMoratDensity1, new { htmlAttributes = new { @class = "form-control density" } })
                                @Html.ValidationMessageFor(model => model.FixedMoratDensity1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedMoratDensity2, new { htmlAttributes = new { @class = "form-control density" } })
                                @Html.ValidationMessageFor(model => model.FixedMoratDensity2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedMoratDensityM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.FixedMoratDensityM, "", new { @class = "text-danger" })
                            </div>

                        </div>




                        <div class="form-group">
                            @Html.LabelFor(model => model.FixedFlexuralStrength0, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedFlexuralStrength0, new { htmlAttributes = new { @class = "form-control strength" } })
                                @Html.ValidationMessageFor(model => model.FixedFlexuralStrength0, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedFlexuralStrength1, new { htmlAttributes = new { @class = "form-control strength" } })
                                @Html.ValidationMessageFor(model => model.FixedFlexuralStrength1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedFlexuralStrength2, new { htmlAttributes = new { @class = "form-control strength" } })
                                @Html.ValidationMessageFor(model => model.FixedFlexuralStrength2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedFlexuralStrengthM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.FixedFlexuralStrengthM, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FixedCompressiveStrength0, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedCompressiveStrength0, new { htmlAttributes = new { @class = "form-control compressive" } })
                                @Html.ValidationMessageFor(model => model.FixedCompressiveStrength0, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedCompressiveStrength1, new { htmlAttributes = new { @class = "form-control compressive" } })
                                @Html.ValidationMessageFor(model => model.FixedCompressiveStrength1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedCompressiveStrength2, new { htmlAttributes = new { @class = "form-control compressive" } })
                                @Html.ValidationMessageFor(model => model.FixedCompressiveStrength2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FixedCompressiveStrengthM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.FixedCompressiveStrengthM, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FixedMoratDensity24h105C, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FixedMoratDensity24h105C, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FixedMoratDensity24h105C, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TesterName3, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.EditorFor(model => model.ProbPlace, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("TesterName3", null, "--Bitte wählen--", new { @class = "form-control select2", @menuid = "2" })
                                @Html.ValidationMessageFor(model => model.TesterName3, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_b.cshtml")

}


<script type="text/javascript">
    var GradingRuleChart;
    var label = [];
    var da = [];
    var data = {
        labels: label,
        datasets: [
            {
                label: "A",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgb(4, 42, 239)",
                pointColor: "rgb(4, 42, 239)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(4, 42, 239)",
                data: da,
            },
        ]
    }
    $("table th").each(function (i, e) {
        label.push($(e).text().trim());
    })
    function createDia() {
        if (GradingRuleChart)
            GradingRuleChart.destroy();
        var ctx = $("#moratChart").get(0).getContext("2d");
        GradingRuleChart = new Chart(ctx).Line(data, config);
    }
    function calcMoratDiff() {
        $("#dayDiff").text(calcDayDiff(getDateFromVal($("#FreshProbDate").val()), getDateFromVal($("#FixedPropDate").val())));
    }
    function calcDayDiff(dat1, dat2) {
        return Math.round(((dat2 - dat1) / (24 * 60 * 60 * 1000)));

    }
    function getDateFromVal(val) {
        var ar = val.split("-");
        return new Date(parseInt(ar[0]), parseInt(ar[1]) - 1, parseInt(ar[2]))
    }
    $(document).on("ready", function () {
        $("input[type='datetime-local']").val(getDateTimeLocal());
        $("input[type='date']").val(getDateTimeLocal("date"));
        createDia();
        //calcDiff on start
        var dat = getDateFromVal($("#FreshProbDate").val());
        dat = new Date(dat.getTime() + 28 * 24 * 60 * 60 * 1000);
        $("#FixedPropDate").val(dat.getFullYear() + "-" + ((dat.getMonth() + 1).toString().length === 1 ? '0' + (dat.getMonth() + 1).toString() : dat.getMonth() + 1) + "-" + (dat.getDate().toString().length === 1 ? '0' + dat.getDate().toString() : dat.getDate()));
        calcMoratDiff();
        //---
        $("#FreshProbDate").on("change", function () {
            var dat = getDateFromVal($("#FreshProbDate").val());
            dat = new Date(dat.getTime() + 28 * 24 * 60 * 60 * 1000);
            $("#FixedPropDate").val(dat.getFullYear() + "-" + ((dat.getMonth() + 1).toString().length === 1 ? '0' + (dat.getMonth() + 1).toString() : dat.getMonth() + 1) + "-" + (dat.getDate().toString().length === 1 ? '0' + dat.getDate().toString() : dat.getDate()));
            calcMoratDiff();
        })
        $("#FixedPropDate").on("change", function () {
            calcMoratDiff();
        })

        $("table td input").each(function (i, e) {
            if ($(e).val() == "")
                $(e).val("0");
        });
        $("table td input").on("change", function () {
            calcSive();
            createDia();
        });
        var $eventSelect = $(".select2").select2({
            tags: true,
            allowClear: true
        });
        $eventSelect.on("select2:select", function (e) { createSelecMenu(e); });
        $eventSelect.on("select2:unselect", function (e) { deleteSelectMenu(e); });

        $(".density").on("change", function () {
            var count = 0;
            var su = 0;
            $(".density").each(function (i, e) {
                if ($(e).val() != "" && !isNaN($(e).val().replace(",", "."))) {
                    su += parseFloat($(e).val().replace(",", "."));
                    count++;
                }
            })
            su = (su / count).toFixed(2).toString().replace(".", ",");
            $("#FixedMoratDensityM").val(su);
        });
        $(".strength").on("change", function () {
            var count = 0;
            var su = 0;
            $(".strength").each(function (i, e) {
                if ($(e).val() != "" && !isNaN($(e).val().replace(",", "."))) {
                    su += parseFloat($(e).val().replace(",", "."));
                    count++;
                }
            })
            su = (su / count).toFixed(2).toString().replace(".", ",");
            $("#FixedFlexuralStrengthM").val(su);
        });
        $(".compressive").on("change", function () {
            var count = 0;
            var su = 0;
            $(".compressive").each(function (i, e) {
                if ($(e).val() != "" && !isNaN($(e).val().replace(",", "."))) {
                    su += parseFloat($(e).val().replace(",", "."));
                    count++;
                }
            })
            su = (su / count).toFixed(2).toString().replace(".", ",");
            $("#FixedCompressiveStrengthM").val(su);
        })
    })
    function calcSive() {
        da = [];
        $("table td input").each(function (i, e) {
            var val = $(e).val().replace(",", ".");
            if (isNaN(val) || !$(e).val())
                da.push(null);
            else {
                da.push(parseFloat(val));
            }
        })
        data.datasets[0].data = da;
    } $(document).ready(function () {


    })
    function createSelecMenu(e) {
        var tagName = e.params.data.text;
        var isNew = $(e.currentTarget).find('[data-select2-tag="true"]');
        var menuId = $(e.currentTarget).attr("menuid");
        if (isNew.length) {
            $.ajax({
                url: '@Url.Action("CreateTag","lims_morat_test", new { area="Lims" })',
                type: "POST",
                dataType: "text",
                dataType: "json",
                //contentType: 'application/json',
                data: { tagName: tagName, menuId: menuId },
                success: function (data) {
                    isNew.replaceWith('<option selected value="' + data.value + '" >' + isNew.val() + '</option>');
                }
            });
        }

    }
    function deleteSelectMenu(e) {
        var tagName = e.params.data.text;
        //alert(tagName);
        var isNew = $(e.currentTarget).find('[value="' + tagName + '"]');
        var sel2 = $(isNew).closest(".select2");
        var menuId = $(e.currentTarget).attr("menuid");

        $.ajax({
            url: '@Url.Action("DeleteTag", "lims_morat_test", new { area = "Lims" })',
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: { tagName: tagName, menuId: menuId },
            success: function (data) {
                $(isNew).closest(".select2").select2("destroy");
                isNew.remove();
                var $eventSelect = sel2.select2({
                    tags: true,
                    allowClear: true
                })
                $eventSelect.on("select2:select", function (e) { createSelecMenu(e); });
                $eventSelect.on("select2:unselect", function (e) { deleteSelectMenu(e); });
            }
        });
    }
    function getLoadingOrder(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "POST",
            dataType: "text",
            data: { dateFrom: $(".date-from").val(), dateTo: $(".date-to").val() },
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                choosLodingOrder("Material", data, ["", ""]);
            }
        });
    }

    function choosLodingOrder(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
    function choosLoding(e) {
        $("#aggre").modal("hide");
        $("#MaterilaNumber").val($(e).closest("tr").find("td[columnName='MaterialNumber']").text());
        $("#OrderNumber").val($(e).closest("tr").find("td[columnName='OrderId']").text());
        $("#DeliveryDate").val($(e).closest("tr").find("td[columnName='RegistrationDate']").text().split(" ")[0]);
        LotCheck();

    }
    function LotCheck() {
        var OrderNo = $("#OrderNumber").val();
        $.getJSON("@Url.Action("checkOrderNumber","md_material_MaterialMoving", new { area="Material" })", { OrderNumber: OrderNo }, function (data) {
            if (data == true) {
                $("#getReportBtn").prop("disabled", false);
            }
            else {
                $("#getReportBtn").prop("disabled", true);
            }
        });
    }


</script>