﻿@model PCMS.Areas.LIMS.Models.lims_morat_Test

@{
    ViewBag.Title = "Löschen";
    Layout = null;
}


<h3>Wollen sie die Probe sicher löschen?</h3>
<div>

    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.MaterilaNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterilaNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrengthClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrengthClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstruktionSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstruktionSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Sieve0_125)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve0_125)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve0_25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve0_25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve0_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve0_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve0_71)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve0_71)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve1_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve1_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve1_25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve1_25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve1_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve1_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve2_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve2_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve4_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve4_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieve8_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieve8_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshProbDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshProbDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshWatherContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshWatherContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshSlump)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshSlump)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshSlumpFlow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshSlumpFlow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshMoratDensity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshMoratDensity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshAirContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshAirContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshCup250)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshCup250)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreshComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreshComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedPropDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedPropDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedMoratDensity0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedMoratDensity0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedMoratDensity1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedMoratDensity1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedMoratDensity2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedMoratDensity2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedMoratDensityM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedMoratDensityM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedMoratDensity24h105C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedMoratDensity24h105C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedFlexuralStrength0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedFlexuralStrength0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedFlexuralStrength1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedFlexuralStrength1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedFlexuralStrength2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedFlexuralStrength2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedFlexuralStrengthM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedFlexuralStrengthM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedCompressiveStrength0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedCompressiveStrength0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedCompressiveStrength1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedCompressiveStrength1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedCompressiveStrength2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedCompressiveStrength2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedCompressiveStrengthM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedCompressiveStrengthM)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
