﻿@model PCMS.Areas.Admin.Models.facilities

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<h2>Löschen</h2>

<h3>Sicher das sie dies löschen wollen?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseMixingLines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseMixingLines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MixingLines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MixingLines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concrete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concrete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mortar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mortar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
