﻿@using PCMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Anmelden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>Login - PCMS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    <link href="~/Content/metisMenu.min.css" rel="stylesheet">
</head>
<body>

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bitte anmelden</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="row">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.RememberMe, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(m => m.RememberMe, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>*@
                                        <!-- Change this to a button or input when using this as a form -->
                                        <input type="submit" value="Anmelden" />
                                        <br />
                                        @Html.ValidationSummary(true)
                                    </div>
                                </fieldset>
                            </form>
                            @Html.ActionLink("Registrieren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @*@Scripts.Render("~/bundles/bootstrapJs")*@
    }
</body>
</html>