﻿@model PagedList.IPagedList<PCMS.Areas.RecipeM.Models.md_equipment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "md_equipmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_equipment">
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("choosEquipment","md_recipe_RecipeM", new { area = "RecipeM" } )" class="table table-hover table-condensed" tablename="md_equipment" editUrl="@Url.Action("Edit", "md_equipment", new { area = "Order" })" deleteUrl="@Url.Action("Delete", "md_equipment", new { area = "Order" })" detailsUrl="@Url.Action("Details", "md_equipment", new { area = "Order" })">
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Number" style="">
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnName="Id" tableName="md_equipment">
                    </th>
                    <th style="" class="head-filter" columnName="Number" tableName="md_equipment">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.Number" />
                    </th>
                    <th style="" class="head-filter" columnName="Description" tableName="md_equipment">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.Description" />
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" ondblclick="getEquipmentById(this, 'equipment')">
                        <td class="column-value-modal" isKey="true" columnName="Id" style="" tableName="md_equipment">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="column-value-modal" isKey="false" columnName="Number" style="" tableName="md_equipment">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td class="column-value-modal" isKey="false" columnName="Description" style="" tableName="md_equipment">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <button onclick="getEquipmentById(this,'equipment')">hinzufügen</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    </div>
</div>