﻿@model PCMS.Areas.RecipeM.Models.md_recipe_RecipeM





<div id="PanelDryValues" class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li><a class="active" href="#tabSort" data-toggle="tab">Fabrikat</a></li>
        </ul>
        @* <h3 class="panel-title"><span></span>Trockenwerte<i style="float:right" class="fa fa-chevron-up"></i></h3>*@
    </div>

    <div style="" class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabSort">
                <div class="row">
                    <table class="table" id="RecepiSorts" style="margin-top: 50px;">
                        <thead>
                            <tr>
                                <th>Artieknummer</th>
                                <th>Bezeichnung</th>
                                <th>Gültig</th>
                                <th>Aktiv</th>
                                <th>Optionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.RecipeConcrete != null)
                                {
                                    foreach (var item in Model.RecipeConcrete)
                                    {
                                        <tr class="sort" id="@item.Md_material_Material.Id" materialtype="@item.Md_material_Material.MaterialGroupId"><td class="articelNumber">@item.Md_material_Material.ArticleNumber</td><td class="decription">@item.Md_material_Material.Name</td><td class="Valid"><select><option @((item.Valid) == 0 ? "selected" : "") value="0">---</option><option @((item.Valid) == 1 ? "selected" : "") value="1">Standard</option><option @((item.Valid) == 2 ? "selected" : "") value="2">Sommerrezept</option><option @((item.Valid) == 3 ? "selected" : "") value="3">Winterrezept</option></select></td><td><input class="activ" @((item.Active) ? "checked" : "") type="checkbox"></td><td class=""><a href="#"><i title="entfernen" onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>
                                    }
                                }

                            }
                            
                            <tr class="addTr"><td></td><td></td><td></td><td></td><td><button type="button" onclick="addMaterial('/RecipeM/md_recipe_RecipeM/choosConcrete')"><i style="color:green" class="fa fa-plus"></i> Fabrikat Hinzufügen</button></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

