﻿@model PCMS.Areas.RecipeM.Models.md_recipe_RecipeM
@{
    ViewBag.Title = "Rezept bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Panel_w_Tabs.css" rel="stylesheet">
<style>
    table tr[type="1"] {
        background-color: rgba(26, 33, 243, 0.32);
    }

    table tr[type="2"] {
        background-color: rgba(38, 46, 255, 0.69);
    }

    /*table tr[type="3"] {
        background-color: rgba(160, 199, 150, 0.69);
    }*/
    table tr[scaletype="0"] {
        background-color: rgb(255, 255, 255);
    }

    table tr[scaletype="1"] {
        background-color: rgba(243, 227, 41, 0.32);
    }

    table tr[scaletype="2"] {
        background-color: rgba(25, 206, 89, 0.32);
    }

    table tr[scaletype="3"] {
        background-color: rgba(212, 15, 60, 0.32);
    }

    table tr[scaletype="4"] {
        background-color: rgba(202, 137, 39, 0.32);
    }

    table tr[type="3"] {
        background-color: rgb(154, 154, 154);
    }


    .modal-lg {
        max-width: 900px;
        width: 900px;
    }
</style>
<div id="reportContainer" class="col-lg-12" style="display:none"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml", new ViewDataDictionary { { "Report", "/RecipeM/md_recipe_RecipeM/ReportDetail/" }, { "Copy", "/RecipeM/md_recipe_RecipeM/ReportDetail/" } })
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-7">
                <div id="PanelRecipe" class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Rezept <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div style="" class="panel-body">
                        <div class="row">
                            <div style="display:none" class="form-group">
                                @Html.LabelFor(model => model.FacilityId, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @*@Html.EditorFor(model => model.RecipeTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownList("FacilityId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FacilityId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MinCharge, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.MinCharge, new { htmlAttributes = new { @class = "form-control", @onchange = "calcMaSum()" } })
                                    @Html.ValidationMessageFor(model => model.MinCharge, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MaxCharge, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.MaxCharge, new { htmlAttributes = new { @class = "form-control", @onchange = "calcMaSum()" } })
                                    @Html.ValidationMessageFor(model => model.MaxCharge, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MixingTime, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.MixingTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MixingTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>




                        </div>
                        <div class="row" style=" overflow-x: auto;">
                            <table class="table table-condensed" id="gradingCurvMaterialTable" style="margin-top: 50px;">
                                <thead>
                                    <tr><th>Zeile</th><th>Artikelnummer</th><th>Bezeichnung</th><th>Funktion</th><th>Sollwerte</th><th>Dichte</th><th></th></tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.RecipeMaterials)
                                    {

                                        int scalType = 0;
                                        try
                                        {
                                            int scal = Convert.ToInt32((((List<PCMS.Areas.RecipeM.Models.RecipeModelMMaterialDetails>)ViewBag.Details)[Convert.ToInt32(item.Sort)].Number).ToString().Split('-')[0]);
                                            if (scal > 99)
                                            {
                                                scalType = 1;
                                            }

                                            if (scal > 199)
                                            {
                                                scalType = 2;
                                            }

                                            if (scal > 299)
                                            {
                                                scalType = 3;
                                            }

                                            if (scal > 399)
                                            {
                                                scalType = 4;
                                            }

                                        }
                                        catch (Exception e)
                                        {
                                            var u = e;
                                            scalType = 5;
                                        }
                                        string functionType = "";
                                        if (item.Type == 1)
                                        {
                                            functionType = "<select class=\"functionType\" ><option " + ((item.FunctionType) == 1 ? "selected" : "") + " value=\"1\">Dosieren</option><option " + ((item.FunctionType) == 2 ? "selected" : "") + " value=\"2\">Dosieren ent.</option><option " + ((item.FunctionType) == 3 ? "selected" : "") + " value=\"3\">Handzugabe</option></select>";
                                        }

                                        <tr scaleType="@scalType" type="@item.Type" id="@item.MaterialId" class="materialRow"><td class="rowNumber">@(item.Sort + 1 )</td><td class="materialArticleNumber">@(((List<PCMS.Areas.RecipeM.Models.RecipeModelMMaterialDetails>)ViewBag.Details)[Convert.ToInt32(item.Sort)].Number)</td><td class="description">@(((List<PCMS.Areas.RecipeM.Models.RecipeModelMMaterialDetails>)ViewBag.Details)[Convert.ToInt32(item.Sort)].Description)</td><td class="deliverer">@Html.Raw(functionType)</td><td><input class="materialId" name="materialId" type="hidden" value="13"><input class="materialPercent" style="width: 60px;" type="text" value="@item.Value"></td><td class="density">@(((List<PCMS.Areas.RecipeM.Models.RecipeModelMMaterialDetails>)ViewBag.Details)[Convert.ToInt32(item.Sort)].density)</td><td><a href="#"><i title="nach oben bewegen" onclick="moveMaUp(this)" style="" class="fa fa-arrow-up"></i></a><a href="#"><i title="nach unten bewegen" onclick="moveMaDown(this)" style="" class="fa fa-arrow-down"></i></a></td><td><a href="#"><i title="entfernen" onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>

                                    }
                                    @*<tr><td>101</td><td>Waschsand 0/4</td><td>Tannhausen</td><td><input style="width: 60px;" type="number" value="50.00" /></td><td>%</td><td><a href="#"><i style="color:red" class="fa fa-minus"></i></a></td></tr>*@
                                    <tr class="addTr"><td></td><td></td><td></td><td>Summe:</td><td><input readonly="readonly" style="width: 60px;" class="maSum" type="text" value="0" /></td><td><input readonly="readonly" style="width: 60px;" class="vol" type="text" value="0" /></td></tr>
                                    @*<tr><td></td><td></td><td></td><td><input id="percentAll" class="" disabled style="width: 60px;" type="text" value="0" /></td><td>%</td><td></td></tr>*@
                                </tbody>
                            </table>
                            <button type="button" onclick="addMaterial('@Url.Action("choosMaterial", "md_recipe_RecipeM", new { area = "RecipeM" })')"><i style="color:green" class="fa fa-plus"></i>Material hinzufügen</button>
                            @*<button type="button" onclick="addMaterial('@Url.Action("choosEquipment", "md_recipe_RecipeM", new { area = "RecipeM" })')"><i style="color:green" class="fa fa-plus"></i>Equipment hinzufügen</button>*@
                            <button type="button" onclick="addMaterial('@Url.Action("choosRecipe", "md_recipe_RecipeM", new { area = "RecipeM" })')"><i style="color:green" class="fa fa-plus"></i>Rezept hinzufügen</button>
                            <p style="margin-top: 20px;"><b>Fehlerliste:</b></p>
                            <ul style="margin-top: 15px;" class="warning gradingCurvMaterialTableerror">
                                @foreach (var item in (List<PCMS.Areas.RecipeM.Models.RecipeModelMMaterialDetails>)ViewBag.Details)
                                {
                                    if (item.IsDeleted == true)
                                    {
                                        <li><p style="color:red">Materialnummer:"@item.Number" wurde gelöscht</p></li>
                                        //<li class= "list-group-item list-group-item-danger">@item.Number wurde gelöscht</li>


                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                @*-------Trocken-------*@
                @Html.Partial("Create_partial_Panel_w_TabsRight", Model)
                @*------Diagram------*@
                @* @Html.Partial("Create_partial_Diagram", Model, Html.ViewData)*@

            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}

<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/GradingRuelChart.js"></script>
<script type="text/javascript">
    var material = [];
    var siveLine = [];
    var label = [];
    var A, B, C, U = [];





    $("form").submit(function (e) {
        //if ($("#percentAll").val() != "100") {
        //    $("input[type='submit']").parent().append("<p>keine 100% !!!</p>");
        //    event.preventDefault();
        //}

        $(".materialRow").each(function (i, e) {

            var id = $(e).attr("id");
            var type = $(e).attr("type");
            var functionType = 0;
            var value = 0;
            var unit = 0;
            var percent = 0;
            if ($(e).attr("type") == 1) {
                functionType = $(e).find(".functionType").val();
            }
            if ($(e).attr("type") !== "3") {
                value = $(e).find(".materialPercent").val().replace('.', ',');
            }
            $(e).find(".materialId").val(id + "|" + percent + "|" + value + "|" + type + "|" + functionType);
        });
        $("#RecepiSorts tbody .sort").each(function (i, e) {
            //var percent = $(e).find(".materialPercent").val();
            var id = $(e).attr("id");
            var valid = $(e).find(".Valid select").val();
            var active = ($(e).find(".activ").is(':checked')) ? true : false;
            $(e).find(".decription").append('<input name="sort" type="hidden" value="' + id + "|" + valid + "|" + active + '"/>');
        })

        return;
    });

    //function moveMaUp() {
    //    $(".materialRow").each(function (i, e) {
    //        $(this).children(":eq(1)").after($(this).children(":eq(0)"));
    //    });
    //}
    function moveMaUp(e) {
        var row = $(e).closest("tr");
        row.insertBefore(row.prev("tr"));
        writeRowNumbers();
    }
    function moveMaDown(e) {
        var row = $(e).parents("tr:first");
        row.insertAfter(row.next("tr"));
        writeRowNumbers();
    }
    function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseMaterial2("Material", data, ["", ""]);
            }
        });

    }
    function removeMaterial(e) {
        $("#RecipeCalcDensityTable tr[id=" + $(e).closest("tr").attr("id") + "]").remove();
        $("#WRecipeCalcDensityTable tr[id=" + $(e).closest("tr").attr("id") + "]").remove();
        var matr = $(e).closest("tr").find(".materialArticleNumber").text();
        var id = $(e).closest("tr").attr("id");
        $(".gradingCurvMaterialTableerror li[idn='" + id + "']").remove();
        $(e).closest("tr").remove();
        calcMaSum();
        calcKandD();
        calcPosition();
    }
    function getMaterialById(e) {
        //$("#aggre").modal("hide");
        var data = { id: $(e).closest("tr").find("td[columnname='Id']").text().trim() };
        $.ajax({
            url: "@Url.Action("getMaterialbyId", "md_recipe_Recipe", new { area = "recipe" })",
            type: "POST",
            dataType: "json",
            data: data,
            //contentType: 'application/json',
            success: function (data) {
                if (data.MaterialGroupId === 8) { //fabriakt
                    var newTd = '<tr class="sort" id="' + data.Id + '" materialType="' + data.MaterialGroupId + '" ><td class="articelNumber" >' + data.ArticleNumber + '</td><td class="decription">' + data.Name + '</td><td class="Valid"><select><option value=0 >---</option><option value="1">Standard</option><option value="2">Sommerrezept</option><option value="3">Winterrezept</option></select></td><td><input class="activ" type="checkbox"></td><td class=""><a href="#"><i title="entfernen" onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
                    $(newTd).insertBefore("#RecepiSorts .addTr");
                }
                else {
                    var scalType = 0;
                    try {

                        var scal = parseInt(data.ArticleNumber.split("-")[0]);
                        if (scal > 99)
                            scalType = 1;
                        if (scal > 199)
                            scalType = 2;
                        if (scal > 299)
                            scalType = 3;
                        if (scal > 399)
                            scalType = 4;
                    }
                    catch (e) {
                        scalType = 5;
                    }
                    var functionType = '<select class="functionType"><option value="1">Dosieren</option><option value="2">Dosieren entl.</option><option value="3">Handzugabe</option></select>';
                    var newTd = '<tr scaleType="' + scalType + '" type="1" price="' + data.Price + '" id="' + data.Id + '" materialType="' + data.MaterialGroupId + '" density="' + data.Density + '" class="materialRow"><td class="rowNumber"></td><td class="materialArticleNumber">' + data.ArticleNumber + '</td><td>' + data.Name + '</td><td>' + functionType + '</td><td><input class="materialId" name="materialId" type="hidden" value="' + data.Id + '" ><input class="materialPrice" value="' + data.Price + '" type="hidden"><input class="materialPercent" style="width: 60px;" type="text" value="0" /></td><td>' + data.Density + '</td><td><a href="#"><i title="nach oben bewegen" onclick="moveMaUp(this)" style="" class="fa fa-arrow-up"></i></a><a href="#"><i  title="nach unten bewegen" onclick="moveMaDown(this)" style="" class="fa fa-arrow-down"></i></a></td><td><a href="#"><i  title="entfernen" onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
                    $(newTd).insertBefore("#gradingCurvMaterialTable .addTr");
                }
                writeRowNumbers();
                calcMaSum();
            }
        });

    }

    function writeRowNumbers() {
        $(".materialRow").each(function (i, e) {
            $(e).find(".rowNumber").text(i + 1);
            $(e).find(".rowNumber").attr("line", i + 1);
            //$(e).find(".rowNumber").html('<input  style="width:45px" type="text" value="' + (i + 1) + '" >');
            if ($(e).find(".rowNumber input").length != 0) {
                $(e).find(".rowNumber").html( (i + 1));
            }
        });
        $(".materialRow").off("click");
        $(".materialRow").on("click", function () {
            if ($(this).find(".rowNumber input").length == 0) {
                $(".materialRow").each(function (i, e) {
                    if ($(e).find(".rowNumber input").length != 0) {
                        $(e).find(".rowNumber").html($(e).find(".rowNumber input").attr("old"));
                    }
                });
                $(this).find(".rowNumber").html('<input  style="width:45px" old="' + ($(this).find(".rowNumber").text()) + '" type="text" value="' + ($(this).find(".rowNumber").text()) + '" >');
                $(".materialRow input").off("keypress");
                $(".materialRow input").on("keypress", function (e) {
                    if (e.which == 13) {
                        changeSort(this);
                        event.preventDefault();
                    }
                });
            }           
        })
    }
    function changeSort(e) {
        var line = ($(e).closest("tr").clone());
        var number = $(e).closest("tr").find(".rowNumber input").val();
        if ($(e).closest("tbody").find('.rowNumber[line="' + number + '"]').length != 0) {
            $(e).closest("tbody").find('.rowNumber[line="' + number + '"]').closest("tr").before(line);
            $(e).closest("tr").remove();
        }
        writeRowNumbers();
    }
    function getEquipmentById(e) {
        var id = $(e).closest("tr").find("td[columnname='Id']").text().trim();
        var number = $(e).closest("tr").find("td[columnname='Number']").text().trim();
        var name = $(e).closest("tr").find("td[columnname='Description']").text().trim();
        var newTd = '<tr id="' + id + '" type="2" class="materialRow"><td class="rowNumber"></td><td class="materialArticleNumber">' + number + '</td><td>' + name + '</td><td>---</td><td><input class="materialId" name="materialId" type="hidden" value="' + id + '" ><input class="materialPercent" style="width: 60px;" type="text" value="0" /></td><td>Equipment</td><td><a href="#"><i onclick="moveMaUp(this)" style="" class="fa fa-arrow-up"></i></a><a href="#"><i onclick="moveMaUp(this)" style="" class="fa fa-arrow-down"></i></a>    </td><td><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
        $(newTd).insertBefore("#gradingCurvMaterialTable .addTr");
        writeRowNumbers();
    }
    function getRecipeById(e) {
        var id = $(e).closest("tr").find("td[columnname='Id']").text().trim();
        var number = $(e).closest("tr").find("td[columnname='Number']").text().trim();
        var name = $(e).closest("tr").find("td[columnname='Description']").text().trim();
        var newTd = '<tr id="' + id + '" type="3" class="materialRow"><td class="rowNumber"></td><td class="materialArticleNumber">' + number + '</td><td>' + name + '</td><td>---</td><td><input class="materialId" name="materialId" type="hidden" value="' + id + '" ></td><td>Rezept</td><td><a href="#"><i onclick="moveMaUp(this)" style="" class="fa fa-arrow-up"></i></a><a href="#"><i onclick="moveMaUp(this)" style="" class="fa fa-arrow-down"></i></a>  </td><td>  <a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
        $(newTd).insertBefore("#gradingCurvMaterialTable .addTr");
        writeRowNumbers();
    }
    function ChooseMaterial2(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
    function calcMaSum() {
        var maSum = 0;
        var vol = 0;
        $(".materialRow[type='1']").each(function (i, e) {
            var v = parseFloat($(e).find(".materialPercent").val().replace(/,/g, '.'));
            var d = parseFloat($(e).find(".density").text().replace(/,/g, '.'));
            maSum += v;
            vol += d / v;

        });
        $(".maSum").val(String(maSum.toFixed(2)).replace('.', ',') + "kg");
        $(".vol").val(String(vol.toFixed(2)).replace('.', ',') + "m³");

        $(".chargeEr").remove();
        $(".maSumEr").remove();
        $(".sortEr").remove();
        if (parseFloat($("#MinCharge").val().replace(/,/g, '.')) > parseFloat($("#MaxCharge").val().replace(/,/g, '.'))) {
            $(".gradingCurvMaterialTableerror").append('<li class="chargeEr"><p style="color:red">' + $("label[for='MinCharge']").text() + ' größer als ' + $("label[for='MaxCharge']").text() + '</p></li>');
        }
        if (parseFloat($(".maSum").val().replace(/,/g, '.')) != 1000) {
            $(".gradingCurvMaterialTableerror").append('<li class="maSumEr"><p style="color:red">Die Summe:' + parseFloat($(".maSum").val().replace(/,/g, '.')) + ' entspricht nicht 1000</p></li>');
        }
        if ($(".sort").length == 0) {
            $(".gradingCurvMaterialTableerror").append('<li class="sortEr"><p style="color:red">Es wurder kein Fabrikat ausgewählt</p></li>');
        }


    }
    $(document).on("change", ".materialPercent", function () {
        calcMaSum();
        
    });
    $(document).ready(function () {
        $(".materialRow").each(function (i, e) {
            //getMaterialById_2($(e).find(".materialId").val());
        });
        $("#copyModal").on("click", function () {
            CopyRecipe();
        });
        writeRowNumbers();
        //calcPosition();
        //calcGradingCurv();
        //loadSieveRange();
        $("#GradingCurvId").select2({
            theme: "bootstrap",
            language: "de",
            //placeholder: "",
            ajax: {
                url: '@Url.Action("gradingCurvsJson", "md_recipe_Recipe", new { area = "recipe" })',
                dataType: 'json',
                delay: 250,
                type: "POST",
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    $(data.res).each(function (i, e) {
                        e["id"] = e.Id;
                        e["text"] = e.SieveLineNumber;
                    })
                    return {

                        results: data.res,
                    };
                },
                cache: true
            },
            templateResult: formatState,
        }).on("change", function (e) {
            var a = $(".select2-results__option--highlighted div").attr("description");
            $("#Grading-Group").val(a);

        });
        function formatState(state) {
            return $('<div Description="' + state.Description + '" value="' + state.Id + '" data-value="' + state.Id + '" data-selectable="" class="option"><b>' + state.SieveLineNumber + "</b>, [" + state.Description + ']</div>');
        };
        $("#GradingCurvId").on("select2:open", function () {
            $(".select2-search__field").attr("placeholder", "Suchen...");
        })

        calcMaSum();


    });

    function togglePanalBody(e) {
        if ($(e).parent().find("i").hasClass("fa-chevron-down")) {
            $(e).parent().find("i").removeClass("fa-chevron-down");
            $(e).parent().find("i").addClass("fa-chevron-up")
            $(e).parent().find(".panel-body").show();
        }
        else {
            $(e).parent().find("i").addClass("fa-chevron-down");
            $(e).parent().find("i").removeClass("fa-chevron-up")
            $(e).parent().find(".panel-body").hide();
        }
    }
    //--------------------------------------- Modal Filter start
    function headFilterChangeModal(ev) {
        filterModal();
    }
    function headFilterKeyDownModal(ev) {
        if (this.event.keyCode != 13) {
            return;
        }
        filterModal();
    }
    function filterModal(element, para, repUrl) {
        var object = {};
        var tableName = "";
        var filters = [];
        $(".modal-dialog .head-filter").each(function (i, e) {
            var sFilter = {};
            sFilter["colName"] = $(e).attr("columnname");
            if ($(e).find("input").val())
                sFilter["colVal"] = $(e).find("input").val();
            if ($(e).find("select").val())
                sFilter["colVal"] = $(e).find("select").val();
            tableName = $(e).attr("tablename");
            if (sFilter["colVal"])
                filters.push(sFilter);
        });
        var page = $(".tableContent[tablename='" + tableName + "'] .pagination .active a").attr("pn");
        var size = $(".tableContent[tablename='" + tableName + "'] .pagesize").val();
        var _url = window.location.href;
        if (para === "report") {
            //_url = '/Admin/Facilities/Report';
            _url = repUrl;
            object["report"] = true;
        }
        if ($(".modal-dialog table").attr("url"))
            _url = $(".modal-dialog table").attr("url");
        object["page"] = page;
        object["pageSize"] = size;
        object["pagFulFilter"] = filters;
        object["orderCol"] = $(".tableContent[tablename='" + tableName + "'] .sort").attr("colname");
        object["orderDir"] = $(".tableContent[tablename='" + tableName + "'] .sort").attr("order");

        //object["pg"] = object;
        var pg = {};
        pg["pg"] = object;
        $.ajax({
            //url: "/home/roles",
            url: _url,
            type: "POST",
            data: JSON.stringify(pg),
            dataType: "text",
            contentType: 'application/json',

            success: function (data) {
                //$(tableName).parent("table").find("tbody").replaceWith(data);
                $(".tableContent[tablename='" + tableName + "']").replaceWith(data);
                init();
                if (object["orderCol"]) {
                    $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").addClass("sort");
                    if (object["orderDir"] === "desc") {
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").attr("order", "desc");
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").append(' <i class="fa fa-sort-desc"></i>');
                    }
                    else {
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").attr("order", "asc");
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").append(' <i class="fa fa-sort-asc"></i>');
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
                alert(textStatus);
                alert(jqXHR);
            }
        });
    }
    //--------------------------------------- Modal Filter ende

    function CopyRecipe(titel, content, arg) {
        var id = $("#Id").val();
        var number = $("#Number").val();
        var description = $("#Description").val();
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">Rezept kopieren:</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<form action="/RecipeM/md_recipe_RecipeM/copy" method="post">';
        modal += '<div class="row">';
        modal += '<input type="hidden" name="IdCopy" value="' + id + '"/> ';
        modal += '<div class="form-group"><label class="control-label col-md-3" for="NumberCopy">Rezeptnummer</label><div class="col-md-9"><input class="form-control text-box single-line" id="Number" name="NumberCopy" type="text" value="' + number + '"><span class="field-validation-valid text-danger" data-valmsg-for="Number" data-valmsg-replace="true"></span></div></div>';
        modal += '<div class="form-group"><label class="control-label col-md-3" for="DescriptionCopy">Bezeichnung</label><div class="col-md-9"><input class="form-control text-box single-line" id="Description" name="DescriptionCopy" type="text" value="' + description + "-kopie" + '"><span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span></div></div>';
        modal += '<button id="" type="submit" url="" class=" btn btn-default"><i class="fa fa-files-o"></i> Kopieren</button>';
        modal += '</div>';
        modal += '</div>';
        modal += '</form>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }

</script>