﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Baustelle löschen?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.constructionSite.Id)
    @Html.HiddenFor(model => model.constructionSite.Name)
    @Html.HiddenFor(model => model.constructionSite.DeliveryTime)
    @Html.HiddenFor(model => model.constructionSite.DeliveryCycle)
    @Html.HiddenFor(model => model.constructionSite.DistanceTime)
    @Html.HiddenFor(model => model.constructionSite.IsActive)
    @Html.HiddenFor(model => model.constructionSite.IsDeleted)
    @Html.HiddenFor(model => model.constructionSite.AddressId)

    <div>Möchten sie die Baustelle "@Html.DisplayTextFor(model => model.constructionSite.Name)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}