﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Baustelle bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.constructionSite.Id)
    @Html.HiddenFor(model => model.address.Id)
    @Html.HiddenFor(model => model.constructionSite.AddressId)
    @Html.HiddenFor(model => model.constructionSite.CustomerId)

    <div id="cId">@Html.HiddenFor(model => model.constructionSite.CustomerId)</div>

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Baustellendaten</h3></div>
    </div>
    <div><br /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.ConstructionSiteId, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.ConstructionSiteId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.constructionSite.ConstructionSiteId)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.constructionSite.Name)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.DistanceTime, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.DistanceTime, new { htmlAttributes = new { @class = "form-control timepicker-holdOffTime", type = "time", step = 1 } })
                @Html.ValidationMessageFor(model => model.constructionSite.DistanceTime)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <input type="button" class="btn btn-default" value="Kunden auswählen" style="width:240px;" onclick="openModal('@Url.Action("ChooseCustomer","md_masterData_ConstructionSite", new { area = "MasterData" } )', Title='Kunden auswählen')" />
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.Name)
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}

