﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_ConstructionSite>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_ConstructionSide">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Baustellen Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    @*<p>
        <button class="btn btn-default"  onclick="location.href='@Url.Action("Create", "md_masterData_ConstructionSite", new { area = "MasterData" })'">Baustelle erstellen</button>
        <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
    </p>*@

    <a class="btn btn-default" href="@Url.Action("Create","md_masterData_ConstructionSite", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neue Baustelle</a>
    <a class="btn btn-default" onclick="refresh()"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_ConstructionSide" editUrl="@Url.Action("Edit", "md_masterData_ConstructionSite", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_ConstructionSite", new { area = "masterData" })">
            <thead>
                <tr class="caption">
                    
                    <th editable="false" colname="Customer" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Customer.Name)
                    </th>
                    <th editable="false" colname="ConstructionSiteId" style="">
                        @Html.DisplayNameFor(model => model[0].ConstructionSiteId)
                    </th>
                    <th onclick="sort(this)" editable="true" colname="Name" style="">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="Street" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.Street)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="ZipCode" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.ZipCode)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="City" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.City)
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="Customer" tablename="md_masterData_ConstructionSide">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" placeholder="Suchen" type="text" />
                    </th>
                    <th style="" class="head-filter" columnname="ConstructionSiteId" tablename="md_masterData_ConstructionSide">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" placeholder="Suchen" type="text" />
                    </th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_ConstructionSide">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" placeholder="Suchen" type="text"/>
                    </th>
                    <th style="" class="head-filter" columnname="Street" tablename="md_masterData_ConstructionSide">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" placeholder="Suchen" type="text"/>
                    </th>
                    <th style="" class="head-filter" columnname="ZipCode" tablename="md_masterData_ConstructionSide">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" placeholder="Suchen" type="text"/>
                    </th>
                    <th style="" class="head-filter" columnname="City" tablename="md_masterData_ConstructionSide">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" placeholder="Suchen" type="text"/>
                    </th>
                </tr>
            </thead>

            <tbody id="body">
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value" columnname="Customer" style="" tablename="md_masterData_ConstructionSide">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Customer.Name)
                        </td>
                        <td class="column-value" columnname="ConstructionSiteId" style="" tablename="md_masterData_ConstructionSide">
                            @Html.DisplayFor(modelItem => item.ConstructionSiteId)
                        </td>
                        <td class="column-value" columnname="Name" style="" tablename="md_masterData_ConstructionSide">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="column-value" columnname="Street" style="" tablename="md_masterData_ConstructionSide">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.Street)
                        </td>
                        <td class="column-value" columnname="ZipCode" style="" tablename="md_masterData_ConstructionSide">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.ZipCode)
                        </td>
                        <td class="column-value" columnname="City" style="" tablename="md_masterData_ConstructionSide">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.City)
                        </td>
                        <td class="column-value" columnname="IsActive" style="display:none" tablename="md_masterData_ConstructionSide">
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
        <br />
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#body tr').filter(':has(:checkbox:not(:checked))').find('td').each(function () {
            var this_row = $(this);
            this_row.css('background-color', 'orange');
        });
    });
</script>