﻿@model PCMS.Areas.LIMS.Models.lims_aggregate_Test

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>lims_aggregate_Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lims_aggregate_ProbPlaceDetailsGroup.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lims_aggregate_ProbPlaceDetailsGroup.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lims_aggregate_ProbPlaceGroup.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lims_aggregate_ProbPlaceGroup.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lims_aggregate_ProbType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lims_aggregate_ProbType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lims_aggregate_TestStateGroup.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lims_aggregate_TestStateGroup.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lims_aggregate_TestType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lims_aggregate_TestType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Md_material_Material.ArticleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Md_material_Material.ArticleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistraionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistraionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outliner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outliner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliverQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryNoteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryNoteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbTakingDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbTakingDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbEnteringDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbEnteringDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
