﻿@model PCMS.Areas.RecipeM.Models.md_equipment

@{
    ViewBag.Title = "Löschen";
    Layout = null;
}
@if (((List<PCMS.Areas.RecipeM.Models.md_recipe_RecipeM>)ViewBag.md_recipe_RecipeM).Count() != 0)
{
    <h3>Equipment:"@Model.Number-@Model.Description" kann nicht gelöscht werden da es noch verwendet wird:</h3>
}
else
{
    <h3>Sicher das Sie: "@Model.Number-@Model.Description" löschen wollen?</h3>
}


<div>
    Rezepte:
    <ul style="color:red">
        @foreach (var s in ((List<PCMS.Areas.RecipeM.Models.md_recipe_RecipeM>)ViewBag.md_recipe_RecipeM))
        {
            <li>@s.Description</li>
        }
    </ul>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            @if (((List<PCMS.Areas.RecipeM.Models.md_recipe_RecipeM>)ViewBag.md_recipe_RecipeM).Count() != 0)
            {
                <input disabled type="submit" value="Löschen" class="btn btn-default" />
            }
            else
            {
                <input type="submit" value="Löschen" class="btn btn-default" />
            }

            @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
