﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Material>
@using PagedList.Mvc
@{
    ViewBag.Title = "Zuschlagstoffe Übersicht";
    Layout = null;
}

<div class="tableContent" tablename="md_masterData_Material">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">

        <table url="@Url.Action("choosMaterial","md_order_Weighing", new { area = "Weigh" } )" class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditAggregates", "md_recipe_Recipe", new { area = "Recipe" })" deleteUrl="@Url.Action("Delete", "md_recipe_Recipe", new { area = "Recipe" })">
            <thead>
                <tr class="caption">
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                        @Html.DisplayNameFor(model => model[0].ShortName)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="ArticleNumber" style="">
                        @Html.DisplayNameFor(model => model[0].ArticleNumber)
                    </th>
                    <th>
                        MaterialArt
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="Id" tablename="md_masterData_Material">
                    </th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.Name"/>
                    </th>
                    <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.ShortName"/>
                    </th>
                    <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.ArticleNumber"/>
                    </th>
                    <th style="" class="head-filter" columnname="MaterialGroupId" tablename="md_masterData_Material">
                        @Html.DropDownList("MaterialGroup", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control", @onchange = "headFilterChangeModal(this)", @columnname = "MaterialGroupId" })
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="getMaterialById(this)" id="@item.Id" materialtypeTT="@item.MaterialGroupId">
                        <td class="" columnname="Id" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="" columnname="Lastname" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="" columnname="Firstname" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.ShortName)
                        </td>
                        <td class="" columnname="Street" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.ArticleNumber)
                        </td>
                        <td class="" columnname="Price" style="display:none" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <button onclick="getMaterialById(this)">hinzufügen</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
<script type="text/javascript" >
   
</script>