﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Vehicle>
@using PagedList.Mvc
<div class="tableContent" tablename="md_masterData_Vehicle">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Fahrzeug Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseVehicle","md_order_Weighing", new { area = "Weigh" } )" class="table table-hover table-condensed" tablename="md_masterData_Vehicle">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="display:none">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="false" colname="VehicleNumber" style="">@Html.DisplayNameFor(model => model[0].VehicleNumber)</th>
                    <th editable="true" colname="PlateNumber" style="">@Html.DisplayNameFor(model => model[0].PlateNumber)</th>
                    <th editable="true" colname="Capacity" style="">@Html.DisplayNameFor(model => model[0].Capacity)</th>
                    <th editable="true" colname="DriverNumber" style="display:none">@Html.DisplayNameFor(model => model[0].md_masterData_Driver.DriverNumber)</th>
                    <th editable="true" colname="DriverName" style="display:none">@Html.DisplayNameFor(model => model[0].md_masterData_Driver.Md_masterData_Contact.LastName)</th>
                </tr>
                <tr>
                    <th style="display:none" class="head-filter" columnname="Id" tablename="md_masterData_Vehicle"></th>
                    <th style="" class="head-filter" columnname="VehicleNumber" tablename="md_masterData_Vehicle"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="PlateNumber" tablename="md_masterData_Vehicle"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="TareWeight" tablename="md_masterData_Vehicle"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseVehi(this)">
                        <td columnname="Id" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="VehicleNumber" style="" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.VehicleNumber)</td>
                        <td columnname="PlateNumber" style="" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.PlateNumber)</td>
                        <td columnname="Capacity" style="" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Capacity)</td>
                        <td columnname="DriverNumber" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.md_masterData_Driver.DriverNumber)</td>
                        <td columnname="DriverName" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.md_masterData_Driver.Md_masterData_Contact.LastName)</td>
                        <td columnname="EmptyingProgram" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.EmptyingProgram)</td>
                        <td columnname="Type" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Md_masterData_VehicleType.Description)</td>
                        <td columnname="TareWeight" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.TareWeight)</td>

                        <td columnname="CustomerName" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Md_Customer.Name)</td>
                        <td columnname="CustomerStreet" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Md_Customer.Md_masterData_Address.Street)</td>
                        <td columnname="CustomerCity" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Md_Customer.Md_masterData_Address.City)</td>
                        <td columnname="CustomerZipCode" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Md_Customer.Md_masterData_Address.ZipCode)</td>
                        <td columnname="CustomerId" style="display:none" tablename="md_masterData_Vehicle">@Html.DisplayFor(modelItem => item.Md_Customer.Id)</td>
                        

                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>

<script>
    function chooseVehi(e) {
        $("#VehicleNumber").val($(e).closest("tr").find("td[columnname='VehicleNumber']").text().trim());
        //Waagen

        $("#LicensePlate").val($(e).closest("tr").find("td[columnname='PlateNumber']").text().trim());
        $("#VehiclePlateNo").val($(e).closest("tr").find("td[columnname='PlateNumber']").text().trim());
        $("#VehicleType").val($(e).closest("tr").find("td[columnname='Type']").text().trim());
        $("#DriverNumber").val($(e).closest("tr").find("td[columnname='DriverNumber']").text().trim());
        $("#DriverName").val($(e).closest("tr").find("td[columnname='DriverName']").text().trim());
        $("#EmptyingProgram").val($(e).closest("tr").find("td[columnname='EmptyingProgram']").text().trim());
        $("#VehicleNumber").val($(e).closest("tr").find("td[columnname='VehicleNumber']").text().trim());
        

        $("#VehicleTaraWeight").val($(e).closest("tr").find("td[columnname='TareWeight']").text().trim());

        $("#CustomerDescription").val($(e).closest("tr").find("td[columnname='CustomerName']").text().trim());
        $("#CustomerStreet").val($(e).closest("tr").find("td[columnname='CustomerStreet']").text().trim());
        $("#CustomerCity").val($(e).closest("tr").find("td[columnname='CustomerCity']").text().trim());
        $("#CustomerZIPCode").val($(e).closest("tr").find("td[columnname='CustomerZipCode']").text().trim());
        $("#CustomerId").val($(e).closest("tr").find("td[columnname='CustomerId']").text().trim());


        $("#ConstructionSiteNumber").val(null);
        $("#ConstructionSiteDescription").val(null);
        $("#ConstructionSiteStreet").val(null);
        $("#ConstructionSiteCity").val(null);
        $("#ConstructionSiteZIPCode").val(null);
        $("#ConstructionSiteId").val(null);

        getCustomer($(e).closest("tr").find("td[columnname='CustomerId']").text().trim());

        if ($(e).closest("tr").find("td[columnname='CustomerId']").text().trim().length > 0 && false) {
            var CustomerId = $(e).closest("tr").find("td[columnname='CustomerId']").text().trim();
            $.post("/Weigh/md_order_Weighing/CheckConstructionSite", { id: CustomerId }, function (data) {
                if (data == true) {
                    $.post("/Weigh/md_order_Weighing/ChooseConstructionSite", { id: CustomerId }, function (data) { chooseConstruction("Baustelle auswählen", data, ["", ""]); });
                }
                else {
                    $.post("/Weigh/md_order_Weighing/SelectConstructionSite", { id: CustomerId }, function (data) {
                        if (data.Name != "") {
                            $("#ConstructionSiteNumber").val(data.ConId).text();
                            $("#ConstructionSiteDescription").val(data.Name).text();
                            $("#DistanceTime").val(data.Distance).text();
                        }
                    });
                }
            })
        }
        

        $("#Modal").modal("hide");
    }
</script>
