﻿@model PCMS.Areas.Weigh.Models.md_order_Weighing



<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" id="print" name="print" value="false" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Direction, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-4" for="Direction"></label>
                <div class="col-md-4">
                    @*@Html.EditorFor(model => model.Direction, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownList("Direction", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Direction, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LicensePlate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.EditorFor(model => model.LicensePlate, new { htmlAttributes = new { @class = "form-control uppercase" } })
                        <span class="input-group-btn">
                            <button class="btn btn-default" title="Fahrzeug suchen" onclick="openVehicle('/Weigh/md_order_Weighing/ChooseVehicle')" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                        <span class="input-group-btn">
                            <button title="Fahrzeug hinzufügen" class="btn btn-default" onclick="openModalXL('/MasterData/md_masterData_Vehicle/Create','Fahrzeug hinzufügen')" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </span>
                       
                    </div>
                    @Html.ValidationMessageFor(model => model.LicensePlate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.VehicleTaraWeight, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.VehicleTaraWeight, new { htmlAttributes = new { @class = "form-control uppercase" } })
                    @Html.ValidationMessageFor(model => model.VehicleTaraWeight, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FuelTank, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FuelTank, new { htmlAttributes = new { @class = "form-control uppercase" } })
                    @Html.ValidationMessageFor(model => model.FuelTank, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SealNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.SealNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SealNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ContainerNo, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ContainerNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContainerNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p style="color:red" >@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <label class="control-label col-md-3" for="Weight1.Weight">Erstwägung [kg]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        @*@Html.EditorFor(model => model.Weight1.Weight, new { htmlAttributes = new { @class = "form-control"} })*@
                        <input class="form-control text-box single-line" onchange="calcNetto()" data-val="true" data-val-number="Das Feld &quot;Weight&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Weight&quot; ist erforderlich." id="Weight1Manuell" name="Weight1Manuell" type="text" value="">
                        <span class="input-group-btn">                           
                        </span>
                        @Html.HiddenFor(model => model.WeightId1)
                        @Html.ValidationMessageFor(model => model.WeightId1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Weight2.Weight">Zweitwägung [kg]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        @*@Html.EditorFor(model => model.Weight2.Weight, new { htmlAttributes = new { @class = "form-control"} })*@ 
                        <input class="form-control text-box single-line" onchange="calcNetto()" data-val="true" data-val-number="Das Feld &quot;Weight&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Weight&quot; ist erforderlich." id="Weight2Manuell" name="Weight2Manuell" type="text" value="">                      
                        @Html.HiddenFor(model => model.WeightId2)
                        @Html.ValidationMessageFor(model => model.WeightId2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Brutto">Netto</label>
                <div class="col-md-4">
                    <input id="Brutto" type="text" class="form-control text-box single-line" readonly="readonly" value="@((Model != null && (Model.Weight1 != null || Model.VehicleTaraWeight != null) && Model.Weight2 != null) ? ((Model.WeightId1 == null && Model.VehicleTaraWeight != null) ? (Model.VehicleTaraWeight - Model.Weight2.Weight) : (Model.Weight1.Weight - Model.Weight2.Weight))  : 0 )" />
                </div>
            </div>
        </div>
    </div>


</div>
<hr />
<div class="row">
    <div class="col-md-4">
        @*-------------------------------------------------------------Artikel--------------------------------Start*@
        <div class="form-group">
            @Html.LabelFor(model => model.ArticleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    @Html.EditorFor(model => model.ArticleDescription, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-btn">
                        <button class="btn btn-default" onclick="addMaterial('/Weigh/md_order_weighing/choosMaterial')" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                    @*<span class="input-group-btn">
                        <button title="Material hinzufügen" class="btn btn-default" onclick="openModalXL('/MasterData/md_masterData_Aggregates/Create', title = 'Material hinzufügen')" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </span>*@
                    @Html.ValidationMessageFor(model => model.ArticleDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ArticleNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArticleNumber, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ArticlePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArticlePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArticlePrice, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.ArticleId)
        </div>

    </div>@*-------------------------------------------------------------Artikel--------------------------------Ende*@


    <div style="border-right: 1px solid grey;border-left: 1px solid grey;" class="col-md-4">
        @*-------------------------------------------------------------Kunde--------------------------------Start*@
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    @Html.EditorFor(model => model.CustomerDescription, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-btn">
                        <button title="Kunden auswählen" class="btn btn-default" onclick="openCustomer('/Weigh/md_order_weighing/ChooseCustomer', title = 'Kunden auswählen')" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                    <span class="input-group-btn">
                        <button title="Kunden hinzufügen" class="btn btn-default" onclick="openModalXL('/MasterData/md_masterData_Customer/Create', title = 'Kunden hinzufügen')" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </span>
                    @Html.ValidationMessageFor(model => model.CustomerDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.CustomerStreet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerStreet, new { htmlAttributes = new { @class = "form-control" } })                    
                    @Html.ValidationMessageFor(model => model.CustomerStreet, "", new { @class = "text-danger" })
                </div>
            @Html.LabelFor(model => model.CustomerCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerCity, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CustomerZIPCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerZIPCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerZIPCode, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.CustomerId)
        </div>


    </div>@*-------------------------------------------------------------Kunde--------------------------------Ende*@
    <div class="col-md-4">
        @*-------------------------------------------------------------Baustelle--------------------------------Start*@
        @*<div class="form-group">
            @Html.LabelFor(model => model.ConstructionSiteDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    @Html.EditorFor(model => model.ConstructionSiteDescription, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-btn">
                        <button class="btn btn-default" onclick="SearchConstructionSite()" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                    <span class="input-group-btn">
                        <button title="Baustelle hinzufügen" class="btn btn-default" onclick="openModalXL('/MasterData/md_masterData_ConstructionSite/Create', title = 'Baustelle hinzufügen')" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </span>
                    @Html.ValidationMessageFor(model => model.ConstructionSiteDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ConstructionSiteStreet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConstructionSiteStreet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConstructionSiteStreet, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ConstructionSiteCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConstructionSiteCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConstructionSiteCity, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ConstructionSiteZIPCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConstructionSiteZIPCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConstructionSiteZIPCode, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.ConstructionSiteId)
        </div>*@
    </div>@*-------------------------------------------------------------Baustelle--------------------------------Ende*@
</div>
<hr />
<div class="row">

    @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-8">
        @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
    </div>


</div>


<script>
    

    function weigh(no) {
        if (no == 0) {
            $("#btnWeight1").prop("disabled", true);
        }
        else if (no == 1) {
            $("#btnWeight2").prop("disabled", true);
        }
        var scaleNr = $('input[name=scaleNo]:checked').val();
        $.post("@Url.Action("getWeight", "md_order_Weighing", new { area = "Weigh" })", { no: no, scaleNo: scaleNr }, function (data) {
            try {
                if (data.weigh.errorCode != 0) {
                    alert(data.weigh.getErrorString);
                    if (no == 0) {
                        $("#btnWeight1").prop("disabled", false);
                    }
                    else if (no == 1) {
                        $("#btnWeight2").prop("disabled", false);
                    }
                    return;
                }
                if (no == 0) {

                    $("#Weight1_Weight").val(toC(data.weigh.net));
                    $("#WeightId1").val(data.weighDB.Id);
                    $("#btnWeight1").prop("disabled", true);
                }
                else if (no == 1) {
                    $("#Weight2_Weight").val(toC(data.weigh.net));
                    $("#WeightId2").val(data.weighDB.Id);
                    $("#btnWeight2").prop("disabled", true);
                    var netto = 0;
                    if ($("#Weight1_Weight").val().length == 0) {
                        if ($("#VehicleTaraWeight").val().length != 0) {
                            netto = (toD($("#VehicleTaraWeight").val()) - toD($("#Weight2_Weight").val())).toFixed(2);
                            $("#Brutto").val(toC(netto));
                        }
                    }
                    else {
                        netto = (toD($("#Weight1_Weight").val()) - toD($("#Weight2_Weight").val())).toFixed(2);
                        $("#Brutto").val(toC(netto));
                    }
                    if (netto < 0) {
                        $("#Direction").val(1);
                    }
                    else if (netto > 0) {
                        $("#Direction").val(0);
                    }

                }

            } catch (err) {
                alert(err.message);
                if (no == 0) {
                    $("#btnWeight1").prop("disabled", false);
                }
                else if (no == 1) {
                    $("#btnWeight2").prop("disabled", false);
                }
                return;
            }
        }, "json");
    }
    function SearchConstructionSite() {
        var url = "/Weigh/md_order_weighing/ChooseConstructionSite/xxx";
        url = url.replace("xxx", $("#CustomerId").val());
        openModal(url, title = 'Baustelle auswählen');
    }
    function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseMaterial2("Material", data, ["", ""]);
            }
        });

    }
    function ChooseMaterial2(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
        init();
    }
    function getMaterialById(e) {
        $("#aggre").modal("hide");
        var data = { id: $(e).closest("tr").find("td[columnname='Id']").text().trim() };
        $("#ArticleId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#ArticleDescription").val($(e).closest("tr").find("td[columnname='Lastname']").text().trim());
        $("#ArticleNumber").val($(e).closest("tr").find("td[columnname='Street']").text().trim());
        $("#ArticlePrice").val($(e).closest("tr").find("td[columnname='Price']").text().trim());

    }
    function calcNetto() {
        var w1 = toD($("#Weight1Manuell").val());
        var w2 = toD($("#Weight2Manuell").val());
        var netto = w1 - w2;
        if (isNaN(netto)) {
            return;
        }
        $("#Brutto").val(toC(netto));

        if (netto < 0) {
            $("#Direction").val(1);
        }
        else if (netto > 0) {
            $("#Direction").val(0);
        }
    }
    function toC(val) {
        return String(val).replace('.', ',');
    }
    function toD(val) {
        return parseFloat(String(val).replace(',', '.'));
    }
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
