﻿@model PCMS.Areas.Weigh.Models.md_order_Weighing

@{
    ViewBag.Title = "Neue Wiegung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_t.cshtml", new ViewDataDictionary { { "SaveAndReport", "/Weigh/md_order_Weighing/ReportDetail/" } })
    @Html.Partial("Content", Model)
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_b.cshtml")
}

<script>
   
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
