﻿@model PCMS.Areas.Weigh.Models.md_order_Weighing

@{
    ViewBag.Title = "Nacherfassen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml", new ViewDataDictionary { { "SaveAndReport", "/Weigh/md_order_Weighing/ReportDetail/" } })
    @Html.Partial("ContentManuell", Model)
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_b.cshtml")
}

<script>

</script>
