﻿@model PCMS.Areas.Weigh.Models.md_order_Weighing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{


    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RegistrationDate)
    @Html.HiddenFor(model => model.UserName1)
    @Html.HiddenFor(model => model.UserName2)
    @Html.HiddenFor(model => model.ContingentNumber)
    @Html.HiddenFor(model => model.Status)


    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" href="/Weigh/md_order_Weighing"><i class="fa fa-times"></i> Abbrechen</a></div>        
        <div class="col-md-1"><button id="getReportBtn" type="button" url="/Weigh/md_order_Weighing/ReportDetail/" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Anzeigen</button></div>
        <div class="col-md-1"><button id="getReportBtnPrint" type="button" url="/Weigh/md_order_Weighing/ReportDetailPrint/" class="getReportBtnPrint btn btn-default btn-succsess"><i class="fa fa-file-text-o"></i> Drucken</button></div>
        @*<div class="col-md-1"><button id="getReportBtn" type="button" url="/Weigh/md_order_Weighing/ReportDetailSolas/" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Report Solas</button></div>*@
    </div>
    <hr />
    @Html.Partial("Content", Model)
   <hr/>
    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" href="/Weigh/md_order_Weighing"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button id="getReportBtn" type="button" url="/Weigh/md_order_Weighing/ReportDetail/" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Drucken</button></div>


    </div>
}
<script type="text/javascript" >
    var editAble = false;
</script>
