﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_material_AVV>
@using PagedList.Mvc;
@{
    ViewBag.Title = "md_material_AVVList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_material_AVV">
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <br />
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_material_AVV" url="@Url.Action("chooseAVV", "md_masterData_Material", new { area = "MasterData" })" editUrl="@Url.Action("Edit", "md_material_AVV", new { area = "MasterData" })" deleteUrl="@Url.Action("Delete", "md_material_AVV", new { area = "MasterData" })" detailsUrl="@Url.Action("Details", "md_material_AVV", new { area = "MasterData" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Number" style="">
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="md_material_AVV">
                    </th>*@
                    <th style="" class="head-filter" columnName="Number" tableName="md_material_AVV">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.Number" />
                    </th>
                    <th style="" class="head-filter" columnName="Description" tableName="md_material_AVV">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.Description" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseAvv(this)">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="md_material_AVV">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="" isKey="false" columnName="Number" style="" tableName="md_material_AVV">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td class="" isKey="false" columnName="Description" style="" tableName="md_material_AVV">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
       
    </div>
</div>
