﻿@model List<PCMS.Areas.MasterData.Models.md_material_Client>
@using PagedList.Mvc

<div class="tableContent" tablename="md_material_Client">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Mandant Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_material_Client">
            <thead>
                <tr class="caption">
                    <td editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</td>
                    <td editable="true" colname="ClientName" style="">@Html.DisplayNameFor(model => model[0].ClientName)</td>
                    <td editable="true" colname="ClientId" style="">@Html.DisplayNameFor(model => model[0].ClientId)</td>
                    <td editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Description)</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseCli(this)">
                        <td columnname="Id" style="" tablename="md_material_Client">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="ClientName" style="" tablename="md_material_Client">@Html.DisplayFor(modelItem => item.ClientName)</td>
                        <td columnname="ClientId" style="" tablename="md_material_Client">@Html.DisplayFor(modelItem => item.ClientId)</td>
                        <td columnname="Name" style="" tablename="md_material_Client">@Html.DisplayFor(modelItem => item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
