﻿@model List<PCMS.Areas.MasterData.Models.md_masterData_Suitability>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Suitability">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Eignung Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Suitability">
            <thead>
                <tr class="caption">
                    <td editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</td>
                    <td editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Description)</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseSuit(this)">
                        <td columnname="Id" style="" tablename="md_masterData_Suitability">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Name" style="" tablename="md_masterData_Suitability">@Html.DisplayFor(modelItem => item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
