﻿@model List<PCMS.Areas.MasterData.Models.md_material_CompressionGroupCement>
    @using PagedList.Mvc

<div class="tableContent" tablename="md_material_CompressionGroupCement">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Festigkeitsklasse Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_material_CompressionGroupCement">
            <thead>
                <tr class="caption">
                    <td editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</td>
                    <td editable="false" colname="Description" style="">@Html.DisplayNameFor(model => model[0].Description)</td>
                    <td editable="false" colname="Value2Days" style="">@Html.DisplayNameFor(model => model[0].Value2Days)</td>
                    <td editable="true" colname="Value7Days" style="">@Html.DisplayNameFor(model => model[0].Value7Days)</td>
                    <td editable="false" colname="Value28Days" style="">@Html.DisplayNameFor(model => model[0].Value28Days)</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseCompCem(this)">
                        <td columnname="Id" style="" tablename="md_material_CompressionGroupCement">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Description" style="" tablename="md_material_CompressionGroupCement">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td columnname="Value2Days" style="" tablename="md_material_CompressionGroupCement">@Html.DisplayFor(modelItem => item.Value2Days)</td>
                        <td columnname="Value7Days" style="" tablename="md_material_CompressionGroupCement">@Html.DisplayFor(modelItem => item.Value7Days)</td>
                        <td columnname="Value28Days" style="" tablename="md_material_CompressionGroupCement">@Html.DisplayFor(modelItem => item.Value28Days)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
