﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView

@{
    if (ViewBag.Create == "aggregates")
    {
        ViewBag.Title = "Zuschlagstoff anlegen";
    }
    if (ViewBag.Create == "binder")
    {
        ViewBag.Title = "Bindemittel anlegen";
    }

    if (ViewBag.Create == "admixtures")
    {
        ViewBag.Title = "Zusatzmittel anlegen";
    }

    if (ViewBag.Create == "water")
    {
        ViewBag.Title = "Wasser anlegen";
    }

    if (ViewBag.Create == "sort")
    {
        ViewBag.Title = "Betonsorte anlegen";
    }

    if (ViewBag.Create == "additives")
    {
        ViewBag.Title = "Additive anlegen";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="facId">@Html.HiddenFor(model => model.material.FacilitiesId)</div>
    <div id="MatType">@Html.HiddenFor(model => model.material.MaterialTypeId)</div>
    <div id="CompCem">@Html.HiddenFor(model => model.binderDetails.CompressionCemId)</div>
    <div id="SId">@Html.HiddenFor(model => model.binderDetails.NormId)</div>
    <div id="Progress">@Html.HiddenFor(model => model.sortDetails.ProgressId)</div>
    <div id="Deliverer">@Html.HiddenFor(model => model.material.DelivererId)</div>
    <div id="Alkali">@Html.HiddenFor(model => model.aggregateDetails.AlkaliGroupId)</div>
    <div id="Aggre">@Html.HiddenFor(model => model.aggregateDetails.AggregateId)</div>
    <div id="Geo">@Html.HiddenFor(model => model.aggregateDetails.GeologicalSourceId)</div>
    <div id="GGroup">@Html.HiddenFor(model => model.aggregateDetails.GravelGroupId)</div>
    <div id="GGType">@Html.HiddenFor(model => model.aggregateDetails.GravelTypeId)</div>
    <div id="SId">@Html.HiddenFor(model => model.aggregateDetails.NormId)</div>
    <div id="Petro">@Html.HiddenFor(model => model.aggregateDetails.PetrographicTypeId)</div>
    <div id="Roc">@Html.HiddenFor(model => model.aggregateDetails.RockTypeId)</div>
    <div id="SId">@Html.HiddenFor(model => model.additivesDetails.NormId)</div>
    <div id="SId">@Html.HiddenFor(model => model.admixturesDetails.NormId)</div>
    <div id="SId">@Html.HiddenFor(model => model.sortDetails.NormId)</div>
    <div id="Conc">@Html.HiddenFor(model => model.sortDetails.ConcreteId)</div>
    <div id="Comp">@Html.HiddenFor(model => model.sortDetails.CompressionId)</div>
    <div id="ChlorId">@Html.HiddenFor(model => model.sortDetails.ChloridId)</div>
    <div id="ConsisId">@Html.HiddenFor(model => model.sortDetails.ConsistencyId)</div>
    <div id="ExpoId">@Html.HiddenFor(model => model.sortDetails.ExposureKombiId)</div>
    <div id="SuitId">@Html.HiddenFor(model => model.aggregateDetails.SuitabilityId)</div>

    @*<div class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Entnahme <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>test</td>
                            </tr>
                        </table>
                    </div>
                </div>    
            </div>
        </div>
    </div>*@


    <table border="0">
        <tr>
            @if (ViewBag.Create == "aggregates")
            {
                <td><input type="button" onclick="location.href = 'IndexAggregates'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "binder")
            {
                <td><input type="button" onclick="location.href = 'IndexBinder'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "admixtures")
            {
                <td><input type="button" onclick="location.href = 'IndexAdmixtures'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "water")
            {
                <td><input type="button" onclick="location.href = 'IndexWater'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "sort")
            {
                <td><input type="button" onclick="location.href = 'IndexSort'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "additives")
            {
                <td><input type="button" onclick="location.href = 'IndexAdditives'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            <td width="50"></td>
            <td><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>
        </table>

        <table border="0">
            <tr>
                <td colspan="6"><hr /></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.material.ArticleNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.ArticleNumber, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.material.MaterialNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.MaterialNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.MaterialNumber, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.material.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.material.ShortName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.ShortName, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.material.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Unit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Unit, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.material.Density, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Density, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Density, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.material.Comment1, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Comment1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Comment1, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.material.Comment2, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Comment2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Comment2, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.material.Comment3, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Comment3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Comment3, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.material.Comment4, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Comment4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Comment4, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.material.Comment5, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.material.Comment5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Comment5, "", new { @class = "text-danger" })
                </td>
            </tr>
            
            @if (ViewBag.CompanyType == 1)
            {

            }
            else
            {
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.material.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.material.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.material.Price, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.deliverer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.deliverer.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.deliverer.Name, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Lieferant auswählen" class="btn btn-default" onclick="openDeliverer('@Url.Action("ChooseDeliverer","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.facili.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.facili.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.facili.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Werk auswählen" class="btn btn-default" onclick="openFacilities('@Url.Action("ChooseFacilities","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            
            @if (ViewBag.CompanyType == 1)
            {

            }
            else
            {

                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.materialType.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.materialType.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.materialType.Description, "", new { @class = "text-danger" })
                </td>
                @if (ViewBag.Create == "aggregates")
                {
                    <td>
                        <input type="button" style="width:200px;" value="Art auswählen" class="btn btn-default" onclick="openMaterialType('@Url.Action("ChooseMaterialType/1", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                }
                @if (ViewBag.Create == "binder")
                {
                    <td>
                        <input type="button" style="width:200px;" value="Art auswählen" class="btn btn-default" onclick="openMaterialType('@Url.Action("ChooseMaterialType/2", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                }
                @if (ViewBag.Create == "admixtures")
                {
                    <td>
                        <input type="button" style="width:200px;" value="Art auswählen" class="btn btn-default" onclick="openMaterialType('@Url.Action("ChooseMaterialType/3", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                }
                @if (ViewBag.Create == "additives")
                {
                    <td>
                        <input type="button" style="width:200px;" value="Art auswählen" class="btn btn-default" onclick="openMaterialType('@Url.Action("ChooseMaterialType/6", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                }
                @if (ViewBag.Create == "water")
                {
                    <td>
                        <input type="button" style="width:200px;" value="Art auswählen" class="btn btn-default" onclick="openMaterialType('@Url.Action("ChooseMaterialType/4", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                }
                @if (ViewBag.Create == "sort")
                {
                    <td>
                        <input type="button" style="width:200px;" value="Art auswählen" class="btn btn-default" onclick="openMaterialType('@Url.Action("ChooseMaterialType/5", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                }
            </tr>
            }
            @if (ViewBag.Create == "aggregates")
            {
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td><h3>Details</h3></td>
                </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.aggregateDetails.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.aggregateDetails.Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aggregateDetails.Category, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.aggregateDetails.CECertification, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.aggregateDetails.CECertification, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aggregateDetails.CECertification, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.aggregateDetails.DateOfIssue, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.aggregateDetails.DateOfIssue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aggregateDetails.DateOfIssue, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(model => model.aggregateDetails.TerminationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.aggregateDetails.TerminationDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aggregateDetails.TerminationDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            @*<tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.rock.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.rock.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rock.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Gesteinsart auswählen" class="btn btn-default" onclick="openRock('@Url.Action("ChooseRockType","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>*@
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.aggregate.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.aggregate.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aggregate.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Gesteinskörnung auswählen" class="btn btn-default" onclick="openAggregate('@Url.Action("ChooseAggregate","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.gravelGroup.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.gravelGroup.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.gravelGroup.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Korngruppe auswählen" class="btn btn-default" onclick="openGravelGroup('@Url.Action("ChooseGravelGroup","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.gravelType.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.gravelType.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.gravelType.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Kornart auswählen" class="btn btn-default" onclick="openGravelType('@Url.Action("ChooseGravelType","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.geo.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.geo.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.geo.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="geol. Herkunft auswählen" class="btn btn-default" onclick="openGeoSource('@Url.Action("ChooseGeoSource","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.petrograph.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.petrograph.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.petrograph.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="petrograph. Typ auswählen" class="btn btn-default" onclick="openPetroType('@Url.Action("ChoosePetroType","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.standard.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.standard.Name, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Norm auswählen" class="btn btn-default" onclick="openStandard('@Url.Action("ChooseStandard","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.suitability.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.suitability.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.suitability.Description, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Eignung auswählen" class="btn btn-default" onclick="openSuitability('@Url.Action("ChooseSuitability","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.alkali.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.alkali.Class, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.alkali.Class, "", new { @class = "text-danger" })
                </td>
                <td>
                    <input type="button" style="width:200px;" value="Alkaliklasse auswählen" class="btn btn-default" onclick="openAlkali('@Url.Action("ChooseAlkali","md_masterData_Material", new { area = "MasterData" })')" />
                </td>
            </tr>
            }
            @if (ViewBag.Create == "binder")
            {
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td><h3>Details</h3></td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.binderDetails.Features, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.binderDetails.Features, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.binderDetails.Features, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.binderDetails.CECertification, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.binderDetails.CECertification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.binderDetails.CECertification, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.binderDetails.Verification, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.binderDetails.Verification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.binderDetails.Verification, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.binderDetails.DateOfIssue, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.binderDetails.DateOfIssue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.binderDetails.DateOfIssue, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.binderDetails.TerminationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.binderDetails.TerminationDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.binderDetails.TerminationDate, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.standard.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.standard.Name, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.standard.ShortName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.standard.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.standard.ShortName, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Norm auswählen" class="btn btn-default" onclick="openStandard('@Url.Action("ChooseStandard","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.binderDetails.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.binderDetails.Color, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.binderDetails.Color, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Farbe auswählen" class="btn btn-default" onclick="openColor('@Url.Action("ChooseColor","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.compCement.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.compCement.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.compCement.Description, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Festigkeitsklasse auswählen" class="btn btn-default" onclick="openCompressionCement('@Url.Action("ChooseCompCem","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>

            }
            @if (ViewBag.Create == "admixtures")
            {
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td><h3>Details</h3></td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.standard.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.standard.Name, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Norm auswählen" class="btn btn-default" onclick="openStandard('@Url.Action("ChooseStandard","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.Color, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.Color, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Farbe auswählen" class="btn btn-default" onclick="openColor('@Url.Action("ChooseColor","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.ShortDescriptionNorm, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.ShortDescriptionNorm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.ShortDescriptionNorm, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.DescriptionNorm, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.DescriptionNorm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.DescriptionNorm, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.Verification, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.Verification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.Verification, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.CECertification, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.CECertification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.CECertification, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.DateOfIssue, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.DateOfIssue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.DateOfIssue, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.TerminationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.TerminationDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.TerminationDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.Form, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.Form, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.Form, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.DoseSensitiveProcent, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.DoseSensitiveProcent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.DoseSensitiveProcent, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.DoseSensitiveMl, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.DoseSensitiveMl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.DoseSensitiveMl, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.MaxDoseProcent, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.MaxDoseProcent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.MaxDoseProcent, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.MaxDoseMl, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.MaxDoseMl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.MaxDoseMl, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.MinDoseProcent, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.MinDoseProcent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.MinDoseProcent, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.MinDoseMl, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.MinDoseMl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.MinDoseMl, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.WaterReduction, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.WaterReduction, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.WaterReduction, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.ConsiderationWater, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.ConsiderationWater, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.ConsiderationWater, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.admixturesDetails.MainIngredient, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.admixturesDetails.MainIngredient, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.admixturesDetails.MainIngredient, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
            @if (ViewBag.Create == "water")
            {
                
                
            }
            @if (ViewBag.Create == "additives")
            {
                if (ViewBag.CompanyType == 1)
                {
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td><h3>Details</h3></td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.standard.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.standard.Name, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Norm auswählen" class="btn btn-default" onclick="openStandard('@Url.Action("ChooseStandard", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.Color, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.Color, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Farbe auswählen" class="btn btn-default" onclick="openColor('@Url.Action("ChooseColor", "md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.Form, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.Form, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.Form, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.ConsiderationWater, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.ConsiderationWater, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.ConsiderationWater, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.ConsiderationGrainFlourValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.ConsiderationGrainFlourValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.ConsiderationGrainFlourValue, "", new { @class = "text-danger" })
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.FiberGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.FiberGroup, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.FiberGroup, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.FiberForm, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.FiberForm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.FiberForm, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.FiberGeometric, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.FiberGeometric, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.FiberGeometric, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.Type, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.Verification, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.Verification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.Verification, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.CECertification, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.CECertification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.CECertification, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    @if (ViewBag.CompanyType == 1)
                    {

                    }
                    else
                    {
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.KValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.KValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.KValue, "", new { @class = "text-danger" })
                    </td>
                    }
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.DateOfIssue, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.DateOfIssue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.DateOfIssue, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.additivesDetails.TerminationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.additivesDetails.TerminationDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.additivesDetails.TerminationDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                }
                else
                {
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                    <tr>
                        <td><h3>Details</h3></td>
                    </tr>
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.standard.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.standard.Name, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <input type="button" style="width:200px;" value="Norm auswählen" class="btn btn-default" onclick="openStandard('@Url.Action("ChooseStandard", "md_masterData_Material", new { area = "MasterData" })')" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.Color, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.Color, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <input type="button" style="width:200px;" value="Farbe auswählen" class="btn btn-default" onclick="openColor('@Url.Action("ChooseColor", "md_masterData_Material", new { area = "MasterData" })')" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.Form, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.Form, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.Form, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.FiberGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.FiberGroup, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.FiberGroup, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.FiberForm, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.FiberForm, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.FiberForm, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.FiberGeometric, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.FiberGeometric, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.FiberGeometric, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.Verification, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.Verification, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.Verification, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.CECertification, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.CECertification, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.CECertification, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.DateOfIssue, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.DateOfIssue, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.DateOfIssue, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.additivesDetails.TerminationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.additivesDetails.TerminationDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.additivesDetails.TerminationDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                }
            }
            @if (ViewBag.Create == "sort")
            {
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td><h3>Details</h3></td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.sortDetails.WZValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sortDetails.WZValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sortDetails.WZValue, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.sortDetails.Verification, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sortDetails.Verification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sortDetails.Verification, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.sortDetails.Aggregate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sortDetails.Aggregate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sortDetails.Aggregate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.sortDetails.CuringTime1, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sortDetails.CuringTime1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sortDetails.CuringTime1, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.sortDetails.CuringTime2, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sortDetails.CuringTime2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sortDetails.CuringTime2, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.sortDetails.CuringTime3, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sortDetails.CuringTime3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sortDetails.CuringTime3, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.sortDetails.CuringTime4, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sortDetails.CuringTime4, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sortDetails.CuringTime4, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.standard.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.standard.Name, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Norm auswählen" class="btn btn-default" onclick="openStandard('@Url.Action("ChooseStandard","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.progress.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.progress.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.progress.Description, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Entwicklung auswählen" class="btn btn-default" onclick="openProgress('@Url.Action("ChooseProgress","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.concrete.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.concrete.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.concrete.Description, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Betontyp auswählen" class="btn btn-default" onclick="openConcrete('@Url.Action("ChooseConcrete","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.compression.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.compression.Class, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.compression.Class, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Festigkeitsklasse auswählen" class="btn btn-default" onclick="openCompression('@Url.Action("ChooseCompression","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.chlorid.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.chlorid.Class, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.chlorid.Class, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Chloridklasse auswählen" class="btn btn-default" onclick="openChlorid('@Url.Action("ChooseChlorid","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.consistency.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.consistency.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.consistency.Description, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Konsistenz auswählen" class="btn btn-default" onclick="openConsistency('@Url.Action("ChooseConsistency","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.exposure.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.exposure.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.exposure.ShortDescription, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="button" style="width:200px;" value="Expositionsklasse auswählen" class="btn btn-default" onclick="openExposure('@Url.Action("ChooseExpsure","md_masterData_Material", new { area = "MasterData" })')" />
                    </td>
                </tr>
            }
<tr>
                <td colspan="6"><hr /></td>
            </tr>
        </table>

    <table>
        <!--Submit Schaltfläche und Zurück Link-->
        
        <tr>
            @if (ViewBag.Create == "aggregates")
            {
                <td><input type="button" onclick="location.href = 'IndexAggregates'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "binder")
            {
                <td><input type="button" onclick="location.href = 'IndexBinder'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "admixtures")
            {
                <td><input type="button" onclick="location.href = 'IndexAdmixtures'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "water")
            {
                <td><input type="button" onclick="location.href = 'IndexWater'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "sort")
            {
                <td><input type="button" onclick="location.href = 'IndexSort'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            @if (ViewBag.Create == "additives")
            {
                <td><input type="button" onclick="location.href = 'IndexAdditives'" value="Zurück zur Liste" class="btn btn-default" /></td>
            }
            <td width="50"></td>
            <td><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>
    </table>
}

<script type="text/javascript">
    function togglePanalBody(e) {
        if ($(e).parent().find("i").hasClass("fa-chevron-down")) {
            $(e).parent().find("i").removeClass("fa-chevron-down");
            $(e).parent().find("i").addClass("fa-chevron-up")
            $(e).parent().find(".panel-body").show();
        }
        else {
            $(e).parent().find("i").addClass("fa-chevron-down");
            $(e).parent().find("i").removeClass("fa-chevron-up")
            $(e).parent().find(".panel-body").hide();
        }


    }
</script>