﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Material löschen?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.material.Id)
    @Html.HiddenFor(model => model.material.MaterialGroupId)
    @Html.HiddenFor(model => model.material.Price)
    @Html.HiddenFor(model => model.material.MaterialTypeId)
    @Html.HiddenFor(model => model.material.DelivererId)
    @Html.HiddenFor(model => model.material.FacilitiesId)
    @Html.HiddenFor(model => model.material.ArticleNumber)
    @Html.HiddenFor(model => model.material.MaterialNumber)
    @Html.HiddenFor(model => model.material.Name)
    @Html.HiddenFor(model => model.material.ShortName)
    @Html.HiddenFor(model => model.material.Unit)
    @Html.HiddenFor(model => model.material.Density)
    @Html.HiddenFor(model => model.material.Comment1)
    @Html.HiddenFor(model => model.material.Comment2)
    @Html.HiddenFor(model => model.material.Comment3)
    @Html.HiddenFor(model => model.material.Comment4)
    @Html.HiddenFor(model => model.material.Comment5)
    @Html.HiddenFor(model => model.material.RFID)
    @Html.HiddenFor(model => model.material.AdditivesId)
    @Html.HiddenFor(model => model.material.AdmixturesId)
    @Html.HiddenFor(model => model.material.AggregateId)
    @Html.HiddenFor(model => model.material.BinderId)
    @Html.HiddenFor(model => model.material.SortId)
    @Html.HiddenFor(model => model.material.ConcentratesId)
    @Html.HiddenFor(model => model.material.BrandId)

    @Html.HiddenFor(model => model.material.IsActive)
    @Html.HiddenFor(model => model.material.IsDeleted)


    <div>Möchten sie das Material "@Html.DisplayTextFor(model => model.material.Name)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}