﻿@model PagedList.IPagedList<PCMS.Areas.Comment.Models.CommentC>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Kommentare";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<style>
    table tr[state="1"]{
        background-color: rgba(241, 6, 6, 0.51);
    }
    table tr[state="2"]{
        background-color: rgba(241, 212, 6, 0.51);
    }
    table tr[state="3"]{
        background-color: rgba(38, 255, 105, 0.48);
    }

   
</style>

<div class="tableContent" tablename="Comment">
    <a class="btn btn-default" href="@Url.Action("Create","Comments", new { area = "Comment" })"><i class="fa fa-plus"></i> Kommentar hinzufügen</a>
    <a class="btn btn-default" href="@Url.Action("Index","Comments", new { area = "Comment" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <button class="btn btn-default" onclick="filter('report', '/Comment/Comments/Report')"><i class="fa fa-file-text-o"></i> Report</button>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="Comment" editUrl="@Url.Action("Edit", "Comments", new { area = "Comment" })" deleteUrl="@Url.Action("Delete", "Comments", new { area = "Comment" })" detailsUrl="@Url.Action("Details", "Comments", new { area = "Comment" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="CreateDate" style="">
                        @Html.DisplayNameFor(model => model[0].CreateDate)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Title" style="">
                        @Html.DisplayNameFor(model => model[0].Title)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Comment" style="">
                        @Html.DisplayNameFor(model => model[0].Comment1)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Status" style="">
                        @Html.DisplayNameFor(model => model[0].Status)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Place" style="">
                        @Html.DisplayNameFor(model => model[0].Place)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="UserName" style="">
                        @Html.DisplayNameFor(model => model[0].UserName)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Comment2" style="">
                        @Html.DisplayNameFor(model => model[0].Comment2)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="UserName2" style="">
                        @Html.DisplayNameFor(model => model[0].UserName2)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="Comment">
                    </th>*@
                    <th style="" class="head-filter" columnName="CreateDate" tableName="Comment">
                    </th>
                    <th style="" class="head-filter" columnName="Title" tableName="Comment">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Titlel" />
                    </th>
                    <th style="" class="head-filter" columnName="Comment" tableName="Comment">
                    </th>
                    <th style="" class="head-filter" columnName="Status" tableName="Comment">
                        @*<input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Status" />*@
                        @Html.DropDownList("Status", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control", @onchange = "headFilterChange(this)" })
                    </th>
                    <th style="" class="head-filter" columnName="Place" tableName="Comment">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Place" />
                    </th>
                    <th style="" class="head-filter" columnName="UserName" tableName="Comment">
                    </th>
                    <th style="" class="head-filter" columnName="Comment2" tableName="Comment">
                    </th>
                    <th style="" class="head-filter" columnName="UserName2" tableName="Comment">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" state="@item.Status">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="CreateDate" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td class="column-value" isKey="false" columnName="Title" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="column-value" isKey="false" columnName="Comment" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.Comment1)
                        </td>
                        <td class="column-value" isKey="false" columnName="Status" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.CommentStatus.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="Place" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.menuGroup.Label)
                        </td>
                        <td class="column-value" isKey="false" columnName="UserName" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="column-value" isKey="false" columnName="Comment2" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.Comment2)
                        </td>
                        <td class="column-value" isKey="false" columnName="UserName2" style="" tableName="Comment">
                            @Html.DisplayFor(modelItem => item.UserName2)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    </div>
</div>