﻿@model List<PCMS.Areas.Order.Models.md_order_LoadingOrder>
    @{
        ViewBag.Title = "choosLoadingOrder";
        Layout = "~/Views/Shared/_Layout.cshtml";
        Layout = null;
    }
<div id="hole">
    <div class="row">
        @*<div class="col-md-1"><button onclick="DateBack()" class="fa fa-arrow-left btn btn-default" title="Zurück"></button></div>
            <div class="col-md-3"><input class="date-from top-date-filter-value form-control" onchange="DateFilter()" id="RegistrationDate" name="RegistrationDate" type="date" /></div>
            <div class="col-md-1"><button onclick="DateForward()" class="fa fa-arrow-right btn btn-default" title="Vor"></button></div>*@
        <div class="col-md-1" ><button type="button" onclick="dateBack()" ><<</button></div>
        <div class="col-md-3" ><input class="form-control" id="dateFrom" type="date" onchange="StateSearch()" value="@ViewBag.dateFrom" /></div>
        <div class="col-md-1"><button type="button" onclick="datePrev()" >>></button></div>
        <input  id="dateTo" type="hidden" value="@ViewBag.dateTo" />
        <div class="col-md-4 ">@Html.DropDownList("SelectState", null, "--Status auswählen--", new { @onchange = "StateSearch()", @class = "form-control" })</div>
    </div>
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_order_LoadingOrder" editUrl="@Url.Action("Edit", "md_order_Order", new { area = "Order" })" deleteUrl="@Url.Action("Delete", "md_order_Order", new { area = "Order" })" printUrl="@Url.Action("Delete", "md_order_Order", new { area = "Order" })">
            <thead>
                <tr class="caption">
                    <th editable="false" colName="OrderId" style="">@Html.DisplayNameFor(model => model[0].OrderNumber)</th>
                    <th editable="false" colName="RegistrationDate" style="">@Html.DisplayNameFor(model => model[0].RegistrationDate)</th>
                    @*<th editable="false" colName="OrderId" style="">@Html.Label("Produktionsmenge")</th>*@
                    @*<th editable="false" colName="OrderId" style="">@Html.Label("Restmenge")</th>*@
                    <th editable="false" colName="RecipeDescription" style="">@Html.DisplayNameFor(model => model[0].RecipeDescription)</th>
                    <th editable="false" colName="RecipeNumber" style="">@Html.DisplayNameFor(model => model[0].RecipeNumber)</th>
                    <th editable="false" colName="State" width="100" style="">@Html.DisplayNameFor(model => model[0].State)</th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnName="OrderId" tableName="md_order_LoadingOrder">
                    </th>
                </tr>
            </thead>
            <tbody id="loadingOrderBody">
                @foreach (var item in Model)
            {
                    <tr ondblclick="choosLoding(this)" id="@item.Id">
                        <td class="" isKey="false" columnName="OrderId" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.OrderNumber)</td>
                        <td class="" isKey="false" columnName="RegistrationDate" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.RegistrationDate).ToString().Replace("T", " ")</td>
                        @*<td class="column-value2" isKey="false" columnName="OrderId" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.OrderedQuantity)</td>*@
                        @*<td class="column-value2" isKey="false" columnName="OrderId" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.DeliveredQuantity)</td>*@
                        <td class="" isKey="false" columnName="RecipeDescription" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.RecipeDescription)</td>
                        <td class="" isKey="false" columnName="RecipeDescription" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.RecipeNumber)</td>

                        @if (item.State == 1)
                        {
                        <td style="background-color:gray;" align="center" valign="middle"><strong>Gesperrt</strong></td>}
                        @if (item.State == 2)
                        {
                        <td style="background-color:cornflowerblue;" align="center" valign="middle"><strong>Freigegeben</strong></td>}
                        @if (item.State == 3)
                        {
                        <td style="background-color:yellow;" align="center" valign="middle"><strong>in Bearbeitung</strong></td>}
                        @if (item.State == 4)
                        {
                        <td style="background-color:lawngreen;" align="center" valign="middle"><strong>Beendet</strong></td>}
                        @if (item.State == 5)
                        {
                        <td style="background-color:orangered;" align="center" valign="middle"><strong>Storniert</strong></td>}    
                        <td><button type="button" onclick="choosLoding(this)" >Wählen </button></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">
    function StateSearch() {
        $("#dateTo").val($("#dateFrom").val());
        $.post("/lims/lims_concrete_test/choosLoadingOrder", { selected: $('#SelectState').val(), dateFrom: $("#dateFrom").val(), dateTo: $("#dateTo").val() }, function (data) {
            $("#hole").html(data);
        });
        //alert($('#Item1 option:selected').val());
    }
    function dateBack() {
        var from = $("#dateFrom").val().split('-');
        date = new Date(from[0] + "/" + from[1] + "/" + from[2]);
        date.setDate(date.getDate() - 1);
        $("#dateFrom").val(date.getFullYear() + "-" + ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) + "-" + (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()));
        StateSearch()
    }
    function datePrev() {
        var from = $("#dateFrom").val().split('-');
        date = new Date(from[0] + "/" + from[1] + "/" + from[2]);
        date.setDate(date.getDate() + 1);
        $("#dateFrom").val(date.getFullYear() + "-" + ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) + "-" + (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()));
        StateSearch()
    }
</script>
