﻿@model PCMS.Areas.LIMS.Models.lims_concrete_ProbDry

@{
    Layout = null;
}
<div class="panel panel-default testIndirectTensileStrength dryTestType" @(Model.ProbType == "Spaltzugfestigkeit" ? "" : "style=display:none")>
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Spaltzugfestigkeit<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.BreakingLoad, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BreakingLoad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BreakingLoad, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Strength, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Strength, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Strength, "", new { @class = "text-danger" })
                    </div>
                </div>




            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.TestStandard, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("TestStandard", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 18, @dropDownSel = @Model.TestStandard })
                        @Html.ValidationMessageFor(model => model.TestStandard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Storage, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("Storage", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 19, @dropDownSel = @Model.Storage })
                        @Html.ValidationMessageFor(model => model.Storage, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

        </div>
        <div class="row form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.BreakTop, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.BreakPosition, new { htmlAttributes = new { @class = "form-control" } })*@
                    <textarea class="form-control text-box single-line" id="BreakTop" name="BreakTop" type="text" value="@Model.BreakTop"></textarea>
                    @Html.ValidationMessageFor(model => model.BreakTop, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

