﻿@model PCMS.Areas.LIMS.Models.lims_concrete_ProbDry

@{
    Layout = null;
}
<div class="panel panel-default testOthers dryTestType" @(Model.ProbType == "Sonstiges" ? "" : "style=display:none")>
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Sonstige<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Testname, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("Testname", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 23, @dropDownSel = @Model.Charges })
                        @Html.ValidationMessageFor(model => model.Testname, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.TestValue, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TestValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TestValue, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("Unit", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 24, @dropDownSel = @Model.Charges })
                        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.TestStandard, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("TestStandard", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 18, @dropDownSel = @Model.TestStandard })
                        @Html.ValidationMessageFor(model => model.TestStandard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Storage, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("Storage", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 19, @dropDownSel = @Model.Storage })
                        @Html.ValidationMessageFor(model => model.Storage, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

        </div>
        <div class="row form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.TestText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.BreakPosition, new { htmlAttributes = new { @class = "form-control" } })*@
                    <textarea class="form-control text-box single-line" id="TestText" name="TestText" type="text" value="@Model.TestText"></textarea>
                    @Html.ValidationMessageFor(model => model.TestText, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
