﻿@model PCMS.Areas.LIMS.Models.lims_concrete_ProbDry

@{
    Layout = null;
}
<div class="panel panel-default testPressureResistant dryTestType" @(Model.ProbType == "Druckfestigkeit" ? "" : "style=display:none")>
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Druckprüfung<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="row">
            <div class="col-lg-4" >
                <div class="form-group">
                    @Html.LabelFor(model => model.BreakingLoad, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.BreakingLoad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BreakingLoad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConversionFactor, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @*@Html.EditorFor(model => model.ConversionFactor, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input class="form-control text-box single-line " data-val="true" data-val-number="Das Feld &quot;Umr.-faktor&quot; muss eine Zahl sein." id="ConversionFactor" name="ConversionFactor" type="text" value="@(Model.ConversionFactor ?? 0.92m )">
                        @Html.ValidationMessageFor(model => model.ConversionFactor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PressureSurface, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PressureSurface, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PressureSurface, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BreakingType, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.BreakingType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BreakingType, "", new { @class = "text-danger" })
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Strength, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Strength, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Strength, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Strength2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Strength2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Strength2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Scleroscope, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Scleroscope, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Scleroscope, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Unusual, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Unusual)
                            @Html.ValidationMessageFor(model => model.Unusual, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.TestStandard, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("TestStandard", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 18, @dropDownSel = @Model.TestStandard })
                        @Html.ValidationMessageFor(model => model.TestStandard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Storage, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("Storage", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 19, @dropDownSel = @Model.Storage })
                        @Html.ValidationMessageFor(model => model.Storage, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>


                

                
            </div>
    </div>
    </div>
       
<script type="text/javascript" >
    function iniPressureResistant() {
        $(".BreakingLoad, .ConversionFactor").off("change");
        $(".BreakingLoad, .ConversionFactor").on("change", function (e) {
            calcStrength(e.currentTarget);
            var proNumb = $(e.currentTarget).closest(".panelConcreteDry").attr("probnumber");
            if ($(e.currentTarget).val() != "") {               
                $("#DryProbHeadTable tr[probnumber=" + proNumb + "]").find(".hStatus").text("✔");
            }
            else {
                $("#DryProbHeadTable tr[probnumber=" + proNumb + "]").find(".hStatus").text("X");
            }
                
        });
       
    }
    //Festigkeit
    function calcStrength(el) {

        var la = parseFloat(String($(el).closest(".panelConcreteDry").find(".BreakingLoad").val()).replace(",", "."));
        var dr = parseFloat(String($(el).closest(".panelConcreteDry").find(".PressureSurface").val()).replace(",", "."));
        var fa = parseFloat(String($(el).closest(".panelConcreteDry").find(".ConversionFactor").val()).replace(",", "."));
        var d1 = (la * 1000 / dr).toFixed(2).replace(".", ",");
        if(d1 != "NaN")
            $(el).closest(".panelConcreteDry").find(".Strength").val(d1);
        var d2 = (la * 1000 / dr * fa).toFixed(2).replace(".", ",")
        if (d2 != "NaN")
            $(el).closest(".panelConcreteDry").find(".Strength2").val(d2);

    }

</script>