﻿@model PCMS.Areas.LIMS.Models.lims_concrete_ProbDry

@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Abweichung vom angegebenen Prüfverfahren<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Deviation, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <textarea class="form-control text-box single-line" id="Deviation" name="Deviation" type="text" value="@Model.Deviation"></textarea>
                    @Html.ValidationMessageFor(model => model.Deviation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        
    </div>
</div>






            

           