﻿@model List<PCMS.Areas.LIMS.Models.lims_concrete_ProbDry>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Anstehende Prüfungen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="lims_concrete_Test">
    @*<a class="btn btn-default" href="@Url.Action("Create","lims_concrete_Test", new { area = "lims" })"><i class="fa fa-plus"></i> Neue Prüfung</a>
        <a class="btn btn-default" href="@Url.Action("Index","lims_concrete_Test", new { area = "lims" })"><i class="fa fa-refresh"></i> Neu laden</a>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)*@
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="lims_concrete_Test" editUrl="@Url.Action("Edit", "lims_concrete_Test", new { area = "lims" })" deleteUrl="@Url.Action("Delete", "lims_concrete_Test", new { area = "lims" })" detailsUrl="@Url.Action("Details", "lims_concrete_Test", new { area = "lims" })">
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="TestNumber" style="">
                        @Html.DisplayNameFor(model => model[0].ProbNumber)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="TestDate" style="">
                        @Html.DisplayNameFor(model => model[0].TestSpecimenNo)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="TestType" style="">
                        @Html.DisplayNameFor(model => model[0].TestDateTime)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="OrderNumber" style="">
                        @Html.DisplayNameFor(model => model[0].ProbType)
                    </th>
                    <th>
                        Alter
                    </th>

                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr id="@item.Id">
                        <td class="column-valueL" isKey="false" columnName="TestNumber" style="" tableName="ProbNumber">
                            <a href="/LIMS/lims_concrete_Test/Edit/@item.TestId">  @Html.DisplayFor(modelItem => item.ProbNumber)</a>
                        </td>
                        <td class="column-valueL" isKey="false" columnName="TestDate" style="" tableName="TestSpecimenNo">
                            <a href="/LIMS/lims_concrete_Test/Edit/@item.TestId"> @Html.DisplayFor(modelItem => item.TestSpecimenNo)</a>
                        </td>
                        <td class="column-valueL" isKey="false" columnName="OrderNumber" style="" tableName="TestDateTime">
                            <a href="/LIMS/lims_concrete_Test/Edit/@item.TestId"> @Html.DisplayFor(modelItem => item.TestDateTime)</a>
                        </td>
                        <td class="column-valueL" isKey="false" columnName="SortName" style="" tableName="TestSpecimenDescription">
                            <a href="/LIMS/lims_concrete_Test/Edit/@item.TestId">@Html.DisplayFor(modelItem => item.ProbType)</a>
                        </td>
                        <td class="column-valueL" isKey="false" columnName="SortName" style="" tableName="alter">
                            <a href="/LIMS/lims_concrete_Test/Edit/@item.TestId"> @item.TestAgeValue @item.TestAgeType</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        @*@Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)*@
    </div>
</div>