﻿@model PCMS.Areas.MasterData.Models.md_PriceMarkUp
@{
    ViewBag.Title = "Preiszuschlag erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="row">
        <div class="col-md-7"><input type="button" onclick="location.href='@Url.Action("Index", "md_masterData_PriceMarkUp", new { area = "MasterData" })'" value="Zurück zur Liste" class="btn btn-default" /></div>
        <div class="col-md-1"><input type="submit" value="Speichern" class="btn btn-default" /></div>
    </div>
    <table cellpadding="10">

        <tr>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ShortDescription)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ShortDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PriceType)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("PriceType", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control" })
                        @*@Html.EditorFor(model => model.PriceType, new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.PriceType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EDVCode)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EDVCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EDVCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Amount)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Amount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AmountUnit)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.AmountUnit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AmountUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Price)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PriceUnit)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PriceUnit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PriceUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DateFrom)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DateFrom, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DateUntil)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DateUntil, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DateUntil, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TimeFrom)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TimeFrom, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TimeFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TimeUntil)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TimeUntil, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TimeUntil, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table cellpadding="40">
        <tr>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Sunday)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Sunday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sunday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Monday)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Monday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Monday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Tuesday)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Tuesday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tuesday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Wednesday)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Wednesday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Wednesday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Thursday)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Thursday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Thursday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Friday)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Friday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Friday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Saturday)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Saturday, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saturday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        </table>
        <div class="row">
            <div class="col-md-7"><input type="button" onclick="location.href='@Url.Action("Index", "md_masterData_PriceMarkUp", new { area = "MasterData" })'" value="Zurück zur Liste" class="btn btn-default" /></div>
            <div class="col-md-1"><input type="submit" value="Speichern" class="btn btn-default" /></div>
        </div>
}