﻿@model PCMS.Areas.MasterData.Models.md_masterData_Standard
@{
    ViewBag.Title = "Norm anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        @*<div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>*@
        <div class="col-md-2">
            <div class="editor-label">
                @Html.Label("Norm")
                @*@Html.LabelFor(model => model.ShortName,"Norm" , htmlAttributes: new { @class = "control-label" })*@
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortName)
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8"><a class="btn btn-default" onclick="closeWindow()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1">  <button type="button" onclick="SubmitButton()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    </div>

}
<script>
    function closeWindow(){
        $("#Modal").modal("hide");
    }

    function SubmitButton() {
        $.post("/MasterData/md_masterData_Sort/SaveStandard", { name: $("#Name").val(), shortname: $("#ShortName").val(), description: $("#Description").val(), comment: $("#Comment").val() }, function (data) {
            $('#sortDetails_NormId').append($("<option></option>").attr("value", data.id).text($("#ShortName").val()));
            $('#sortDetails_NormId').val(data.id);
            $("#Modal").modal("hide");
        });
    }
</script>

