﻿@model PCMS.Areas.MasterData.Models.md_material_ExposureKombi
@{
    ViewBag.Title = "DeleteExpo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div>Möchten sie die Norm "@Html.DisplayTextFor(model => model.ShortText)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="closeWindow()" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="button" name="submit" id="submit" value="Löschen" class="btn btn-default" />
    </div>
}
<script>
    $("#submit").click(function () {
        $.post("/MasterData/md_masterData_Sort/RemoveExpo", { id: $('#Id').val() }, function (data) {
            if(data == true)
            {
                $("#sortDetails_ExposureKombiId option:selected").remove();
                $("#Modal").modal("hide");
            }
        });
    });

    function closeWindow() {
        $("#Modal").modal("hide");
    }
</script>
