﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Fahrer erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" href="@Url.Action("Index","md_masterData_Driver", new { area = "MasterData" })"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button type="submit" class="btn btn-default"> <i class="fa fa-floppy-o"></i> Speichern</button></div>
    </div>
    <table border="0">
        @*<tr>
            <td><input type="button" onclick="location.href='Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
            <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>*@
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.contact.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.LastName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.FirstName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.contact.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Tel, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Mobile, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.driver.DriverNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.driver.DriverNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.driver.DriverNumber, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.driver.RFID, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.driver.RFID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.driver.RFID, "", new { @class = "text-danger" })
            </td>

        <!--Submit Schaltfläche und Zurück Link-->
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        @*<tr>
            <td><input type="button" onclick="location.href='Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
            <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>*@
    </table>
    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" href="@Url.Action("Index","md_masterData_Driver", new { area = "MasterData" })"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button type="submit" class="btn btn-default"> <i class="fa fa-floppy-o"></i> Speichern</button></div>
    </div>
}
<script>
    $("#address_ZipCode").blur(function () {
        $.post("/MasterData/md_masterData_Customer/SearchCity", { zip: $("#address_ZipCode").val() }, function (data) {
            $("#address_City").val(data.City);
        });
    });

    $("#address_City").blur(function () {
        $.post("/MasterData/md_masterData_Customer/SearchZip", { city: $("#address_City").val() }, function (data) {
            $("#address_ZipCode").val(data.Zip);
        });
    });
</script>

