﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_material_ConcreteFamilyGroup>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_ConcreteFamily">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Betonfamilien Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    <a class="btn btn-default" href="@Url.Action("Create","md_masterData_ConcreteFamily", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neue Betonfamilie</a>
    <a class="btn btn-default" onclick="refresh()"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)

    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_ConcreteFamily" editUrl="@Url.Action("Edit", "md_masterData_ConcreteFamily", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_ConcreteFamily", new { area = "masterData" })">
            <thead>
                <tr class="caption">
                    @*<th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnname="Id" tablename="md_masterData_ConcreteFamily">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>*@
                    <th style="" class="head-filter" columnname="Description" tablename="md_masterData_ConcreteFamily">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" columnname="Id" style="" tablename="md_masterData_ConcreteFamily">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" columnname="Description" style="" tablename="md_masterData_ConcreteFamily">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
        <br />
    </div>
</div>
