﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Customer>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Customer">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Kunden auswählen";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseCustomer","Reports", new { area = "Material" } )" class="table table-hover table-condensed" tablename="md_masterData_Customer">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="display:none">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                    <th editable="true" colname="CustomerId" style="">@Html.DisplayNameFor(model => model[0].CustomerId)</th>
                    <th editable="true" colname="Street" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.Street)</th>
                    <th editable="true" colname="ZipCode" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.ZipCode)</th>
                    <th editable="true" colname="City" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.City)</th>
                </tr>
                <tr>
                    <th style="display:none" class="head-filter" columnname="Id" tablename="md_masterData_Customer"></th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Customer"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="CustomerId" tablename="md_masterData_Customer"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Street" tablename="md_masterData_Customer"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="ZipCode" tablename="md_masterData_Customer"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="City" tablename="md_masterData_Customer"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseCusto(this)">
                        <td columnname="Id" style="display:none" tablename="md_masterData_Customer">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Name" style="" tablename="md_masterData_Customer">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td columnname="CustomerId" style="" tablename="md_masterData_Customer">@Html.DisplayFor(modelItem => item.CustomerId)</td>
                        <td columnname="Street" style="" tablename="md_masterData_Customer">@Html.DisplayFor(modelItem => item.Md_masterData_Address.Street)</td>
                        <td columnname="ZipCode" style="" tablename="md_masterData_Customer">@Html.DisplayFor(modelItem => item.Md_masterData_Address.ZipCode)</td>
                        <td columnname="City" style="" tablename="md_masterData_Customer">@Html.DisplayFor(modelItem => item.Md_masterData_Address.City)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
<script>
    //function chooseCusto(e) {
    //    $("#CustomerName").val($(e).closest("tr").find("td[columnname='Name']").text().trim());
    //    $("#CustomerNumber").val($(e).closest("tr").find("td[columnname='CustomerId']").text().trim());
    //    $("#CustomerId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
    //
    //    var CustomerId = $(e).closest("tr").find("td[columnname='Id']").text().trim();
    //
    //    //Baustellenauswahl
    //    $.post("/Order/md_order_Order/CheckConstructionSite", { id: CustomerId }, function (data) {
    //        if (data == true) {
    //            $.post("/Order/md_order_Order/ChooseConstructionSite", { id: CustomerId }, function (data) { chooseConstruction("Baustelle auswählen", data, ["", ""]); });
    //        }
    //        else {
    //            $.post("/Order/md_order_Order/SelectConstructionSite", { id: CustomerId }, function (data) {
    //                if (data.Name != "") {
    //                    $("#ConstructionSiteNumber").val(data.ConId).text();
    //                    $("#ConstructionSiteDescription").val(data.Name).text();
    //                    $("#DistanceTime").val(data.Distance).text();
    //                }
    //            });
    //        }
    //    })
    //    $("#customerModal").modal("hide");
    //}

</script>