﻿@model PagedList.IPagedList<PCMS.Areas.Sieve.Models.md_sieve_SieveSet>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Siebsatz Übersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_sieve_SieveSet">
    <a class="btn btn-default" href="@Url.Action("Create","md_sieve_SieveSet", new { area = "Sieve" })"><i class="fa fa-plus"></i> Sieb hinzufügen</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_sieve_SieveSet", new { area = "Sieve" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <button class="btn btn-default" onclick="filter('report', '/Sieve/md_sieve_SieveSet/Report', 'md_sieve_SieveSet')"><i class="fa fa-file-text-o"></i> Report</button>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_sieve_SieveSet" editUrl="@Url.Action("Edit", "md_sieve_SieveSet", new { area = "Sieve" })" deleteUrl="@Url.Action("Delete", "md_sieve_SieveSet", new { area = "Sieve" })" detailsUrl="@Url.Action("Details", "md_sieve_SieveSet", new { area = "Sieve" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Number" style="">
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    <th editable="false" onclick="" colName="Number" style="">
                        @Html.DisplayNameFor(model => model[0].AllSives)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="md_sieve_SieveSet">
                    </th>*@
                    <th style="" class="head-filter" columnName="Description" tableName="md_sieve_SieveSet">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Description" />
                    </th>
                    <th style="" class="head-filter" columnName="Number" tableName="md_sieve_SieveSet">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Number" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="md_sieve_SieveSet">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="Description" style="" tableName="md_sieve_SieveSet">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="Number" style="" tableName="md_sieve_SieveSet">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td class="column-value" isKey="false" columnName="AllSives" style="" tableName="md_sieve_SieveSet">
                            @Html.DisplayFor(modelItem => item.AllSives)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @*//--------------------------------------------------------------Start Pagging
        *@<div class="TableNaviFrame">
            <div class="TableNaviStats">
                Seite @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) von @Model.PageCount<br>
                Eintrag @Model.FirstItemOnPage bis @Model.LastItemOnPage von @Model.TotalItemCount
            </div>
            <div class="pagination-container TableNaviSite">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li><a pn="1" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    }
                    @if (Model.PageCount > 3)
                    {
                        if (Model.PageNumber < 4)
                        {
                            for (int i = 1; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else if (Model.PageNumber > Model.PageCount - 2)
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                        }
                    }
                    @if (Model.PageNumber != Model.PageCount)
                    {
                        <li><a pn="@Model.PageCount" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    }
                </ul>
            </div>
            <div class="TableNaviCount">
                <select onchange="filter()" class="pagesize form-control" style="">
                    @{
                        List<int> pageSize = new List<int>() { 5, 10, 50, 100 };
                    }
                    @foreach (int u in pageSize)
                    {
                        if (u.Equals(Model.PageSize))
                        {
                            <option selected>@u</option>
                        }
                        else
                        {
                            <option>@u</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*--------------------------------------------------------------End Pagging
        *@
    </div>
</div>