﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView

@{
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<h2>Adresse erstellen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table border="0">

        <tr>
            <td><h4>Adressdaten</h4></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.address.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Country, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.address.State, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.State, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="6"><hr /></td>
        </tr>

        <tr>
            <td><h4>Kontaktdaten</h4></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.contact.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.FirstName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.LastName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Mobile, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.contact.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Tel, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Fax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Fax, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Email, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="6"><hr /></td>
        </tr>

        <tr>
            <td><h4>Firmendaten</h4></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.company.ConstructionSiteId, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.company.ConstructionSiteId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.company.ConstructionSiteId, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.company.AddressId, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.company.AddressId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.company.AddressId, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.company.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.company.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.company.CompanyName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.company.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.company.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.company.Mobile, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.company.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.company.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.company.Tel, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.company.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.company.Fax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.company.Fax, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.company.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.company.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.company.Email, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="6"><hr /></td>
        </tr>


        <tr>
            <td><h4>Fahrzeugdaten</h4></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.vehicle.LastDriver_ContactId, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.LastDriver_ContactId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.LastDriver_ContactId, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.Comment, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.NumberPlate, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.NumberPlate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.NumberPlate, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.vehicle.TareWeight, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.TareWeight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.TareWeight, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.MaxFill, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.MaxFill, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.MaxFill, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.MinFill, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.MinFill, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.MinFill, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.vehicle.Rest, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.Rest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.Rest, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.RFID, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.RFID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.RFID, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.MainPlantId, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.MainPlantId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.MainPlantId, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.vehicle.EmptyingProgram, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.EmptyingProgram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.EmptyingProgram, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.MaxTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.MaxTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.MaxTotal, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.vehicle.LastDateTareWeighing, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.vehicle.LastDateTareWeighing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.LastDateTareWeighing, "", new { @class = "text-danger" })
            </td>
        </tr>


        <!--Submit Schaltfläche und Zurück Link-->
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("zurück zur Liste", "Index")</td>
            <td colspan="6" align="right"><input type="submit" value="Erstellen" class="btn btn-default" /></td>
        </tr>
    </table>
}