﻿@model PCMS.Areas.Material.Models.md_material_Location

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>md_material_Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Md_material_LocationGroup.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Md_material_LocationGroup.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
