﻿@model PagedList.IPagedList<PCMS.Areas.Material.Models.md_material_Location>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lagerort";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_material_Location">
    <a class="btn btn-default" href="@Url.Action("Create","md_material_Location", new { area = "material" })"><i class="fa fa-plus"></i> Lager hinzufügen</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_material_Location", new { area = "material" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <button class="btn btn-default" onclick="filter('report', '/Material/md_material_Location/Report')"><i class="fa fa-file-text-o"></i> Report</button>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_material_Location" editUrl="@Url.Action("Edit", "md_material_Location", new { area = "material" })" deleteUrl="@Url.Action("Delete", "md_material_Location", new { area = "material" })" detailsUrl="@Url.Action("Details", "md_material_Location", new { area = "material" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="GroupId" style="">
                        @Html.DisplayNameFor(model => model[0].GroupId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MaterialId" style="">
                        @Html.DisplayNameFor(model => model[0].MaterialId)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="FacilityId" style="">
                        @Html.DisplayNameFor(model => model[0].FacilityId)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Max" style="">
                        @Html.DisplayNameFor(model => model[0].Max)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Min" style="">
                        @Html.DisplayNameFor(model => model[0].Min)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Value" style="">
                        @Html.DisplayNameFor(model => model[0].Value)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Capacity" style="">
                        @Html.DisplayNameFor(model => model[0].Capacity)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Active1" style="">
                        @Html.DisplayNameFor(model => model[0].Active1)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Active2" style="">
                        @Html.DisplayNameFor(model => model[0].Active2)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="Active3" style="">
                        @Html.DisplayNameFor(model => model[0].Active3)
                    </th>*@
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="md_material_Location">
                    </th>*@
                    <th style="" class="head-filter" columnName="GroupId" tableName="md_material_Location">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.GroupId" />
                    </th>
                    <th style="" class="head-filter" columnName="MaterialId" tableName="md_material_Location">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.MaterialId" />
                    </th>
                    @*<th style="" class="head-filter" columnName="FacilityId" tableName="md_material_Location">
                    </th>*@
                    <th style="" class="head-filter" columnName="Number" tableName="md_material_Location">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Number" />
                    </th>
                    <th style="" class="head-filter" columnName="Description" tableName="md_material_Location">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Description" />
                    </th>
                    <th style="" class="head-filter" columnName="Max" tableName="md_material_Location">
                    </th>
                    <th style="" class="head-filter" columnName="Min" tableName="md_material_Location">
                    </th>
                    <th style="" class="head-filter" columnName="Value" tableName="md_material_Location">
                    </th>
                    <th style="" class="head-filter" columnName="Capacity" tableName="md_material_Location">
                    </th>
                    <th style="" class="head-filter" columnName="Active1" tableName="md_material_Location">
                    </th>
                    <th style="" class="head-filter" columnName="Active2" tableName="md_material_Location">
                    </th>
                    @*<th style="" class="head-filter" columnName="Active3" tableName="md_material_Location">
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="GroupId" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Md_material_LocationGroup.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="MaterialId" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Md_material_Material.Name)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="FacilityId" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.FacilityId)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="Number" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td class="column-value" isKey="false" columnName="Description" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="Max" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Max)
                        </td>
                        <td class="column-value" isKey="false" columnName="Min" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Min)
                        </td>
                        <td class="column-value" isKey="false" columnName="Value" style="" tableName="md_material_Location">
                            @*@Html.DisplayFor(modelItem => item.Value)*@
                            @item.getValue()
                        </td>
                        <td class="column-value" isKey="false" columnName="Capacity" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td class="column-value" isKey="false" columnName="Active1" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Active1)
                        </td>
                        <td class="column-value" isKey="false" columnName="Active2" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Active2)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="Active3" style="" tableName="md_material_Location">
                            @Html.DisplayFor(modelItem => item.Active3)
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
        <br>
        
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>