﻿@model PagedList.IPagedList<PCMS.Areas.Material.Models.md_material_MaterialMoving>
@using PagedList.Mvc
<div class="tableContent" tablename="md_material_MaterialMoving">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Materialbewegung Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <p style="display:none">@ViewBag.Milliseconds</p>
    <a class="btn btn-default" href="@Url.Action("Index","md_material_MaterialMoving", new { area = "Material" })"><i class="fa fa-refresh"></i> Neu laden</a>&nbsp;
    <button class="btn btn-default" onclick="filter('report', '/Material/md_material_MaterialMoving/Report')"><i class="fa fa-file-text-o"></i> Report</button>
    @*<button id="getReportBtn" class="btn btn-default" disabled onclick="reportDetails('report', '/Material/md_material_MaterialMoving/ReportLot')"><i class="fa fa-file-text-o"></i> Chargenprotokoll</button>*@
    @*<button disabled id="getReportBtn" type="button" url="/Material/md_material_MaterialMoving/ReportLot" eType="pdf" class="getReportBtn btn btn-default">Chargenprotokoll</button>*@
    @*<a class="btn btn-default" href=""><i class="fa fa-file-text-o"></i> kumuliertes Chargenprotokoll</a>*@
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div class="form-inline topFilterContainer" columnName="ProbTakingDatetime"> vom: <input class="date-from top-date-filter-value form-control" onchange="topDateFilterChange()" type="date" value="@ViewBag.ProbTakingDatetimeFrom" /> bis <input class="date-to top-date-filter-value form-control" onchange="topDateFilterChange()" type="date" value="@ViewBag.ProbTakingDatetimeTo" /></div> 
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Additives" editUrl="@Url.Action("Edit", "md_masterData_Additives", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Additives", new { area = "masterData" })">
            <thead>
                <tr class="caption">
                    @*<th onclick="sort(this)" editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</th>*@
                    <th onclick="sort(this)" editable="true" colname="MovingType" style="">@Html.DisplayNameFor(model => model[0].MovingType)</th>

                    @*<th onclick="sort(this)" editable="true" colname="LocationId" style="">@Html.DisplayNameFor(model => model[0].LocationId)</th>*@
                    <th onclick="sort(this)" editable="true" colname="ArticleNo" style="">@Html.DisplayNameFor(model => model[0].ArticleNo)</th>
                    <th onclick="sort(this)" editable="true" colname="ArticleDescription" style="">@Html.DisplayNameFor(model => model[0].ArticleDescription)</th>
                    <th onclick="sort(this)" editable="true" colname="CustomerDescription" style="">@Html.DisplayNameFor(model => model[0].Md_order_Weighing.CustomerDescription)</th>
                    @*<th onclick="sort(this)" editable="true" colname="RecipeDescription" style="">@Html.DisplayNameFor(model => model[0].RecipeDescription)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="RecipeId" style="">@Html.DisplayNameFor(model => model[0].RecipeId)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="RecipeVariant" style="">@Html.DisplayNameFor(model => model[0].RecipeVariant)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="LotNo" style="">@Html.DisplayNameFor(model => model[0].LotNo)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="LotNoExtern" style="">@Html.DisplayNameFor(model => model[0].LotNoExtern)</th>*@
                    <th onclick="sort(this)" editable="true" colname="OrderNo" style="">@Html.DisplayNameFor(model => model[0].OrderNo)</th>
                    @*<th onclick="sort(this)" editable="true" colname="OrderLineNo" style="">@Html.DisplayNameFor(model => model[0].OrderLineNo)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="OrderId" style="">@Html.DisplayNameFor(model => model[0].OrderId)</th>*@
                    <th onclick="sort(this)" editable="true" colname="RegistrationDate" style="width: 150px;">@Html.DisplayNameFor(model => model[0].RegistrationDate)</th>
                    @*<th onclick="sort(this)" editable="true" colname="LineNo" style="">@Html.DisplayNameFor(model => model[0].LineNo)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="LocationNo" style="">@Html.DisplayNameFor(model => model[0].LocationNo)</th>
                        <th onclick="sort(this)" editable="true" colname="LocationType" style="">@Html.DisplayNameFor(model => model[0].LocationType)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="ArticleId" style="">@Html.DisplayNameFor(model => model[0].ArticleId)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="ScaleNo" style="">@Html.DisplayNameFor(model => model[0].ScaleNo)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="QuantitySetpoint" style="">@Html.DisplayNameFor(model => model[0].QuantitySetpoint)</th>*@
                    <th onclick="sort(this)" editable="true" colname="QuantityIs" style="">@Html.DisplayNameFor(model => model[0].QuantityIs)</th>
                    @*<th onclick="sort(this)" editable="true" colname="Unit" style="">@Html.DisplayNameFor(model => model[0].Unit)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="WarrantyDate" style="">@Html.DisplayNameFor(model => model[0].WarrantyDate)</th>
                        <th onclick="sort(this)" editable="true" colname="ExpirationDate" style="">@Html.DisplayNameFor(model => model[0].ExpirationDate)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="ApprovedTolPlus" style="">@Html.DisplayNameFor(model => model[0].ApprovedTolPlus)</th>
                        <th onclick="sort(this)" editable="true" colname="ApprovedTolMinus" style="">@Html.DisplayNameFor(model => model[0].ApprovedTolMinus)</th>
                        <th onclick="sort(this)" editable="true" colname="Trailing" style="">@Html.DisplayNameFor(model => model[0].Trailing)</th>
                        <th onclick="sort(this)" editable="true" colname="ShiftFine" style="">@Html.DisplayNameFor(model => model[0].ShiftFine)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="StartDate" style="">@Html.DisplayNameFor(model => model[0].StartDate)</th>
                        <th onclick="sort(this)" editable="true" colname="StopDate" style="">@Html.DisplayNameFor(model => model[0].StopDate)</th>*@
                    @*<th onclick="sort(this)" editable="true" colname="FacilitieId" style="">@Html.DisplayNameFor(model => model[0].FacilitieId)</th>
                        <th onclick="sort(this)" editable="true" colname="FacilitieDescription" style="">@Html.DisplayNameFor(model => model[0].FacilitieDescription)</th>
                        <th onclick="sort(this)" editable="true" colname="Exported" style="">@Html.DisplayNameFor(model => model[0].Exported)</th>*@
                    <th onclick="sort(this)" editable="true" colname="UserId" style="">@Html.DisplayNameFor(model => model[0].UserId)</th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnname="Id" tablename="md_material_MaterialMoving"></th>*@

                    @*<th style="" class="head-filter" columnname="MovingType" tablename="md_material_MaterialMoving"><input value="@ViewBag.MovingType" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    <th style="" class="head-filter" columnname="MovingType" tablename="md_material_MaterialMoving">
                        @Html.DropDownList("MovingType",null,"--Bitte Wählen--",htmlAttributes: new { @class = "form-control", @onchange = "headFilterChange(this)" })
                    </th>

                    @*<th style="" class="head-filter" columnname="LocationId" tablename="md_material_MaterialMoving"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    <th style="" class="head-filter" columnname="ArticleNo" tablename="md_material_MaterialMoving"><input value="@ViewBag.ArticleNo" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="ArticleDescription" tablename="md_material_MaterialMoving"><input value="@ViewBag.ArticleDescription" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="CustomerDescription" tablename="md_material_MaterialMoving"><input value="@ViewBag.CustomerDescription" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                    @*<th style="" class="head-filter" columnname="RecipeDescription" tablename="md_material_MaterialMoving"><input value="@ViewBag.RecipeDescription" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    @*<th style="" class="head-filter" columnname="RecipeId" tablename="md_material_MaterialMoving"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    @*<th style="" class="head-filter" columnname="RecipeVariant" tablename="md_material_MaterialMoving"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    @*<th style="" class="head-filter" columnname="LotNo" tablename="md_material_MaterialMoving"><input value="@ViewBag.LotNo" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    @*<th style="" class="head-filter" columnname="LotNoExtern" tablename="md_material_MaterialMoving"><input value="@ViewBag.LotNoExtern" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    <th style="" class="head-filter" columnname="OrderNo" tablename="md_material_MaterialMoving"><input value="@ViewBag.OrderNo" class="head-filter-value form-control" onkeyup="headFilterKeyDown(this);LotCheck()" type="text" placeholder="Suchen" /></th>
                    @*<th style="" class="head-filter" columnname="OrderLineNo" tablename="md_material_MaterialMoving"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    @*<th style="" class="head-filter" columnname="OrderId" tablename="md_material_MaterialMoving"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>*@
                    <th style="" class="head-filter" columnname="RegistrationDate" tablename="md_material_MaterialMoving"></th>
                    @*<th style="" class="head-filter" columnname="LineNo" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="LocationNo" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="LocationType" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="ScaleNo" tablename="md_material_MaterialMoving"></th>*@
                    @*<th style="" class="head-filter" columnname="QuantitySetpoint" tablename="md_material_MaterialMoving"></th>*@
                    <th style="" class="head-filter" columnname="QuantityIs" tablename="md_material_MaterialMoving"></th>
                    @*<th style="" class="head-filter" columnname="Unit" tablename="md_material_MaterialMoving"></th>*@
                    @*<th style="" class="head-filter" columnname="WarrantyDate" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="ExpirationDate" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="ApprovedTolPlus" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="ApprovedTolMinus" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="Trailing" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="ShiftFine" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="StartDate" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="StopDate" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="FacilitieId" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="FacilitieDescription" tablename="md_material_MaterialMoving"></th>
                        <th style="" class="head-filter" columnname="Exported" tablename="md_material_MaterialMoving"></th>*@

                    <th style="" class="head-filter" columnname="UserId" tablename="md_material_MaterialMoving"><input value="@ViewBag.UserId" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr id="@item.Id">
                        @*<td columnname="Id" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.Id)</td>*@
                        @if (item.MovingType == 0)
                        {
                            <td columnname="MovingType" style="" tablename="md_material_MaterialMoving">Eingang</td>
                        }
                        @if (item.MovingType == 1)
                        {
                            <td columnname="MovingType" style="" tablename="md_material_MaterialMoving">Ausgang</td>
                        }

                        @*<td columnname="LocationId" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.LocationId)</td>*@
                        <td columnname="ArticleNo" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ArticleNo)</td>
                        <td columnname="ArticleDescription" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ArticleDescription)</td>
                        <td columnname="CustomerDescription" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.Md_order_Weighing.CustomerDescription)</td>
                        @*<td columnname="RecipeDescription" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.RecipeDescription)</td>*@
                        @*<td columnname="RecipeId" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.RecipeId)</td>*@
                        @*<td columnname="RecipeVariant" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.RecipeVariant)</td>*@
                        @*<td columnname="LotNo" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.LotNo)</td>*@
                        @*<td columnname="LotNoExtern" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.LotNoExtern)</td>*@
                        <td columnname="OrderNo" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.OrderNo)</td>
                        @*<td columnname="OrderLineNo" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.OrderLineNo)</td>*@
                        @*<td columnname="OrderId" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.OrderId)</td>*@
                        <td columnname="RegistrationDate" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.RegistrationDate)</td>


                        @*<td columnname="LineNo" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.LineNo)</td>*@
                        @*<td columnname="LocationNo" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.LocationNo)</td>
                            <td columnname="LocationType" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.LocationType)</td>*@
                        @*<td columnname="ArticleId" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ArticleId)</td>*@
                        @*<td columnname="ScaleNo" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ScaleNo)</td>*@
                        @*<td columnname="QuantitySetpoint" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.QuantitySetpoint)</td>*@
                        <td columnname="QuantityIs" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.QuantityIs)</td>
                        @*<td columnname="Unit" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.Unit)</td>*@
                        @*<td columnname="WarrantyDate" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.WarrantyDate)</td>
                            <td columnname="ExpirationDate" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ExpirationDate)</td>*@
                        @*<td columnname="ApprovedTolPlus" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ApprovedTolPlus)</td>
                            <td columnname="ApprovedTolMinus" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ApprovedTolMinus)</td>
                            <td columnname="Trailing" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.Trailing)</td>
                            <td columnname="ShiftFine" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.ShiftFine)</td>*@
                        @*<td columnname="StartDate" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.StartDate)</td>
                            <td columnname="StopDate" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.StopDate)</td>
                            <td columnname="FacilitieId" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.FacilitieId)</td>*@
                        @*<td columnname="FacilitieDescription" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.FacilitieDescription)</td>
                            <td columnname="Exported" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.Exported)</td>*@
                        <td columnname="UserId" style="" tablename="md_material_MaterialMoving">@Html.DisplayFor(modelItem => item.UserId)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>

<script type="text/javascript">
    function LotCheck() {
        var OrderNo = $("th[columnname='OrderNo'] input").val();
        $.getJSON("@Url.Action("checkOrderNumber","md_material_MaterialMoving", new { area="Material" })", { OrderNumber: OrderNo }, function (data) {
            if (data == true) {
                $("#getReportBtn").prop("disabled", false);
            }
            else {
                $("#getReportBtn").prop("disabled", true);
            }
        });
        

    }
</script>