﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.Facilities>
@using PagedList.Mvc
<div class="tableContent" tablename="Facilities">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Werksauswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x:auto">
        <table url="@Url.Action("ChooseFacilities","md_masterData_Vehicle", new { area = "MasterData" } )" class="table table-hover table-condensed" tablename="Facilities">
            <thead>
                <tr class="caption">
                    <td editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</td>
                    <td editable="false" colname="Description" style="">@Html.DisplayNameFor(model => model[0].Description)</td>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="Id" tablename="Facilities"></th>
                    <th style="" class="head-filter" columnname="Description" tablename="Facilities"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="Faci(this)">
                        <td columnname="Id" style="" tablename="Facilities">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Description" style="" tablename="Facilities">@Html.DisplayFor(modelItem => item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
<script>
    function Faci(e) {
        $("#facili_Description").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
        $("#vehicle_FacilitiesId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#Modal").modal("hide");
    }
</script>
