﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Driver>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Driver">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Fahrer Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseDriver","md_masterData_Vehicle", new { area = "MasterData" } )" class="table table-hover table-condensed" tablename="md_masterData_Driver">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="display:none">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="Number" style="">@Html.DisplayNameFor(model => model[0].DriverNumber)</th>
                    <th editable="true" colname="LastName" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Contact.LastName)</th>
                    <th editable="true" colname="FirstName" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Contact.FirstName)</th>
                </tr>
                <tr>
                    <th style="display:none" class="head-filter" columnname="Id" tablename="md_masterData_Driver"></th>
                    <th style="" class="head-filter" columnname="Number" tablename="md_masterData_Driver"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="LastName" tablename="md_masterData_Driver"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="FirstName" tablename="md_masterData_Driver"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseDriv(this)">
                        <td columnname="Id" style="display:none" tablename="md_masterData_Driver">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Number" style="" tablename="md_masterData_Driver">@Html.DisplayFor(modelItem => item.DriverNumber)</td>
                        <td columnname="LastName" style="" tablename="md_masterData_Driver">@Html.DisplayFor(modelItem => item.Md_masterData_Contact.LastName)</td>
                        <td columnname="FirstName" style="" tablename="md_masterData_Driver">@Html.DisplayFor(modelItem => item.Md_masterData_Contact.FirstName)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
<script>
    function chooseDriv(e) {
        $("#driver_DriverNumber").val($(e).closest("tr").find("td[columnname='Number']").text().trim());
        $("#vehicle_DriverId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#Modal").modal("hide");
    }
</script>
