﻿@model PagedList.IPagedList<PCMS.Areas.Order.Models.md_order_AddressTamplate>
@using PagedList.Mvc;
@{
    ViewBag.Title = "md_order_AddressTamplateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_order_AddressTamplate">
    <i onclick="openCreate('@Url.Action("Create","md_order_AddressTamplate", new { area = "Order" })')" class="fa fa-plus"></i>
    <i style="color:green" onclick="refresh()" class="fa fa-refresh"></i>
    <div style="overflow-x:auto;">
        <table class="table table-hover table-condensed" tablename="md_order_AddressTamplate" editUrl="@Url.Action("Edit", "md_order_AddressTamplate", new { area = "Order" })" deleteUrl="@Url.Action("Delete", "md_order_AddressTamplate", new { area = "Order" })">
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="City" style="">
                        @Html.DisplayNameFor(model => model[0].City)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Addition" style="">
                        @Html.DisplayNameFor(model => model[0].Addition)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Zip" style="">
                        @Html.DisplayNameFor(model => model[0].Zip)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="AreaCode" style="">
                        @Html.DisplayNameFor(model => model[0].AreaCode)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="State" style="">
                        @Html.DisplayNameFor(model => model[0].State)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Country" style="">
                        @Html.DisplayNameFor(model => model[0].Country)
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnName="Id" tableName="md_order_AddressTamplate">
                    </th>
                    <th style="" class="head-filter" columnName="City" tableName="md_order_AddressTamplate">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.City" />
                    </th>
                    <th style="" class="head-filter" columnName="Addition" tableName="md_order_AddressTamplate">
                    </th>
                    <th style="" class="head-filter" columnName="Zip" tableName="md_order_AddressTamplate">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Zip" />
                    </th>
                    <th style="" class="head-filter" columnName="AreaCode" tableName="md_order_AddressTamplate">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.AreaCode" />
                    </th>
                    <th style="" class="head-filter" columnName="State" tableName="md_order_AddressTamplate">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.State" />
                    </th>
                    <th style="" class="head-filter" columnName="Country" tableName="md_order_AddressTamplate">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value" isKey="false" columnName="Id" style="" tableName="md_order_AddressTamplate">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="column-value" isKey="false" columnName="City" style="" tableName="md_order_AddressTamplate">
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td class="column-value" isKey="false" columnName="Addition" style="" tableName="md_order_AddressTamplate">
                            @Html.DisplayFor(modelItem => item.Addition)
                        </td>
                        <td class="column-value" isKey="false" columnName="Zip" style="" tableName="md_order_AddressTamplate">
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                        <td class="column-value" isKey="false" columnName="AreaCode" style="" tableName="md_order_AddressTamplate">
                            @Html.DisplayFor(modelItem => item.AreaCode)
                        </td>
                        <td class="column-value" isKey="false" columnName="State" style="" tableName="md_order_AddressTamplate">
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td class="column-value" isKey="false" columnName="Country" style="" tableName="md_order_AddressTamplate">
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @*//--------------------------------------------------------------Start Pagging
        *@<div class="TableNaviFrame">
            <div class="TableNaviStats">
                Seite @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) von @Model.PageCount<br>
                Eintrag @Model.FirstItemOnPage bis @Model.LastItemOnPage von @Model.TotalItemCount
            </div>
            <div class="pagination-container TableNaviSite">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li><a pn="1" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    }
                    @if (Model.PageCount > 3)
                    {
                        if (Model.PageNumber < 4)
                        {
                            for (int i = 1; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else if (Model.PageNumber > Model.PageCount - 2)
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                        }
                    }
                    @if (Model.PageNumber != Model.PageCount)
                    {
                        <li><a pn="@Model.PageCount" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    }
                </ul>
            </div>
            <div class="TableNaviCount">
                <select onchange="filter()" class="pagesize form-control" style="width:75px">
                    @{
                        List<int> pageSize = new List<int>() { 5, 10, 50, 100 };
                    }
                    @foreach (int u in pageSize)
                    {
                        if (u.Equals(Model.PageSize))
                        {
                            <option selected>@u</option>
                        }
                        else
                        {
                            <option>@u</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*--------------------------------------------------------------End Pagging
        *@
    </div>
</div>