﻿@model PCMS.Areas.MasterData.Models.md_material_MaterialType
@{
    ViewBag.Title = "Additiveart anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8"><a class="btn btn-default" onclick="closeWindow()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1">  <button type="button" onclick="SubmitButton()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    </div>
}
<script>
    function closeWindow(){
        $("#Modal").modal("hide");
    }

    function SubmitButton() {
        $.post("/MasterData/md_masterData_Additives/SaveMaterialType", { description: $("#Description").val() }, function (data) {
            $('#material_MaterialTypeId').append(new Option($("#Description").val(), data.id, false, true));
            $("#Modal").modal("hide");
        });
    }
</script>