﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_material_RecipeMaterial>
@using PagedList.Mvc

<div class="tableContent" tablename="md_material_RecipeMaterial">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Rezept Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    

    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseNewRecipe","md_order_Order", new { area = "Order" } )" class="table table-hover table-condensed" tablename="md_material_RecipeMaterial">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Md_Recipe.Id)</th>
                    <th editable="false" colname="RecipeNumber" style="">@Html.DisplayNameFor(model => model[0].Md_Recipe.Number)</th>
                    <th editable="true" colname="RecipeName" style="">@Html.DisplayNameFor(model => model[0].Md_Recipe.Description)</th>
                    <th editable="true" colname="Brand" style="">@Html.Label("Fabrikat")</th>
                </tr>
            </thead>
            <tr>
                <th style="" class="head-filter" columnname="Id" tablename="md_material_RecipeMaterial"></th>
                <th style="" class="head-filter" columnname="RecipeNumber" tablename="md_material_RecipeMaterial"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                <th style="" class="head-filter" columnname="RecipeName" tablename="md_material_RecipeMaterial"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
                <th style="" class="head-filter" columnname="Brand" tablename="md_material_RecipeMaterial"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" /></th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Md_Recipe.Id" onclick="ChooseNewRec(this)">
                        <td columnname="Id" style="" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.Id)</td>
                        <td columnname="RecipeNumber" style="" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.Number)</td>
                        <td columnname="RecipeName" style="" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.Description)</td>
                        <td columnname="Brand" style="" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Material.Name)</td>
                        <td columnname="MinCharge" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.MinCharge)</td>
                        <td columnname="MaxCharge" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.MaxCharge)</td>
                        <td columnname="ArticleNumber" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Material.ArticleNumber)</td>
                        <td columnname="ArticleId" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Material.Id)</td>
                        <td columnname="Comment" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.Comment)</td>
                        <td columnname="MixerFilling" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.MixerFilling)</td>
                        <td columnname="ConsistencySetPoint" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.ConsistencySetPoint)</td>
                        <td columnname="MixTime" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.MixingTime)</td>
                        <td columnname="HotWater" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Recipe.HotWater)</td>
                        <td columnname="SortId" style="display:none" tablename="md_material_RecipeMaterial">@Html.DisplayFor(modelItem => item.Md_Material.SortId)</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>

@if (ViewBag.CompanyType == 1)
{
    <script>
    function ChooseNewRec(e) {
        $("#RecipeNumber").val($(e).closest("tr").find("td[columnname='RecipeNumber']").text().trim());
        $("#RecipeDescription").val($(e).closest("tr").find("td[columnname='RecipeName']").text().trim());
        $("#RecipeId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#MinLot").val($(e).closest("tr").find("td[columnname='MinCharge']").text().trim());
        $("#MaxLot").val($(e).closest("tr").find("td[columnname='MaxCharge']").text().trim());
        var id = $(e).closest("tr").find("td[columnname='Id']").text().trim();

        $("#MaterialNumber").val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
        $("#MaterialDescription").val($(e).closest("tr").find("td[columnname='Brand']").text().trim());
        $("#MaterialId").val($(e).closest("tr").find("td[columnname='ArticleId']").text().trim());

        $("#Modal").modal("hide");
        SelectSubstancesM($(e).closest("tr").find("td[columnname='Id']").text().trim());
        Calculate();
    }
    </script>
}
else
{
    <script>
        function ChooseNewRec(e) {
            $("#RecipeNumber").val($(e).closest("tr").find("td[columnname='RecipeNumber']").text().trim());
            $("#RecipeDescription").val($(e).closest("tr").find("td[columnname='RecipeName']").text().trim());
            $("#RecipeId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
            $("#MinLot").val($(e).closest("tr").find("td[columnname='MinCharge']").text().trim());
            $("#MaxLot").val($(e).closest("tr").find("td[columnname='MaxCharge']").text().trim());
            $("#RecipeComment").val($(e).closest("tr").find("td[columnname='Comment']").text().trim());
            $("#BatchSize").val($(e).closest("tr").find("td[columnname='MixerFilling']").text().trim());
            $("#MixTime").val($(e).closest("tr").find("td[columnname='MixTime']").text().trim());
            $("#ConsistencySetPoint").val($(e).closest("tr").find("td[columnname='ConsistencySetPoint']").text().trim());
            if ($(e).closest("tr").find("td[columnname='HotWater']").prop('checked',true))
            {
                $("#HotWater").prop('checked', true);
            }
            else
            {
                $("#HotWater").prop('checked', false);
            }
            var id = $(e).closest("tr").find("td[columnname='Id']").text().trim();

            $("#MaterialNumber").val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
            $("#MaterialDescription").val($(e).closest("tr").find("td[columnname='Brand']").text().trim());
            $("#MaterialId").val($(e).closest("tr").find("td[columnname='ArticleId']").text().trim());
            $("#RecipeComment").val($(e).closest("tr").find("td[columnname='Comment']").text().trim());

            $.post("/Order/md_order_Order/SelectDNType", { id: $(e).closest("tr").find("td[columnname='SortId']").text().trim() }, function (data) {
                $("#DeliveryNoteTypeId").val(data.delivernoteId);
                $("#DeliveryNoteType_Description").val(data.deliveryNoteType);
            });

            $.post("/Order/md_order_Order/CheckAmountTestRequired", { id: $(e).closest("tr").find("td[columnname='SortId']").text().trim() }, function (data) {
                if (data == true) {
                    alert("Prüfung der Betonfamilie nach m³ fällig!");
                }
            });

            $.post("/Order/md_order_Order/CheckTimeTestRequired", { id: $(e).closest("tr").find("td[columnname='SortId']").text().trim() }, function (data) {
                if (data == true) {
                    alert("Prüfung der Betonfamilie nach Zeit fällig!");
                }
            });

            //$.post("/Order/md_order_Order/CheckSingleSortTestRequired", { id: $(e).closest("tr").find("td[columnname='SortId']").text().trim() }, function (data) {
            //    if (data == true) {
            //        alert("Prüfung der Betonfamilie nach Zeit fällig!");
            //    }
            //});

            $("#Modal").modal("hide");
            SelectSubstances($(e).closest("tr").find("td[columnname='Id']").text().trim());
            //Calculate();
        }
    </script>
}

