﻿@model List<PCMS.Areas.MasterData.Models.md_recipe_Recipe>
@using PagedList.Mvc
<div class="tableContent" tablename="md_recipe_Recipe">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Rezept Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_recipe_Recipe">
                <thead>
                    <tr class="caption">
                        <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</th>
                        <th editable="false" colname="RecipeNumber" style="">@Html.DisplayNameFor(model => model[0].Number)</th>
                        <th editable="true" colname="RecipeNumberEDV" style="">@Html.DisplayNameFor(model => model[0].NumberEDV)</th>
                        <th editable="true" colname="RecipeName" style="">@Html.DisplayNameFor(model => model[0].Description)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.Id" onclick="ChooseRec(this)">
                            <td columnname="Id" style="" tablename="md_recipe_Recipe">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td columnname="RecipeNumber" style="" tablename="md_recipe_Recipe">@Html.DisplayFor(modelItem => item.Number)</td>
                            <td columnname="RecipeNumberEDV" style="" tablename="md_recipe_Recipe">@Html.DisplayFor(modelItem => item.NumberEDV)</td>
                            <td columnname="RecipeName" style="" tablename="md_recipe_Recipe">@Html.DisplayFor(modelItem => item.Description)</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>