﻿@model List<PCMS.Areas.Order.Models.md_order_DeliveryNoteType>
@using PagedList.Mvc
<div class="tableContent" tablename="md_order_DeliveryNoteType">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Lieferscheintyp Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_order_DeliveryNoteType">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="Description" style="">@Html.DisplayNameFor(model => model[0].Description)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseDNType(this)">
                        <td columnname="Id" style="" tablename="md_order_DeliveryNoteType">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Description" style="" tablename="md_order_DeliveryNoteType">@Html.DisplayFor(modelItem => item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
