﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Material>
@using PagedList.Mvc
<div class="tableContent" tablename="md_masterData_Material">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Additive Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Material">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="ArticleNumber" style="">@Html.DisplayNameFor(model => model[0].ArticleNumber)</th>
                    <th editable="true" colname="MaterialNumber" style="">@Html.DisplayNameFor(model => model[0].MaterialNumber)</th>
                    <th editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                </tr>
                <tr>
                    <th editable="false" colname="Id" style=""></th>
                    <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.ArticleNumber" placeholder="Suchen"/></th>
                    <th  style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.MaterialNumber" placeholder="Suchen"/></th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.Name" placeholder="Suchen"/></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseAdd(this)">
                        <td columnname="Id" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="ArticleNumber" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.ArticleNumber)</td>
                        <td columnname="MaterialNumber" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.MaterialNumber)</td>
                        <td columnname="Name" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>