﻿@model List<PCMS.Areas.Order.Models.md_masterData_RetardationTime>
@using PagedList.Mvc
<div class="tableContent" tablename="md_masterData_RetardationTime">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Additive Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_RetardationTime">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="RetardTime" style="">@Html.DisplayNameFor(model => model[0].RetardTime)</th>
                    <th editable="true" colname="Value" style="">@Html.DisplayNameFor(model => model[0].Value)</th>
                    <th editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Material.Name)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseRetard(this)">
                        <td columnname="Id" style="" tablename="md_masterData_RetardationTime">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="RetardTime" style="" tablename="md_masterData_RetardationTime">@Html.DisplayFor(modelItem => item.RetardTime)</td>
                        <td columnname="Value" style="" tablename="md_masterData_RetardationTime">@Html.DisplayFor(modelItem => item.Value)</td>
                        <td columnname="Name" style="" tablename="md_masterData_RetardationTime">@Html.DisplayFor(modelItem => item.Material.Name)</td>
                        <td columnname="IdMaterial" style="display:none" tablename="md_masterData_RetardationTime">@Html.DisplayFor(modelItem => item.Material.Id)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function chooseRetard(e) {
    $("#Workability").val($(e).closest("tr").find("td[columnname='RetardTime']").text().trim());

    var Materialid = $(e).closest("tr").find("td[columnname='IdMaterial']").text().trim();
    if ($("#AdmixCount").val() == "") {
        $("#AdmixCount").val("0");
    }

    $.post("/Order/md_order_Order/SelectRetardationMaterial", { id: Materialid }, function (data) {
        var counter = $("#AdmixCount").val();

        if ($("#BinderValue0").val() == "") {
            $("#BinderValue0").val("0");
        }
        var BinderValue = parseFloat($("#BinderValue0").val().replace(",","."));

        var MatValue = parseFloat($(e).closest("tr").find("td[columnname='Value']").text().trim().replace(",","."));

        var MatValueIP = MatValue / 100;
        var AdmixValue = Math.round(MatValueIP * BinderValue * 100) / 100;
        
        var AdmixCount = parseInt($("#AdmixCount").val())+1;
        
        var CountBinder = parseInt($("#BinderCount").val());
        var CountAdditives = parseInt($("#AdditivesCount").val());
        var CountAggregates = parseInt($("#AggregatesCount").val());
        var CountWater = parseInt($("#WaterCount").val());

        var Sort = CountBinder + CountAdditives + CountAggregates + CountWater + AdmixCount;
        var cnt = 0;
        for (var i = 0; i < counter; i++)
        {
            if ($("#AdmixId" + (i)).attr('class') == 'vz') {
                cnt = i;
            }
        }
        
        if ($("#AdmixId" + cnt).attr('class') == 'vz') {
            $("#AdmixId" + cnt).val(Materialid);
            $("#AdmixNumber" + cnt).val(data.MatNo);
            $("#AdmixDescription" + cnt).val(data.MatName);
            $("#AdmixValue" + cnt).val(AdmixValue.toString().replace('.', ','));
            $("#AdmixCount").val((AdmixCount-1));
            $("#AdmixSort").val((Sort - 1));
            $("#AdmixId" + cnt).addClass('vz');
        }
        else {
            $("#AdmixId" + counter).val(Materialid);
            $("#AdmixNumber" + counter).val(data.MatNo);
            $("#AdmixDescription" + counter).val(data.MatName);
            $("#AdmixValue" + counter).val(AdmixValue.toString().replace('.', ','));
            $("#AdmixCount").val(AdmixCount);
            $("#AdmixSort").val(Sort);
            $("#AdmixId" + counter).addClass('vz');
            AddEditorFieldsAdmix()
        }
    });

    $("#Modal").modal("hide");
    }
</script>
