﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Baustelle4 erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if(Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="cId" style="display:none">@Html.EditorFor(model => model.constructionSite.CustomerId, new { htmlAttributes = new { @class = "form-control", @Value=ViewBag.CustomerId } })</div>

    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" onclick="Close()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button type="button" onclick="Save()" class="btn btn-default"> <i class="fa fa-floppy-o"></i> Speichern</button></div>
    </div>
    <div class="col-md-12"><hr /></div>
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Baustellendaten</h3></div>
    </div>
    <div><br /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.ConstructionSiteId, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.ConstructionSiteId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.constructionSite.ConstructionSiteId)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.constructionSite.Name)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.DistanceTime, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.DistanceTime, new { htmlAttributes = new { @class = "form-control timepicker-holdOffTime", type = "time" } })
                @*@Html.EditorFor(model => model.constructionSite.DistanceTime, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.constructionSite.DistanceTime)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <input type="button" class="btn btn-default" value="Kunden auswählen" style="width:240px;" onclick="openModalChild('@Url.Action("ChooseCustomer","md_masterData_ConstructionSite", new { area = "MasterData" } )', Title='Kunde auswählen')" />
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.Name)
            </div>
        </div>
    </div>
    <div class="col-md-12"><hr /></div>
    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" onclick="Close()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button type="button" onclick="Save()" class="btn btn-default"> <i class="fa fa-floppy-o"></i> Speichern</button></div>
    </div>
}

<script>
    var CustomerId = 0;
    function openModalChild(url, titel, customer) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        CustomerId = customer;
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            //contentType: 'application/json',
            success: function (data) {
                chooseModalChild(titel, data, ["", ""]);
            }
        });
    }

    function chooseModalChild(titel, content, arg) {
        var modal = "";
        modal += '<div id="ModalChild" class="modal fade">';
        modal += '<div class="modal-dialog">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }

    function Close() {
        $("#Modal").modal("hide");
    }

    function Save() {
        $.post("/Order/md_order_Order/SaveConstructionSite", { name: $("#constructionSite_Name").val(), number: $("#constructionSite_ConstructionSiteId").val(), street: $("#address_Street").val(), zip: $("#address_ZipCode").val(), city: $("#address_City").val(), customer: $("#constructionSite_CustomerId").val(), distance: $("#constructionSite_DistanceTime").val() }, function (data) {
            $("#ConstructionSiteNumber").val(data.number);
            $("#ConstructionSiteId").val(data.Id);
            $("#ConstructionSiteDescription").val(data.name);
            $("#DistanceTime").val(data.distanceTime);

            $.post("/Order/md_order_Order/SelectCustomerOverConstructionSite", { id: $("#constructionSite_CustomerId").val() }, function (data2) {
                $("#CustomerNumber").val(data2.number);
                $("#CustomerName").val(data2.name);
            });

            $("#Modal").modal("hide");
        });
    }

    $("#address_ZipCode").blur(function(){
        $.post("/MasterData/md_masterData_Customer/SearchCity", { zip: $("#address_ZipCode").val() }, function (data) {
            $("#address_City").val(data.City);
        });
    });

    $("#address_City").blur(function(){
        $.post("/MasterData/md_masterData_Customer/SearchZip", { city: $("#address_City").val() }, function (data) {
            $("#address_ZipCode").val(data.Zip);
        });
    });
</script>