﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Händler erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="row">
        <div class="col-md-7"><a class="btn btn-default" href="@Url.Action("Index","md_order_Order", new { area = "MasterData" })"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button type="submit" class="btn btn-default"> <i class="fa fa-floppy-o"></i> Speichern</button></div>
    </div>*@

    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" onclick="Close()" ><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button type="button" onclick="Save()" class="btn btn-default"> <i class="fa fa-floppy-o"></i> Speichern</button></div>
    </div>

    <table border="0">
        @*<tr>
                <td><input type="button" onclick="location.href='Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
                <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
            </tr>*@
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.trader.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.trader.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trader.Name, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.trader.TraderId, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.trader.TraderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trader.TraderId, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.trader.TraderIdEDV, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.trader.TraderIdEDV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trader.TraderIdEDV, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td class="control-label col-md-2"><h4>Ansprechpartner:</h4></td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.contact.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.LastName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.FirstName, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.contact.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Tel, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Mobile, "", new { @class = "text-danger" })
            </td>
        </tr>
        <!--Submit Schaltfläche und Zurück Link-->
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        @*<tr>
                <td><input type="button" onclick="location.href='Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
                <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
            </tr>*@
    </table>
    <div class="row">
        <div class="col-md-7"><a class="btn btn-default" onclick="Close()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1"><button type="button" onclick="Save()" class="btn btn-default"> <i class="fa fa-floppy-o"></i> Speichern</button></div>
    </div>
}


<script>

    function Close() {
        $("#Modal").modal("hide");
    }

    function Save() {
        $.post("/Order/md_order_Order/SaveTrader", { name: $("#trader_Name").val(), number: $("#trader_TraderId").val(), numberEdv: $("#trader_TraderIdEDV").val(), street: $("#address_Street").val(), zip: $("#address_ZipCode").val(), city: $("#address_City").val(), firstname: $("contact_FirstName").val(), lastname: $("contact_LastName").val(), tel: $("contact_Tel").val(), mobile: $("contact_Mobile").val() }, function (data) {
            $("#TraderNumber").val(data.TraderNumber);
            $("#TraderId").val(data.Id);
            $("#TraderName").val(data.TraderName);
            $("#Modal").modal("hide");
            //return false;
        });
    }

    $("#address_ZipCode").blur(function () {
        $.post("/MasterData/md_masterData_Customer/SearchCity", { zip: $("#address_ZipCode").val() }, function (data) {
            $("#address_City").val(data.City);
        });
    });

    $("#address_City").blur(function () {
        $.post("/MasterData/md_masterData_Customer/SearchZip", { city: $("#address_City").val() }, function (data) {
            $("#address_ZipCode").val(data.Zip);
        });
    });
</script>