﻿@model PCMS.Areas.LIMS.Models.lims_gradingCurv_GradingCurv

@{
    ViewBag.Title = "Sieblinie bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Siebline <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div style="" class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ResciveGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.EditorFor(model => model.ResciveGroupId, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("ResciveGroupId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ResciveGroupId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SieveLineNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SieveLineNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SieveLineNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div style="overflow-x:auto">
                            <table class="table" id="gradingCurvMaterialTable" style="margin-top: 50px;">
                                <thead>
                                    <tr><th>Material</th><th>Bezeichnung</th><th>Hersteller</th><th>Sollwerte</th><th>Einheit</th><th></th></tr>
                                </thead>
                                <tbody>
                                    @*<tr><td>101</td><td>Waschsand 0/4</td><td>Tannhausen</td><td><input style="width: 60px;" type="number" value="50.00" /></td><td>%</td><td><a href="#"><i style="color:red" class="fa fa-minus"></i></a></td></tr>*@
                                    @foreach (var a in Model.Lims_gradingCurvMaterial)
                                    {
                                        <tr class="materialRow"><td class="materialArticleNumber">@a.Md_masterData_Material.ArticleNumber</td><td>@a.Md_masterData_Material.Name</td><td>@(a.Md_masterData_Material.Md_masterData_Deliverer == null ? "---" : a.Md_masterData_Material.Md_masterData_Deliverer.Name)</td><td><input class="materialId" name="materialId" type="hidden" value="@a.MaterialId"><input class="materialPrice" value="@a.Md_masterData_Material.Price.ToString().Replace(',','.')" type="hidden"><input class="materialPercent" onchange="calcGradingCurv()" style="width: 60px;" type="number" value="@a.Percent.ToString().Replace(',','.')"></td><td>%</td><td><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>
                                    }


                                    <tr class="addTr"><td></td><td></td><td></td><td></td><td>%</td><td></td></tr>
                                    <tr><td></td><td></td><td></td><td><input id="percentAll" class="" disabled style="width: 60px;" type="text" value="0" /></td><td>%</td><td></td></tr>
                                </tbody>
                            </table>
                            <button type="button" onclick="addMaterial('@Url.Action("choosAggreate", "lims_gradingCurv_GradingCurv", new { area = "lims" })')"><i style="color:green" class="fa fa-plus"></i> hinzufügen</button>
                        </div>

                        <ul class="warning gradingCurvMaterialTableerror"></ul> 
                    </div>
                </div>
            </div>
            <div class="col-md-7">

                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Diagramm<i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>

                    <div style="" class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SieveRangeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("SieveRangeId", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control", @onchange = "loadSieveRange()" })
                                @Html.ValidationMessageFor(model => model.SieveRangeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="" style="overflow-x: auto;">

                            <table class="table sumWeight singleWeight">
                                <thead>
                                    <tr class="siveSizeRow">
                                        <th>
                                            Siebe
                                        </th>
                                        <th>
                                            0,063
                                        </th>
                                        <th>
                                            0,125
                                        </th>
                                        <th>
                                            0,25
                                        </th>
                                        <th>
                                            0,5
                                        </th>
                                        <th>
                                            1
                                        </th>
                                        <th>
                                            1,4
                                        </th>
                                        <th>
                                            2
                                        </th>
                                        <th>
                                            2,8
                                        </th>
                                        <th>
                                            4
                                        </th>
                                        <th>
                                            5,6
                                        </th>
                                        <th>
                                            8
                                        </th>
                                        <th>
                                            11,2
                                        </th>
                                        <th>
                                            16
                                        </th>
                                        <th>
                                            22,4
                                        </th>
                                        <th>
                                            31,5
                                        </th>
                                        <th>
                                            45
                                        </th>
                                        <th>
                                            63
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr row="0">
                                        <td>
                                            Summe
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S0_063, new { htmlAttributes = new { @class = "form-control", @colname = "C0_063", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S0_063, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S0_125, new { htmlAttributes = new { @class = "form-control", @colname = "C0_125", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S0_125, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S0_25, new { htmlAttributes = new { @class = "form-control", @colname = "C0_25", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S0_25, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S0_5, new { htmlAttributes = new { @class = "form-control", @colname = "C0_5", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S0_5, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S1, new { htmlAttributes = new { @class = "form-control", @colname = "C1", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S1, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S1_4, new { htmlAttributes = new { @class = "form-control", @colname = "C1_4", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S1_4, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S2, new { htmlAttributes = new { @class = "form-control", @colname = "C2", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S2, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S2_8, new { htmlAttributes = new { @class = "form-control", @colname = "C2_8", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S2_8, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S4, new { htmlAttributes = new { @class = "form-control", @colname = "C4", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S4, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S5_6, new { htmlAttributes = new { @class = "form-control", @colname = "C5_6", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S5_6, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S8, new { htmlAttributes = new { @class = "form-control", @colname = "C8", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S8, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S11_2, new { htmlAttributes = new { @class = "form-control", @colname = "C11_2", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S11_2, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S16, new { htmlAttributes = new { @class = "form-control", @colname = "C16", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S16, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S22_4, new { htmlAttributes = new { @class = "form-control", @colname = "C22_4", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S22_4, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S31_5, new { htmlAttributes = new { @class = "form-control", @colname = "C31_5", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S31_5, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S45, new { htmlAttributes = new { @class = "form-control", @colname = "C45", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S45, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.S63, new { htmlAttributes = new { @class = "form-control", @colname = "C63", @style = "width:60px" } })
                                            @Html.ValidationMessageFor(model => model.S63, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.KValue, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div>
                                @Html.EditorFor(model => model.KValue, new { htmlAttributes = new { @class = "form-control", @colname = "C63", @style = "width:60px" } })
                                @Html.ValidationMessageFor(model => model.KValue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="chartDiv">
                            <canvas id="GradingRuleChart" width="800" height="350"></canvas>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}


<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/GradingRuelChart.js"></script>
<script type="text/javascript">
    var material = [];
    var siveLine = [];
    var label = [];
    var A, B, C, U = [];


    $("form").submit(function (e) {
        if ($("#percentAll").val() != "100") {
            $(".gradingCurvMaterialTableerror li[typ='percent']").remove();
            $(".gradingCurvMaterialTableerror").append('<li typ="percent" style="color: red;">Die zuschlagstoffe ergeben keine 100%</li>')
            event.preventDefault();
        }

        $(".materialRow").each(function (i, e) {
            var percent = $(e).find(".materialPercent").val();
            $(e).find(".materialId").val($(e).find(".materialId").val() + "|" + percent);

        })
        return;
    });

    function loadSieveRange(url) {
        var data = { id: $("#SieveRangeId").val().trim() };
        var _url = "../loadSieveData";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: data,
            success: function (data) {
                A = data.A;
                B = data.B;
                C = data.C;
                U = data.U;
                updateChart();
            }
        });
    }

    function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global:true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseProgress("Zuschlagstoffe", data, ["", ""]);
            }
        });

    }
    function removeMaterial(e) {
        var matr = $(e).closest("tr").find(".materialArticleNumber").text();
        var id = $(e).closest("tr").attr("id");
        $(".gradingCurvMaterialTableerror li[idn='" + id + "']").remove();
        $(e).closest("tr").remove();
        calcGradingCurv();

    }
    function getMaterialById(e) {
        $("#aggre").modal("hide");
        var data = { id: $(e).closest("tr").find("td[columnname='Id']").text().trim() };
        $.ajax({
            url: "@Url.Action("getMaterialbyId", "lims_gradingCurv_GradingCurv", new { area = "lims" })",
            type: "POST",
            dataType: "json",
            data: data,
            //contentType: 'application/json',
            success: function (data) {
                var newTd = '<tr id="' + data.data1.Id + '" class="materialRow"><td class="materialArticleNumber">' + data.data1.ArticleNumber + '</td><td>' + data.data1.Name + '</td><td>' + (data.data1.Md_masterData_Deliverer == null ? "---" : data.data1.Md_masterData_Deliverer.Name) + '</td><td><input class="materialId" name="materialId" type="hidden" value="' + data.data1.Id + '" ><input class="materialPrice" value="' + (data.data1.Price == null ? "0" : data.data1.Price) + '" type="hidden"><input class="materialPercent" onchange="calcGradingCurv()" style="width: 60px;" type="number" value="0" /></td><td>%</td><td><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
                $(newTd).insertBefore("#gradingCurvMaterialTable .addTr");

                if (data.data2 == null) {
                    $("#gradingCurvMaterialTable tbody tr[id='" + data.data1.Id + "'").addClass("danger");
                    $("#RecipeCalcDensityTable tbody tr[id='" + data.data1.Id + "'").addClass("danger");
                    $("#WRecipeCalcDensityTable tbody tr[id='" + data.data1.Id + "'").addClass("danger");
                    $(".gradingCurvMaterialTableerror").append('<li idn="' + data.data1.Id + '" style="color: red;">' + data.data1.ArticleNumber + "," + data.data1.Name + ": Keine Kesteinskörnungsprüfung gefunden</li>")
                }
                else {
                    $(data.data2.kumulativ).each(function (i, e) {
                        console.log("key:" + e.Key + "value:" + e.Value);
                        e.Value = (e.Value).toFixed(2);
                    })
                    material[data.data1.ArticleNumber] = data.data2.kumulativ;
                }



            }
        });

    }
    function getMaterialById_2(e) {
        
        var data = { id: e };
        $.ajax({
            url: "@Url.Action("getMaterialbyId", "lims_gradingCurv_GradingCurv", new { area = "lims" })",
            type: "POST",
        dataType: "json",
        data: data,
        async : false,
        //contentType: 'application/json',
        success: function (data) {
            //alert(data.data2.kumulativ.0,5);

            if (data.data2 == null) {
                $("#gradingCurvMaterialTable tbody tr[id='" + data.data1.Id + "'").addClass("danger");
                $("#RecipeCalcDensityTable tbody tr[id='" + data.data1.Id + "'").addClass("danger");
                $("#WRecipeCalcDensityTable tbody tr[id='" + data.data1.Id + "'").addClass("danger");
                $(".gradingCurvMaterialTableerror").append('<li idn="' + data.data1.Id + '" style="color: red;">' + data.data1.ArticleNumber + "," + data.data1.Name + ": Keine Kesteinskörnungsprüfung gefunden</li>")
            }
            else {
                $(data.data2.kumulativ).each(function (i, e) {
                    //console.log("key:" + e.Key + "value:" + e.Value);
                    e.Value = (e.Value).toFixed(2);
                })
                material[data.data1.ArticleNumber] = data.data2.kumulativ;
            }


        }
    });

    }
    function calcGradingCurv() {
        siveLine = [];
        var price = 0;
        var percentAll = 0;
        $(".materialRow").each(function (i, e) {
            var percent = $(e).find(".materialPercent").val();
            var priceTm = $(e).find(".materialPrice").val();
            price += (priceTm / 100) * percent;
            var is = false;
            percentAll += parseFloat(percent);
            $(material[$(e).find(".materialArticleNumber").text()]).each(function (d, l) {
                if (l.Value != "100.00")
                    is = true;
                if (is) {
                    label[d] = l.Key;
                    if (siveLine[d])
                        siveLine[d] = siveLine[d] + ((l.Value) / 100) * percent;
                    else
                        siveLine[d] = ((l.Value) / 100) * percent;
                }

            })
        })
        $("#percentAll").val(percentAll);
        if (percentAll != 100) {
            $("#percentAll").css("background-color", "red");
            $(".gradingCurvMaterialTableerror li[typ='percent']").remove();
            $(".gradingCurvMaterialTableerror").append('<li typ="percent" style="color: red;">Die zuschlagstoffe ergeben keine 100%</li>')
        }
        else {
            $("#percentAll").css("background-color", "green");
            $(".gradingCurvMaterialTableerror li[typ='percent']").remove();
        }
        $("#Price").val(price.toFixed(2).replace(/\./g, ','));
        $(label).each(function (p, l) {

            $("#S" + l.replace(',', '_')).val(siveLine[p].toFixed(2).replace(/\./g, ','));
        })
        calcKandD();
        updateChart();
    }
    function ChooseProgress(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade">';
        modal += '<div class="modal-dialog">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }

    $(document).ready(function () {
        $(".materialRow").each(function (i, e) {
            getMaterialById_2($(e).find(".materialId").val());
            //getMaterialById(e);
        });
        calcGradingCurv();
        loadSieveRange();

    });

    function calcKandD() {
        var ar = ['colname="C0_25"', 'colname="C0_5"', 'colname="C1"', 'colname="C2"', 'colname="C4"', 'colname="C8"', 'colname="C16"', 'colname="C31_5"', 'colname="C63"'];
        var kSum = 0;
        $(ar).each(function (i,e) {
            var a = 100 - parseFloat($('.sumWeight tr[row="0"] input['+ e +']').val().replace(',','.'));
            //if (a != 100)
                kSum += a;
        });


        $("#KValue").val((kSum / 100).toFixed(3));
        $("#DSumm").val((900 - kSum).toFixed(3));
        updateChart();
    }
    function togglePanalBody(e) {
        if ($(e).parent().find("i").hasClass("fa-chevron-down")) {
            $(e).parent().find("i").removeClass("fa-chevron-down");
            $(e).parent().find("i").addClass("fa-chevron-up")
            $(e).parent().find(".panel-body").show();
        }
        else {
            $(e).parent().find("i").addClass("fa-chevron-down");
            $(e).parent().find("i").removeClass("fa-chevron-up")
            $(e).parent().find(".panel-body").hide();
        }
    }
    function updateChart() {
        //var label = [];
        //$(".siveSizeRow th").each(function (i, e) {
        //    label.push($(e).text().trim());
        //})

        //var ProbValues = [];

        //$('.calculation tr[row="1"] td input').each(function (i, e) {
        //    if (!$(e).val()) {
        //        ProbValues.push(null);
        //    }

        //    else if ($(e).val()) {
        //        ProbValues.push(parseFloat($(e).val().replace(/,/g, '.')));
        //    }

        //})




        var data = {
            labels: label,
            datasets: [
                {
                    label: "siveLine",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgb(4, 42, 239)",
                    pointColor: "rgb(4, 42, 239)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(4, 42, 239)",
                    data: siveLine
                },
                {
                    label: "A",
                    fillColor: "rgba(220,220,220,0.9)",
                    strokeColor: "rgb(4, 42, 239)",
                    pointColor: "rgb(4, 42, 239)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(4, 42, 239)",
                    data: A
                },
                {
                    label: "B",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: B
                },
                {
                    label: "C",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(215, 40, 40, 0.9)",
                    pointColor: "rgba(215, 40, 40, 0.9)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(215, 40, 40, 0.9)",
                    data: C
                },
                {
                    label: "U",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(106, 255, 66, 0.9)",
                    pointColor: "rgba(106, 255, 66, 0.9)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(106, 255, 66, 0.9)",
                    data: U
                    //data: [null, null, 3, 8, null, 30, 30, 30, 100]
                }
            ]
        };

        //if (GradingRuleChart) {
        $("#GradingRuleChart").remove();
        $("#chartDiv").html('<canvas id="GradingRuleChart" width="800" height="350"></canvas>');
        //}
        var ctx = $("#GradingRuleChart").get(0).getContext("2d");
        var GradingRuleChart = new Chart(ctx).Line(data, config);
    }
</script>