﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Bonität anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table border="0">
        <tr>
            <!--<td>@Html.ActionLink("zurück zur Liste", "Index")</td>-->
            <td><input type="button" onclick="location.href='Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
            <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.custRating.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.custRating.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.custRating.Description, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.custRating.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.custRating.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.custRating.Comment, "", new { @class = "text-danger" })
            </td>


        </tr>
        <!--Submit Schaltfläche und Zurück Link-->
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td><input type="button" onclick="location.href='Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
            <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>
    </table>
}

