﻿@model PagedList.IPagedList<PCMS.Areas.Recipe.Models.md_masterData_Material>
@using PagedList.Mvc
@{
    ViewBag.Title = "Material";
    Layout = null;
}
<div class="tableContent" tablename="md_masterData_Material">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


    <div style="overflow-x: auto;">
        <table url="@Url.Action("choosConcrete","md_recipe_Recipe", new { area = "Recipe" } )" class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditAggregates", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
            <thead>
                <tr class="caption">
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                        @Html.DisplayNameFor(model => model[0].ShortName)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="ArticleNumber" style="">
                        @Html.DisplayNameFor(model => model[0].ArticleNumber)
                    </th>
                    <th>

                    </th>
                    <th>
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="Id" tablename="md_masterData_Material">
                    </th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.Name" />
                    </th>
                    <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.ShortName" />
                    </th>
                    <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" value="@ViewBag.ArticleNumber" />
                    </th>
                    <th style="" class="head-filter" columnname="MaterialGroupId" tablename="md_masterData_Material">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" materialtypeTT="@item.MaterialGroupId">
                        <td class="column-value-modal" columnname="Id" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="column-value-modal" columnname="Lastname" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="column-value-modal" columnname="Firstname" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.ShortName)
                        </td>
                        <td class="column-value-modal" columnname="Street" style="" tablename="md_masterData_Material">
                            @Html.DisplayFor(modelItem => item.ArticleNumber)
                        </td>
                        <td>
                            <button onclick="getMaterialById(this,'convrete')">hinzufügen</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    </div>
</div>
<script type="text/javascript">

</script>