﻿@model PCMS.Areas.Recipe.Models.md_recipe_Recipe
@{
    ViewBag.Title = "Rezept erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Panel_w_Tabs.css" rel="stylesheet">
<style>
    table tr[materialtype="3"] {
        background-color: rgba(26, 33, 243, 0.32);
    }

    table tr[materialtype="4"] {
        background-color: rgba(38, 46, 255, 0.69);
    }

    table tr[materialtype="2"] {
        background-color: rgba(160, 199, 150, 0.69);
    }

    .modal-lg {
        max-width: 900px;
        width: 900px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_t.cshtml")
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-5">
                <div id="PanelRecipe" class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Rezept <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div style="" class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RecipeTypeId, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @*@Html.EditorFor(model => model.RecipeTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownList("RecipeTypeId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RecipeTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GradingCurvId, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("GradingCurvId", null, "---Bitte wählen---", htmlAttributes: new {  @onchange = "loadGradingCurv()" })                                   
                                    @Html.ValidationMessageFor(model => model.GradingCurvId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="GradingCurvId">Korngröße</label>
                                <div class="col-md-9">
                                    <input class="form-control" readonly="readonly" type="text" id="Grading-Group" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MixingTime, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.MixingTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MixingTime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row" style=" overflow-x: auto;">
                            <table class="table table-condensed" id="gradingCurvMaterialTable" style="margin-top: 50px;">
                                <thead>
                                    <tr><th>Zeile</th><th>Material</th><th>Bezeichnung</th><th>Hersteller</th><th>Sollwerte</th><th>Einheit</th><th></th></tr>
                                </thead>
                                <tbody>
                                    @*<tr><td>101</td><td>Waschsand 0/4</td><td>Tannhausen</td><td><input style="width: 60px;" type="number" value="50.00" /></td><td>%</td><td><a href="#"><i style="color:red" class="fa fa-minus"></i></a></td></tr>*@
                                    <tr class="addTr"><td></td><td></td><td></td><td></td><td>%</td><td></td></tr>
                                    @*<tr><td></td><td></td><td></td><td><input id="percentAll" class="" disabled style="width: 60px;" type="text" value="0" /></td><td>%</td><td></td></tr>*@
                                </tbody>
                            </table>
                            <button type="button" onclick="addMaterial('@Url.Action("choosMaterial", "md_recipe_Recipe", new { area = "Recipe" })')"><i style="color:green" class="fa fa-plus"></i> Material hinzufügen</button>
                            <button type="button" onclick="addMaterial('@Url.Action("choosRecipe", "md_recipe_RecipeM", new { area = "RecipeM" })')"><i style="color:green" class="fa fa-plus"></i> Rezept hinzufügen</button>
                            <ul style="margin-top: 15px;" class="warning gradingCurvMaterialTableerror">
                                @*@foreach (var item in (List<PCMS.Areas.RecipeM.Models.RecipeModelMMaterialDetails>)ViewBag.Details)
    {
        if (item.IsDeleted == true)
        {
            <li><p style="color:red">Materialnummer:"@item.Number" wurde gelöscht</p></li>
            //<li class= "list-group-item list-group-item-danger">@item.Number wurde gelöscht</li>
        }
    }*@
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                @*-------Trocken-------*@
                @Html.Partial("Create_partial_Panel_w_TabsRight", Model)
                @*------Diagram------*@
                @Html.Partial("Create_partial_Diagram", Model, Html.ViewData)

            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_b.cshtml")
}

<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/GradingRuelChart.js"></script>
<script type="text/javascript">
    var material = [];
    var siveLine = [];
    var label = [];
    var A, B, C, U = [];

    

    function loadGradingCurv() {
        $.ajax({
            url: "@Url.Action("getGradingCurv", "md_recipe_Recipe", new { area = "Recipe" } )",
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: { id: $("#GradingCurvId").val() },
            success: function (data) {
                $("#gradingCurvMaterialTable tr[materialType='1']").each(function (i, e) {
                    $(e).remove();
                });
                $("#RecipeCalcDensityTable tr[materialType='1']").each(function (i, e) {
                    $(e).remove();
                });
                $("#WRecipeCalcDensityTable tr[materialType='1']").each(function (i, e) {
                    $(e).remove();
                });
                $(".gradingCurvMaterialTableerror li").each(function (i, e) {
                    $(e).remove();
                })

                $(data.data1.Lims_gradingCurvMaterial).each(function (i, e) {
                    var newTd = '<tr type="1" price="' + e.Md_masterData_Material.Price + '" id="' + e.Md_masterData_Material.Id + '" density="' + e.Md_masterData_Material.Density + '" materialType="' + e.Md_masterData_Material.MaterialGroupId + '" class="materialRow"><td class="rowNumber" line=""></td><td class="materialArticleNumber">' + e.Md_masterData_Material.ArticleNumber + '</td><td>' + e.Md_masterData_Material.Name + '</td><td>' + (e.Md_masterData_Material.Md_masterData_Deliverer == null ? "---" : e.Md_masterData_Material.Md_masterData_Deliverer.Name) + '</td><td><input class="materialId" name="materialId" type="hidden" value="' + e.Md_masterData_Material.Id + '" ><input class="materialPrice" value="' + e.Md_masterData_Material.Price + '" type="hidden"><span class="materialPercent">' + e.Percent + '</span></td><td>%<input type="hidden" class="unit" value="1" > </td><td><a href="#"></a></td></tr>';
                    $(newTd).insertBefore("#gradingCurvMaterialTable .addTr");
                    //Trocken
                    $("#RecipeCalcDensityTable tbody").append('<tr price="' + e.Md_masterData_Material.Price + '" id="' + e.Md_masterData_Material.Id + '"  materialType="' + e.Md_masterData_Material.MaterialGroupId + '" ><td></td><td class="density" >' + e.Md_masterData_Material.Density + '</td><td class="volumn">' + e.Percent * 10 + '</td><td class="weight"> ' + e.Md_masterData_Material.Density * e.Percent * 10 + ' </td><td></td><td></td><td class="fix">  ' + e.Md_masterData_Material.Density * e.Percent * 10 + '  </td><td class="price"></td></tr>');
                    //Feucht
                    $("#WRecipeCalcDensityTable tbody").append('<tr id="' + e.Md_masterData_Material.Id + '"  materialType="' + e.Md_masterData_Material.MaterialGroupId + '" ><td></td><td class="density" >' + e.Md_masterData_Material.Density + '</td><td class="volumn">' + e.Percent * 10 + '</td><td class="weight"> ' + e.Md_masterData_Material.Density * e.Percent * 10 + ' </td><td></td><td></td><td class="fix">  ' + e.Md_masterData_Material.Density * e.Percent * 10 + '  </td></tr>');
                })

                $(data.data2).each(function (i, e) {

                    if (e == null) {
                        $("#gradingCurvMaterialTable tbody tr[id='" + data.data1.Lims_gradingCurvMaterial[i].MaterialId + "'").addClass("danger");
                        $("#RecipeCalcDensityTable tbody tr[id='" + data.data1.Lims_gradingCurvMaterial[i].MaterialId + "'").addClass("danger");
                        $("#WRecipeCalcDensityTable tbody tr[id='" + data.data1.Lims_gradingCurvMaterial[i].MaterialId + "'").addClass("danger");
                        $(".gradingCurvMaterialTableerror").append('<li id="' + data.data1.Lims_gradingCurvMaterial[i].MaterialId + '" style="color: red;">' + data.data1.Lims_gradingCurvMaterial[i].Md_masterData_Material.ArticleNumber + "," + data.data1.Lims_gradingCurvMaterial[i].Md_masterData_Material.Name + ": Keine Gesteinskörnungsprüfung gefunden</li>")
                    }
                    else {
                        $(e.kumulativ).each(function (u, s) {

                            s.Value = (s.Value).toFixed(2);
                        })
                        material[e.MaterialId] = e.kumulativ;
                    }
                });

                calcGradingCurv();
                calcDryValues();
                writeRowNumbers();
                //var newTd = '<tr class="materialRow"><td class="materialArticleNumber">' + data.data1.ArticleNumber + '</td><td>' + data.data1.Name + '</td><td>' + data.data1.Md_masterData_Deliverer.Name + '</td><td><input class="materialId" name="materialId" type="hidden" value="' + data.data1.Id + '" ><input class="materialPrice" value="' + data.data1.Price + '" type="hidden"><input class="materialPercent" onchange="calcGradingCurv()" style="width: 60px;" type="number" value="0" /></td><td>%</td><td><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
                //updateChart();
            }
        });
    }
    $("form").submit(function (e) {
        //if ($("#percentAll").val() != "100") {
        //    $("input[type='submit']").parent().append("<p>keine 100% !!!</p>");
        //    event.preventDefault();
        //}

        $(".materialRow").each(function (i, e) {
            var value = 0;
            var unit = 0;
            var type = $(e).attr("type");
            var functionType = 1;
            var percent = $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text().replace(/\./g, ',');
            if ($(e).attr("materialtype") == 1) {
                value = $("#gradingCurvMaterialTable tr[id=" + $(e).attr("id") + "]").find(".materialPercent").text().replace(/\./g, ',');
                if (value == "")
                    value = $("#gradingCurvMaterialTable tr[id=" + $(e).attr("id") + "]").find(".materialPercent").val().replace(/\./g, ',');
                unti = $("#gradingCurvMaterialTable tr[id=" + $(e).attr("id") + "]").find(".unit").val();
                if ($("#gradingCurvMaterialTable tr[id=" + $(e).attr("id") + "]").find(".unit").length == 0)
                    unti = 1;
            }
            else if (type == "3") {
                percent = 0;
            }
            else {
                value = $("#gradingCurvMaterialTable tr[id=" + $(e).attr("id") + "]").find(".materialPercent").val().replace(/\./g, ',');
                unti = $("#gradingCurvMaterialTable tr[id=" + $(e).attr("id") + "]").find(".unit").val();
                functionType = $("#gradingCurvMaterialTable tr[id=" + $(e).attr("id") + "]").find(".functionType").val();
            }

            $(e).find(".materialId").val($(e).find(".materialId").val() + "|" + percent + "|" + value + "|" + unti + "|" + type + "|" + functionType);
        });
        $("#RecepiSorts tbody .sort").each(function (i, e) {
            //var percent = $(e).find(".materialPercent").val();
            var id = $(e).attr("id");
            var valid = $(e).find(".Valid select").val();
            var active = ($(e).find(".activ").is(':checked')) ? true : false;
            $(e).find(".decription").append('<input name="sort" type="hidden" value="' + id + "|" + valid + "|" + active + '"/>');
        })

        return;
    });

    function loadSieveRange(url) {
        var data = { id: $("#GradingCurvSieveRangeId").val().trim() };
        var _url = "@Url.Action("loadSieveData", "lims_gradingCurv_GradingCurv", new { Area = "LIMS" })"
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: data,
            success: function (data) {
                A = data.A;
                B = data.B;
                C = data.C;
                U = data.U;
                updateChart();
            }
        });
    }

    function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseMaterial2("Material", data, ["", ""]);
                
            }
        });

    }
    function removeMaterial(e) {
        if ($(e).closest("tr").attr("type") == 3) {
            $("#RecipeCalcDensityTable tr[id=" + $(e).closest("tr").attr("id") + "][type=" + $(e).closest("tr").attr("type") + "][line="+$(e).closest("tr").find(".rowNumber").attr("line") +"]").remove();
            $("#WRecipeCalcDensityTable tr[id=" + $(e).closest("tr").attr("id") + "][type=" + $(e).closest("tr").attr("type") + "][line=" + $(e).closest("tr").find(".rowNumber").attr("line") + "]").remove();
        }
        else {
            $("#RecipeCalcDensityTable tr[id=" + $(e).closest("tr").attr("id") + "][materialtype=" + $(e).closest("tr").attr("materialtype") + "][line=" + $(e).closest("tr").find(".rowNumber").attr("line") + "]").remove();
            $("#WRecipeCalcDensityTable tr[id=" + $(e).closest("tr").attr("id") + "][materialtype=" + $(e).closest("tr").attr("materialtype") + "][line=" + $(e).closest("tr").find(".rowNumber").attr("line") + "]").remove();
            var matr = $(e).closest("tr").find(".materialArticleNumber").text();

        }
        $(e).closest("tr").remove();
        calcKandD();
        calcPosition();
        writeRowNumbers();
    }
    function getMaterialById(e) {
        //$("#aggre").modal("hide");
        var data = { id: $(e).closest("tr").find("td[columnname='Id']").text().trim() };
        $.ajax({
            url: "@Url.Action("getMaterialbyId", "md_recipe_Recipe", new { area = "recipe" })",
            type: "POST",
            dataType: "json",
            data: data,
            //contentType: 'application/json',
            success: function (data) {
                var kValue = "";
                if (data.MaterialGroupId == 6)//zusatsmitel
                    kValue = data.Md_material_AdditivesDetail.KValue;
                if (data.MaterialGroupId === 5) { //concrete
                    var newTd = '<tr class="sort" id="' + data.Id + '" materialType="' + data.MaterialGroupId + '" ><td class="articelNumber" >' + data.ArticleNumber + '</td><td class="decription">' + data.Name + '</td><td class="Valid"><select><option value=0 >---</option><option value="1">Standard</option><option value="2">Sommerrezept</option><option value="3">Winterrezept</option></select></td><td><input class="activ" type="checkbox"></td><td class=""><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
                    $(newTd).insertBefore("#RecepiSorts .addTr");
                }
                else {
                    
                    var functionType = '<select class="functionType"><option value="1">Dosieren</option><option value="2">Dosieren entl.</option><option value="3">Handzugabe</option></select>';
                    //ohne material mit Dosier ent.
                    //var newTd = '<tr type="1" price="' + data.Price + '" id="' + data.Id + '" materialType="' + data.MaterialGroupId + '" density="' + data.Density + '" class="materialRow"><td class="rowNumber"><td class="materialArticleNumber">' + data.ArticleNumber + '</td><td>' + data.Name + '</td><td>' + (data.Md_masterData_Deliverer == null ? "---" : data.Md_masterData_Deliverer.Name) + '</td><td><input class="materialId" name="materialId" type="hidden" value="' + data.Id + '" ><input class="materialPrice" value="' + data.Price + '" type="hidden"><input class="materialPercent" onchange="calcGradingCurv()" style="width: 60px;" type="text" value="0" /></td><td><select class="unit"><option value="0">kg</optin><option value="1">%</option></select></td><td><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
                    var newTd = '<tr type="1" price="' + data.Price + '" id="' + data.Id + '" materialType="' + data.MaterialGroupId + '" density="' + data.Density + '" class="materialRow"><td class="rowNumber"><td class="materialArticleNumber">' + data.ArticleNumber + '</td><td>' + data.Name + '</td><td>' + functionType + '</td><td><input class="materialId" name="materialId" type="hidden" value="' + data.Id + '" ><input class="materialPrice" value="' + data.Price + '" type="hidden"><input class="materialPercent" onchange="calcGradingCurv()" style="width: 60px;" type="text" value="0" /></td><td><select onchange="calcGradingCurv()" class="unit"><option value="0">kg</optin><option value="1">%</option></select></td><td><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
                    $(newTd).insertBefore("#gradingCurvMaterialTable .addTr");
                    //Trocken
                    $("#RecipeCalcDensityTable tbody").append('<tr price="' + data.Price + '"  id="' + data.Id + '" materialType="' + data.MaterialGroupId + '" ><td><span class="kValue" >'+ kValue +'</span><input type="text" style=" width: 10px; visibility: hidden;"></td><td class="density" >' + data.Density + '</td><td class="volumn">0</td><td class="weight">0</td><td></td><td class="waterWeight" ></td><td class="fix">0</td><td class="price" ></td></tr>');
                    //Feucht
                    $("#WRecipeCalcDensityTable tbody").append('<tr id="' + data.Id + '" materialType="' + data.MaterialGroupId + '" ><td><input type="text" style=" width: 10px; visibility: hidden;"></td><td class="density" >' + data.Density + '</td><td class="volumn">0</td><td class="weight">0</td><td></td><td class="waterWeight" ></td><td class="fix">0</td></tr>');
                    calcPosition();
                }
                writeRowNumbers();
            }
        });

    }
    function calcGradingCurv() {
        siveLine = [];
        var price = 0;
        var percentAll = 0;
        $(".materialRow").each(function (i, e) {
            var percent = $(e).find(".materialPercent").text();
            var priceTm = $(e).find(".materialPrice").val();
            price += (priceTm / 100) * percent;
            var is = false;
            percentAll += parseFloat(percent);
            $(material[$(e).attr("Id")]).each(function (d, l) {
                if (l.Value != "100.00")
                    is = true;
                if (is) {
                    label[d] = l.Key;
                    if (siveLine[d])
                        siveLine[d] = siveLine[d] + ((l.Value) / 100) * percent;
                    else
                        siveLine[d] = ((l.Value) / 100) * percent;
                }

            })
        })
        $("#percentAll").val(percentAll);
        if (percentAll != 100) {
            $("#percentAll").css("background-color", "red");
        }
        else {
            $("#percentAll").css("background-color", "green");
        }
        $("#Lims_gradingCurv_GradingCurv_Price").val(price.toFixed(2).replace(/\./g, ','));
        $(label).each(function (p, l) {

            $("#Lims_gradingCurv_GradingCurv_S" + l.replace(',', '_')).val(siveLine[p].toFixed(2).replace(/\./g, ','));
        })
        calcKandD();
        updateChart();
    }
    function ChooseMaterial2(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');
        init();
        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }

    $(document).ready(function () {
        writeRowNumbers();
        $("#AirVoidContent").on("change", function () {
            calcKandD();
        })
        

        $(".materialRow").each(function (i, e) {
            if ($(e).attr("type") == 3) {
                //Trocken
                $("#RecipeCalcDensityTable tbody").append('<tr id="' + $(e).find(".materialId").val() + '" type="3" ><td>Steuerrezept</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>');
                //Feucht
                $("#WRecipeCalcDensityTable tbody").append('<tr  id="' + $(e).find(".materialId").val() + '" type="3" ><td>Steuerrezept</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>');
            }
            else {
                getMaterialById_2($(e).find(".materialId").val());
            }
        });
        calcPosition();
        //calcGradingCurv();
        //loadSieveRange();
        $("#GradingCurvId").select2({
            theme: "bootstrap",
            language: "de",
            //placeholder: "",
            ajax: {
                url: '@Url.Action("gradingCurvsJson", "md_recipe_Recipe", new { area = "recipe" })',
                dataType: 'json',
                delay: 250,
                type: "POST",
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    $(data.res).each(function (i, e) {
                        e["id"] = e.Id;
                        e["text"] = e.SieveLineNumber;
                    })
                    return {

                        results: data.res,
                    };
                },
                cache: true
            },
            templateResult: formatState,
        }).on("change", function (e) {
            var a = $(".select2-results__option--highlighted div").attr("description");
            $("#Grading-Group").val(a);
            
        });
        function formatState(state) {
            return $('<div Description="' + state.Description + '" value="' + state.Id + '" data-value="' + state.Id + '" data-selectable="" class="option"><b>' + state.SieveLineNumber + "</b>, [" + state.Description + ']</div>');
        };
        $("#GradingCurvId").on("select2:open", function () {
            $(".select2-search__field").attr("placeholder", "Suchen...");
        })

        
        @*$("#GradingCurvId").selectize({
            valueField: 'Id',
            labelField: 'SieveLineNumber',
            searchField: ['Description', 'SieveLineNumber'],
            preload: true,
            openOnFocus: true,
            render:{
                option: function (item, escape) {
                    return '<div data-value="'+ item.Id +'" data-selectable="" class="option"><b>' + item.SieveLineNumber +"</b>, [" +item.Description + ']</div>';
                }
            },
            load: function (query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '@Url.Action("gradingCurvsJson", "md_recipe_Recipe", new { area = "recipe" })',
                    type: 'POST',
                    dataType: 'json',
                    global :false,
                    data: {
                        dType: "gradingCurv"
                    },
                    error: function () {
                        callback();
                    },
                    success: function (res) {
                        console.log(res.res);
                        callback(res.res);
                    }
                });
            }
        });*@
    });
    function calcPosition() {
        var posOld = $("#RecipeCalcDensityTable").offset();
        var pos = $("#gradingCurvMaterialTable").offset();
        //$("#RecipeCalcDensityTable").offset({ top: pos.top, left: posOld.left });
        $("#PanelDryValues").height($("#PanelRecipe").height());
    }
    function calcKandD() {
        //Berechnung der trockentabelle
        var calcVolum = 0;
        var calcCement = 0;
        var calcWater = 0;
        var calcAdditive = 0;
        var calcAdditeiveKValue = 0;
        $("#gradingCurvMaterialTable tbody tr").each(function (i, e) {
            if ($(e).attr("materialtype") != "1") {
                if ($(e).find(".unit").val() == "0") { //0=kg 1=%
                    var materialPercent = parseFloat($(e).find(".materialPercent").val().replace(',', '.'));
                    var materialDensity = parseFloat($(e).attr("density").replace(',','.'));
                    var price = parseFloat($(e).attr("price"));
                    calcVolum += materialPercent / materialDensity;
                    if (($(e).attr("materialtype") == "4")) { //wasser
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text((materialPercent / materialDensity).toFixed(2));
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(0);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text((price / 1000 * materialPercent).toFixed(2));
                        calcWater += materialPercent;
                        //Feucht
                        $("#WRecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(0);

                    }
                    if (($(e).attr("materialtype") == "2")) { //Zement
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text((materialPercent / materialDensity).toFixed(2));
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text(0);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text((price / 1000 * materialPercent).toFixed(2));
                        calcCement += materialPercent;
                        //Feucht
                        $("#WRecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(materialPercent);

                    }
                    if (($(e).attr("materialtype") == "3")) { //Zusatsmittel
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text((materialPercent / materialDensity).toFixed(2));
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text(0);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text((price / 1000 * materialPercent).toFixed(2));
                        calcAdditive += parseFloat((materialPercent / materialDensity).toFixed(2));
                        $("#WRecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(materialPercent);

                    }
                    if (($(e).attr("materialtype") == "6")) { //Additive
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text((materialPercent / materialDensity).toFixed(2));
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text(0);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(materialPercent);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text((price / 1000 * materialPercent).toFixed(2));
                        //calcAdditive += materialPercent;
                        $("#WRecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(materialPercent);

                        if ($("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".kValue").text() != "") {
                            calcAdditeiveKValue += materialPercent * parseFloat($("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".kValue").text());
                        }

                    }

                }
                else if ($(e).find(".unit").val() == "1") {
                    var materialPercent = parseFloat($(e).find(".materialPercent").val().replace(',','.'));
                    var materialDensity = parseFloat($(e).attr("density"));
                    var price = parseFloat($(e).attr("price"));
                    
                    if (($(e).attr("materialtype") == "4")) { //wasser

                        var waterWeight = parseFloat((calcWater * (materialPercent / 100)).toFixed(0));
                        var fix = parseFloat(Math.floor((waterWeight + 8) / 17));
                        var vol = parseFloat((waterWeight + fix) * ((materialDensity - 2) * -1));
                        calcVolum += vol - waterWeight;
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text(vol);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text(waterWeight + fix);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text(waterWeight);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(fix);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text((price / 1000 * materialPercent).toFixed(2));
                        //calcWater += materialPercent;
                        $("#RecipeCalcDensityTable tr[materialtype='4'][id!='" + $(e).attr("id") + "']").find(".volumn").text((calcWater - waterWeight).toFixed(1));
                        $("#RecipeCalcDensityTable tr[materialtype='4'][id!='" + $(e).attr("id") + "']").find(".weight").text(calcWater - waterWeight);
                        $("#RecipeCalcDensityTable tr[materialtype='4'][id!='" + $(e).attr("id") + "']").find(".waterWeight").text(calcWater - waterWeight);
                        $("#RecipeCalcDensityTable tr[materialtype='4'][id!='" + $(e).attr("id") + "']").find(".fix").text(0);

                        $("#SolidMaterialrest").val(fix);
                        //Feucht
                        $("#WRecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(0);

                    }
                    else if (($(e).attr("materialtype") == "3")) { //zusatz
                        var cemWeight = parseFloat((calcCement * (materialPercent / 100)).toFixed(2));
                        var vol = parseFloat((cemWeight / materialDensity).toFixed(2));
                        calcVolum += vol;
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text(vol);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text(cemWeight);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text(cemWeight);
                        //$("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(fix);
                        $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text((price / 1000 * materialPercent).toFixed(2));
                        //calcWater += materialPercent;


                        // $("#SolidMaterialrest").val(fix);
                        //Feucht
                        $("#WRecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text(0);
                    }
                }
            }
        })
        $("#WaterContent").val(calcWater.toFixed(0));
        $("#AdditionWater").val(calcWater.toFixed(0));
        $("#ContentOfCement").val(calcCement.toFixed(0));

        $("#WZValue").val((calcWater / calcCement).toFixed(2).replace(/\./g, ',') == "NaN" ? "0" : (calcWater / calcCement).toFixed(2).replace(/\./g, ','));
        $("#WZValueEq").val((calcWater / (calcCement + calcAdditeiveKValue)).toFixed(2).replace(/\./g, ',') == "NaN" ? "0" : (calcWater / (calcCement + calcAdditeiveKValue)).toFixed(2).replace(/\./g, ','));


        //ZementLeim
        var zL = 0;
        $("#RecipeCalcDensityTable tr[materialtype='4']").each(function (t, k) {
            zL += parseFloat($(k).find(".waterWeight").text());
        });
        $("#RecipeCalcDensityTable tr[materialtype='2']").each(function (t, k) {
            zL += parseFloat($(k).find(".volumn").text());
        })
        $("#ClementPaste").val(zL.toFixed(0));

        $("#SurfaceDamp").val(0);
        $("#MasterUnit").val(1);
        $("#Additive").val(calcAdditive.toFixed(0));
        var gradingVolum = 1000 - calcVolum;

        $("#gradingCurvMaterialTable tbody tr").each(function (i, e) {
            if ($(e).attr("materialtype") == "1") {
                if ($(e).find(".unit").length == 0 || $(e).find(".unit").val() == "1" ) { //0=kg 1=%
                    var materialPercent = parseFloat($(e).find(".materialPercent").text());
                    var airVoidContent = parseFloat($("#AirVoidContent").val().replace(',', '.'));
                    var airPercent = (gradingVolum - (1000 * (airVoidContent / 100))) / gradingVolum;
                    var matVol = gradingVolum / 100 * materialPercent * airPercent;
                    var materialDensity = parseFloat($(e).attr("density"));
                    var price = parseFloat($(e).attr("price"));
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text(matVol.toFixed(2));
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text((matVol * materialDensity).toFixed(2));
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text("");
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text((matVol * materialDensity).toFixed(2));
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text(((price / 1000) * matVol * materialDensity).toFixed(2));
                    //Feucht
                    $("#WRecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text((matVol * materialDensity).toFixed(2));
                }
                else {
                    var materialPercent = parseFloat($(e).find(".materialPercent").val());
                    var airVoidContent = parseFloat($("#AirVoidContent").val().replace(',', '.'));
                    var airPercent = (gradingVolum - (1000 * (airVoidContent / 100))) / gradingVolum;
                    var matVol = gradingVolum / 100 * materialPercent * airPercent;
                    var materialDensity = parseFloat($(e).attr("density"));
                    var price = parseFloat($(e).attr("price"));
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".volumn").text((materialPercent / materialDensity).toFixed(2));
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".weight").text(materialPercent);
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".waterWeight").text("");
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".fix").text((materialPercent).toFixed(2));
                    $("#RecipeCalcDensityTable tr[id=" + $(e).attr("id") + "]").find(".price").text(((price / 1000) * materialPercent).toFixed(2));
                }
            }
        })
        calcDryValues();

        //----------Berechnen der trockenwerte ende
        var ar = ['colname="C0_25"', 'colname="C0_5"', 'colname="C1"', 'colname="C2"', 'colname="C4"', 'colname="C8"', 'colname="C16"', 'colname="C31_5"', 'colname="C63"'];
        var kSum = 0;
        $(ar).each(function (i, e) {
            var a = 100 - parseFloat($('.sumWeight tr[row="0"] input[' + e + ']').val().replace(',', '.'));
            //if (a != 100)
            kSum += a;
        });
        //warnung:
        if ($("#gradingCurvMaterialTable .materialRow[type='3']").length == 0) {
            $(".gradingCurvMaterialTableerror .equipment").remove();
            $(".gradingCurvMaterialTableerror").append('<li class="equipment" ><p style="color:red">Es wurde kein Steuerrezept ausgewählt</p></li>');
        }
        else {
            $(".gradingCurvMaterialTableerror .equipment").remove();
        }


        $("#Lims_gradingCurv_GradingCurv_KValue").val((kSum / 100).toFixed(3));
        $("#DSumm").val((900 - kSum).toFixed(3));
        updateChart();
    }
    function togglePanalBody(e) {
        if ($(e).parent().find("i").hasClass("fa-chevron-down")) {
            $(e).parent().find("i").removeClass("fa-chevron-down");
            $(e).parent().find("i").addClass("fa-chevron-up")
            $(e).parent().find(".panel-body").show();
        }
        else {
            $(e).parent().find("i").addClass("fa-chevron-down");
            $(e).parent().find("i").removeClass("fa-chevron-up")
            $(e).parent().find(".panel-body").hide();
        }
    }
    function updateChart() {
        //var label = [];
        //$(".siveSizeRow th").each(function (i, e) {
        //    label.push($(e).text().trim());
        //})

        //var ProbValues = [];

        //$('.calculation tr[row="1"] td input').each(function (i, e) {
        //    if (!$(e).val()) {
        //        ProbValues.push(null);
        //    }

        //    else if ($(e).val()) {
        //        ProbValues.push(parseFloat($(e).val().replace(/,/g, '.')));
        //    }

        //})




        var data = {
            labels: label,
            datasets: [
                        {
                            label: "siveLine",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgb(4, 42, 239)",
                            pointColor: "rgb(4, 42, 239)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgb(4, 42, 239)",
                            data: siveLine
                        },
                {
                    label: "A",
                    fillColor: "rgba(220,220,220,0.9)",
                    strokeColor: "rgb(4, 42, 239)",
                    pointColor: "rgb(4, 42, 239)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(4, 42, 239)",
                    data: A
                },
                {
                    label: "B",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: B
                },
                {
                    label: "C",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(215, 40, 40, 0.9)",
                    pointColor: "rgba(215, 40, 40, 0.9)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(215, 40, 40, 0.9)",
                    data: C
                },
                {
                    label: "U",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(106, 255, 66, 0.9)",
                    pointColor: "rgba(106, 255, 66, 0.9)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(106, 255, 66, 0.9)",
                    data: U
                    //data: [null, null, 3, 8, null, 30, 30, 30, 100]
                }
            ]
        };

        //if (GradingRuleChart) {
        $("#GradingRuleChart").remove();
        $("#chartDiv").html('<canvas id="GradingRuleChart" width="800" height="350"></canvas>');
        //}
        var ctx = $("#GradingRuleChart").get(0).getContext("2d");
        var GradingRuleChart = new Chart(ctx).Line(data, config);
    }
    //--------------------------------------- Modal Filter start
    function headFilterChangeModal(ev) {
        filterModal();
    }
    function headFilterKeyDownModal(ev) {
        if (this.event.keyCode != 13) {
            return;
        }
        filterModal();
    }
    function filterModal(element, para, repUrl) {
        var object = {};
        var tableName = "";
        var filters = [];
        $(".modal-dialog .head-filter").each(function (i, e) {
            var sFilter = {};
            sFilter["colName"] = $(e).attr("columnname");
            if ($(e).find("input").val())
                sFilter["colVal"] = $(e).find("input").val();
            if ($(e).find("select").val())
                sFilter["colVal"] = $(e).find("select").val();
            tableName = $(e).attr("tablename");
            if (sFilter["colVal"])
                filters.push(sFilter);
        });
        var page = $(".tableContent[tablename='" + tableName + "'] .pagination .active a").attr("pn");
        var size = $(".tableContent[tablename='" + tableName + "'] .pagesize").val();
        var _url = window.location.href;
        if (para === "report") {
            //_url = '/Admin/Facilities/Report';
            _url = repUrl;
            object["report"] = true;
        }
        if ($(".modal-dialog table").attr("url"))
            _url = $(".modal-dialog table").attr("url");
        object["page"] = page;
        object["pageSize"] = size;
        object["pagFulFilter"] = filters;
        object["orderCol"] = $(".tableContent[tablename='" + tableName + "'] .sort").attr("colname");
        object["orderDir"] = $(".tableContent[tablename='" + tableName + "'] .sort").attr("order");

        //object["pg"] = object;
        var pg = {};
        pg["pg"] = object;
        $.ajax({
            //url: "/home/roles",
            url: _url,
            type: "POST",
            data: JSON.stringify(pg),
            dataType: "text",
            contentType: 'application/json',

            success: function (data) {
                //$(tableName).parent("table").find("tbody").replaceWith(data);
                $(".tableContent[tablename='" + tableName + "']").replaceWith(data);
                init();
                if (object["orderCol"]) {
                    $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").addClass("sort");
                    if (object["orderDir"] === "desc") {
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").attr("order", "desc");
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").append(' <i class="fa fa-sort-desc"></i>');
                    }
                    else {
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").attr("order", "asc");
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").append(' <i class="fa fa-sort-asc"></i>');
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
                alert(textStatus);
                alert(jqXHR);
            }
        });
    }
    //--------------------------------------- Modal Filter ende
</script>