﻿@model PCMS.Areas.Recipe.Models.md_recipe_Recipe





<div id="PanelDryValues" class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabdDry" data-toggle="tab">Trockenwerte</a></li>
            @*<li><a href="#tabdWet" data-toggle="tab">Feuchtwerte</a></li>*@
            <li><a href="#tabdDetail" data-toggle="tab">Detail</a></li>
            <li><a href="#tabSort" data-toggle="tab">Sorte</a></li>
            <li><a href="#tabdParam" data-toggle="tab">Parameter</a></li>
        </ul>
        @* <h3 class="panel-title"><span></span>Trockenwerte<i style="float:right" class="fa fa-chevron-up"></i></h3>*@
    </div>

    <div style="" class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabdDry">
                @*-------Trocke -------*@
                @Html.Partial("Create_partial_Dry", Model)
                </div>
            <div class="tab-pane fade" id="tabdWet">
                @*-------Feucht-------*@
                @Html.Partial("Create_partial_Wet", Model)
            </div>
            <div class="tab-pane fade" id="tabdDetail">
                @*-------Detail-------*@
                @Html.Partial("Create_partial_Detail", Model)
            </div>
            <div class="tab-pane fade" id="tabdParam">
                @*-------Parameter-------*@
                @Html.Partial("Create_partial_Param", Model)
            </div>
            <div class="tab-pane fade" id="tabSort">
                @*--------Sorte--------*@
                <div class="row">
                    <table class="table" id="RecepiSorts" style="margin-top: 50px;">
                        <thead>
                            <tr>
                                <th>Sorte</th>
                                <th>Bezeichnung</th>
                                <th>Gültig</th>
                                <th>Aktiv</th>
                                <th>Optionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.RecipeConcrete)
                                {
                                    <tr class="sort" id="@item.Md_material_Material.Id" materialtype="@item.Md_material_Material.MaterialGroupId"><td class="articelNumber">@item.Md_material_Material.ArticleNumber</td><td class="decription">@item.Md_material_Material.Name</td><td class="Valid"><select><option @((item.Valid) == 0 ? "selected" : "") value="0">---</option><option @((item.Valid) == 1 ? "selected" : "") value="1">Standard</option><option @((item.Valid) == 2 ? "selected" : "") value="2">Sommerrezept</option><option @((item.Valid) == 3 ? "selected" : "") value="3">Winterrezept</option></select></td><td><input class="activ" @((item.Active) ? "checked" : "") type="checkbox"></td><td class=""><a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>
                                }
                            }
                            
                            <tr class="addTr"><td></td><td></td><td></td><td></td><td><a><i style="color:green" onclick="addMaterial('/Recipe/md_recipe_Recipe/choosConcrete')" class="fa fa-plus"></i></a></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function writeRowNumbers() {
        $(".materialRow").each(function (i, e) {
            $(e).find(".rowNumber").text(i + 1);
            $(e).find(".rowNumber").attr("line", i + 1);
            //$(e).find(".rowNumber").html('<input  style="width:45px" type="text" value="' + (i + 1) + '" >');
            if ($(e).find(".rowNumber input").length != 0) {
                $(e).find(".rowNumber").html((i + 1));
            }
        });
        $("#RecipeCalcDensityTable tbody tr").each(function (i, e) {
            $(e).attr("line", i + 1);
        })
        $("#WRecipeCalcDensityTable tbody tr").each(function (i, e) {
            $(e).attr("line", i + 1);
        })
        $(".materialRow").off("click");
        $(".materialRow[materialtype!='1']").on("click", function () {
            if ($(this).find(".rowNumber input").length == 0) {
                $(".materialRow").each(function (i, e) {
                    if ($(e).find(".rowNumber input").length != 0) {
                        $(e).find(".rowNumber").html($(e).find(".rowNumber input").attr("old"));
                    }
                });
                $(this).find(".rowNumber").html('<input  style="width:45px" old="' + ($(this).find(".rowNumber").text()) + '" type="text" value="' + ($(this).find(".rowNumber").text()) + '" >');
                $(".materialRow input").off("keypress");
                $(".materialRow input").on("keypress", function (e) {
                    if (e.which == 13) {
                        changeSort(this);
                        event.preventDefault();
                    }
                });
                $(".materialRow input").off("change");
                $(".materialRow input").on("change", function (e) {
                        changeSort(this);
                });
            }
        })
    }
    function changeSort(e) {
        var line = ($(e).closest("tr").clone());
        var lineOld = $(e).closest("tr").find(".rowNumber").attr("line");
        var number = $(e).closest("tr").find(".rowNumber input").val();
        var lineD = ($('#RecipeCalcDensityTable tbody tr[line="' + lineOld + '"]').clone());
        var lineW = ($('#WRecipeCalcDensityTable tbody tr[line="' + lineOld + '"]').clone());
        lineD = $(lineD).attr("line", "x");
        lineW = $(lineW).attr("line","x");
        if ($(e).closest("tbody").find('.materialRow[materialtype!="1"] .rowNumber[line="' + number + '"]').length == 1) {
            $(e).closest("tbody").find('.rowNumber[line="' + number + '"]').closest("tr").before(line);
            $('#RecipeCalcDensityTable tbody tr[line="' + number + '"]').before(lineD);
            $('#WRecipeCalcDensityTable tbody tr[line="' + number + '"]').before(lineW);
            $('#RecipeCalcDensityTable tbody tr[line="' + lineOld + '"]').remove();
            $('#WRecipeCalcDensityTable tbody tr[line="' + lineOld + '"]').remove();
            $(e).closest("tr").remove();
        }
        else if (number >= $(e).closest("tbody").find('.rowNumber').length) {
            $(e).closest("tbody").find('.rowNumber[line="' + ($(e).closest("tbody").find('.rowNumber').length) + '"]').closest("tr").after(line);
            $('#RecipeCalcDensityTable tbody').append(lineD);
            $('#WRecipeCalcDensityTable tbody').append(lineW);
            $('#RecipeCalcDensityTable tbody tr[line="' + lineOld + '"]').remove();
            $('#WRecipeCalcDensityTable tbody tr[line="' + lineOld + '"]').remove();
            $(e).closest("tr").remove();
        }
        writeRowNumbers();
    }
    function getRecipeById(e) {
        var id = $(e).closest("tr").find("td[columnname='Id']").text().trim();
        var number = $(e).closest("tr").find("td[columnname='Number']").text().trim();
        var name = $(e).closest("tr").find("td[columnname='Description']").text().trim();
        var newTd = '<tr id="' + id + '" type="3" class="materialRow"><td class="rowNumber"></td><td class="materialArticleNumber">' + number + '</td><td>' + name + '</td><td><input class="materialId" name="materialId" type="hidden" value="' + id + '" >---</td><td>Rezept</td><td></td><td>  <a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
        $(newTd).insertBefore("#gradingCurvMaterialTable .addTr");
        writeRowNumbers();
        if ($("#gradingCurvMaterialTable .materialRow[type='3']").length == 0) {
            $(".gradingCurvMaterialTableerror").append('<li class="equipment" ><p style="color:red">Es wurde kein Steuerrezept ausgewählt</p></li>');
        }
        else {
            $(".gradingCurvMaterialTableerror .equipment").remove();
        }

    }
</script>

