﻿@model PCMS.Areas.Recipe.Models.md_recipe_Recipe

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.MasterUnit, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.MasterUnit, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MasterUnit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => (model.AirVoidContent), htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.AirVoidContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AirVoidContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WaterContent, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.WaterContent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.WaterContent)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContentOfCement, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ContentOfCement, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ContentOfCement)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Additive, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Additive, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Additive)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SolidMaterialrest, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SolidMaterialrest, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.SolidMaterialrest)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Aggregate, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Aggregate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Aggregate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AggregateFixed, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.AggregateFixed, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.AggregateFixed)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SurfaceDamp, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SurfaceDamp, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.SurfaceDamp)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AdditionWater, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.AdditionWater, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.AdditionWater)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WetConcreteDensity, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.WetConcreteDensity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.WetConcreteDensity)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.MealGrain, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.MealGrain, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MealGrain)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MealFineGrain, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.MealFineGrain, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MealFineGrain)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MortarContent, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.MortarContent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MortarContent)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ClementPaste, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ClementPaste, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ClementPaste)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WZValue, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.WZValue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.WZValue)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WZValueEq, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.WZValueEq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WZValueEq)
            </div>
        </div>
    </div>



</div>
<div class="row">
    <table class="table table-condensed" id="RecipeCalcDensityTable" style="margin-top: 50px;">
        <thead>
            <tr>
                <th>k-Wert</th>
                <th>Dichte kg/dm³</th>
                <th>Volumen dm³</th>
                <th>Gehalt kg/m³</th>
                <th>Feuchte %</th>
                <th>Wasser kg/m³</th>
                <th>Feste kg/m³</th>
                <th>Preisanteil €</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    function calcDryValues() {
        var Aggregate = 0;
        var AggregateV = 0;
        var AggregateFixed = 0;
        var WetConcreteDensity = 0;
        var AdditionWater = 0;
        var AdditionWaterV = 0;
        var ContentOfCement = 0;
        var ContentOfCementV = 0;
        var Additive = 0;
        var AdditiveV = 0;
        var Price = 0;
        $("#RecipeCalcDensityTable tbody tr[type!='3']").each(function (i, e) {
            if ($(e).attr("materialType") == "1") {
                Aggregate += parseFloat($(e).find(".weight").text());
                AggregateFixed += parseFloat($(e).find(".weight").text());
                AggregateV += parseFloat($(e).find(".volumn").text());
            }
            if ($(e).attr("materialType") == "4") {
                AdditionWater += parseFloat($(e).find(".weight").text());
                AdditionWaterV += parseFloat($(e).find(".volumn").text());
            }
            if ($(e).attr("materialType") == "2") {
                ContentOfCement += parseFloat($(e).find(".weight").text());
                ContentOfCementV += parseFloat($(e).find(".volumn").text());
            }
            if ($(e).attr("materialType") == "6") {
                Additive += parseFloat($(e).find(".weight").text());
                AdditiveV += parseFloat($(e).find(".volumn").text());
            }
            WetConcreteDensity += parseFloat($(e).find(".weight").text());
            var tPrice = parseFloat($(e).find(".price").text());
            Price += (parseFloat(isNaN(tPrice) == true ? "0" : tPrice));
        })
           
        
        $("#Aggregate").val(Aggregate.toFixed(0));
        $("#AggregateFixed").val(AggregateFixed.toFixed(0));
        $("#WetConcreteDensity").val(WetConcreteDensity.toFixed(0));
        $("#AdditionWater").val(AdditionWater.toFixed(0));
        $("#ContentOfCement").val(ContentOfCement.toFixed(0));
        if (!$("#SolidMaterialrest").val())
            $("#SolidMaterialrest").val(0);
        var RCWater = parseFloat($("#SolidMaterialrest").val());
        $("#MealGrain").val(((Aggregate / 100 * siveLine[1]) + ContentOfCement + Additive + RCWater).toFixed(0));
        if ($("#MealGrain").val() == "")
            $("#MealGrain").val(0);
        $("#MealFineGrain").val(((Aggregate / 100 * siveLine[2]) + ContentOfCement + Additive + RCWater).toFixed(0));
        if ($("#MealFineGrain").val() == "")
            $("#MealFineGrain").val(0);

        $("#MortarContent").val((AdditionWaterV + ContentOfCementV + AdditiveV + (parseFloat($("#AirVoidContent").val()) * 10) + (AggregateV / 100 * siveLine[6]) + RCWater).toFixed(0));
        if ($("#MortarContent").val() == "")
            $("#MortarContent").val(0);
        //$("#ClementPaste").val(0);
        
        $("#AirVoidContent").val($("#AirVoidContent").val() ? $("#AirVoidContent").val() : 0);
        $("#Price").val(Price.toFixed(2).replace(/\./g, ','));
        calcPosition();
    }
</script>