﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Kunden bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.customer.Id)
    @Html.HiddenFor(model => model.customer.AddressId)
    @Html.HiddenFor(model => model.customer.ContactId)
    @Html.HiddenFor(model => model.address.Id)
    @Html.HiddenFor(model => model.contact.Id)
    @Html.HiddenFor(model => model.custRating.Id)
    
    <div id="rId">@Html.HiddenFor(model => model.customer.CustomerRatingId)</div>



    @*@Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")*@
    @*<div class="row">
        @Html.Partial("~/Views/Shared/_Partial_Cancel_Save_Customer_t.cshtml", new ViewDataDictionary { { "Customer", "/MasterData/md_masterData_Customer/VehicleIndex" } })
    </div>*@

    <div class="row">
        <div class="col-md-2"><a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-times"></i> Abbrechen</a></div>
        @*<div class="col-md-2">  <button type="button" onclick="openModal('@Url.Action("VehicleIndex/" + Model.customer.Id,"md_masterData_Customer", new { area = "MasterData" } )', Title='Liste der Fahrzeuge')" class="btn btn-default"><i class="fa fa-truck"></i> Fahrzeuge </button></div>
        <div class="col-md-2">  <button type="button" onclick="openModal('@Url.Action("ConstructionSiteIndex/" + Model.customer.Id,"md_masterData_Customer", new { area = "MasterData" } )', Title='Liste der Baustellen')" class="btn btn-default"><i class="fa fa-building"></i> Baustellen </button></div>*@
        <div class="col-md-2 col-lg-offset-2">  <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    </div>
    

    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Kundendaten</h3></div>
    </div>
    <div><br /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.Name)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.CustomerId, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.CustomerId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.CustomerId)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.CustomerIdEDV, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.CustomerIdEDV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.CustomerIdEDV)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div style="display:none" class="row">
        <div class="col-md-2 col-md-offset-1">
            <input type="button" class="btn btn-default" value="Händler auswählen" style="width:240px;" onclick="openModal('@Url.Action("ChooseTrader","md_masterData_Customer", new { area = "MasterData" } )')" />
        </div>
        <div class="col-md-2 col-md-offset-1">
            <input type="button" class="btn btn-default" value="Bonität auswählen" style="width:240px;" onclick="openModal('@Url.Action("chooseRating","md_masterData_Customer", new { area = "MasterData" } )')" />
        </div>
    </div>
    <div style="display:none" ><br /></div>
    <div  style="display:none" class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.TraderId, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.TraderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.TraderId)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.custRating.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.custRating.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.custRating.Description)
            </div>
        </div>
    </div>
    <div style="display:none" class="col-md-12"><hr /></div>

    <div style="display:none" class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.Discount, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.Discount)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.IsProducer, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.IsProducer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.IsProducer)
            </div>
        </div>
        <div style="display:none" class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.ProducerNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div style="display:none" class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.ProducerNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.ProducerNumber)
            </div>
        </div>
    </div>
        <div style="display:none" class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.customer.IsCarrier, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.customer.IsCarrier, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.customer.IsCarrier)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.customer.CarrierNumber, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.customer.CarrierNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.customer.CarrierNumber)
                </div>
            </div>
        </div>
        <div style="display:none" class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.customer.IsDisposal, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.customer.IsDisposal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.customer.IsDisposal)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.customer.DisposalNumber, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.customer.DisposalNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.customer.DisposalNumber)
                </div>
            </div>
        </div>
    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Ansprechpartner</h3></div>
    </div>
    <div><br /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.contact.FirstName, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.contact.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.FirstName)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.contact.LastName, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.contact.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.LastName)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.contact.Tel, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.contact.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Tel)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.contact.Mobile, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.contact.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Mobile)
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}