﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Customer>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Customer">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Kunden Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    <a class="btn btn-default" href="@Url.Action("Create","md_masterData_Customer", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neuer Kunde</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_masterData_Customer", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)

    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Customer" editUrl="@Url.Action("Edit", "md_masterData_Customer", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Customer", new { area = "masterData" })">
            <thead>
                <tr class="caption">
                    <th onclick="sort(this)" editable="false" colname="CustomerId" style="">
                        @Html.DisplayNameFor(model => model[0].CustomerId)
                    </th>
                    <th onclick="sort(this)" editable="true" colname="Name" style="">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="Street" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.Street)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="ZipCode" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.ZipCode)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="City" style="">
                        @Html.DisplayNameFor(model => model[0].Md_masterData_Address.City)
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="CustomerId" tablename="md_masterData_Customer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Customer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="Street" tablename="md_masterData_Customer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="ZipCode" tablename="md_masterData_Customer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnname="City" tablename="md_masterData_Customer">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value" columnname="CustomerId" style="" tablename="md_masterData_Customer">
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td class="column-value" columnname="Name" style="" tablename="md_masterData_Customer">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="column-value" columnname="Street" style="" tablename="md_masterData_Customer">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.Street)
                        </td>
                        <td class="column-value" columnname="ZipCode" style="" tablename="md_masterData_Customer">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.ZipCode)
                        </td>
                        <td class="column-value" columnname="City" style="" tablename="md_masterData_Customer">
                            @Html.DisplayFor(modelItem => item.Md_masterData_Address.City)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
