﻿@model IEnumerable<PCMS.Models.Menu>

@{
    //ViewBag.Title = "MenuPartial";
    Layout = null;
    //Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    @*<input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>*@
                    <select class="form-control" id="selectedFacility" onChange="facilityChange()">
                        @Html.Raw(ViewBag.Facility)
                    </select>
                </div>
                <!-- /input-group -->
            </li>


            @foreach (var item in Model)
            {
                <li>
                    @{bool subGroup = false;}

                    @if (item.gr.ParentGroup.ToString() == "")
                    {
                        <a href="#"><i class="fa fa-@Html.DisplayFor(modelItem => item.gr.Icon) fa-fw"></i> @Html.DisplayFor(modelItem => item.gr.Label)</a>
                    }

                    @foreach (var itemSub in Model)
                    {
                        if (item.gr.Id == itemSub.gr.ParentGroup)
                        {
                            subGroup = true;

                        }

                    }


                    @if (item.elem.Count >= 1 || subGroup == true)
                    {
                        <ul class="nav nav-second-level collapse test">

                            @foreach (var itemSub in Model)
                            {
                                if (item.gr.Id == itemSub.gr.ParentGroup)
                                {
                                    <li>
                                        <a href="#"><i class="fa fa-@Html.DisplayFor(modelItem => itemSub.gr.Icon) fa-fw"></i> @Html.DisplayFor(modelItem => itemSub.gr.Label)</a>


                                        @if (itemSub.elem.Count > 0)
                                        {
                                            <ul class="nav nav-third-level collapse">
                                                @foreach (var subItem in itemSub.elem)
                                                {
                                                    <li>
                                                        <a href="@Url.Action(subItem.Action, subItem.Controller, new { area = subItem.Area }, null)"><i class="fa fa-@subItem.Icon fa-fw"></i> @subItem.Label</a>
                                                    </li>
                                                }
                                            </ul>
                                        }


                                    </li>
                                }

                            }


                            @foreach (var subItem in item.elem)
                            {
                                if (item.gr.Id == subItem.MenuGroupId)
                                {
                                    <li>
                                        @*@Html.ActionLink("<i class=\"fa fa-" + subItem.Icon + "\"></i>" + subItem.Label, subItem.Action, subItem.Controller, new { area = subItem.Area },null)*@
                                        <a href="@Url.Action(subItem.Action, subItem.Controller, new { area = subItem.Area }, null)"><i class="fa fa-@subItem.Icon fa-fw"></i> @subItem.Label</a>
                                    </li>
                                }
                            }

                        </ul>
                    }
                </li>
                        }
        </ul>
    </div>
    <script type="text/javascript">
        function facilityChange() {
            if($("#selectedFacility").val() === -1)
                return;


            $.ajax({
                url : '@Url.Action("facilityChange", "Menu")',
                type : 'POST',
                data : {
                    'fid' : $("#selectedFacility").val()
                },
                dataType:'json',
                success : function(data) {              
                    window.location.reload();
                },
                error : function(request,error)
                {
                    alert("Es ist ein Fehler aufgetretten");
                }
            });
        }

    </script>
</div>


